<div class="top-bar text-bg-success" style="padding: 3px 18px; ">
<div class="d-md-inline-block" style="padding: 0 16px 0 0;">
  <div class="d-md-inline fs-6 me-3"><i class="fa fa-phone"></i> 08168091243 </div>
  <div class="d-md-inline fs-6 me-3"> <i class="fa fa-envelope"></i> paye&#64;eirs.gov.ng </div>
  <div class="d-md-inline fs-6">Mon - Fri. 8am to 5pm </div>  
</div>
</div>



 <header class="top-navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="index.html">
        <img src="assets/image/icon.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbars-host"
        aria-controls="navbars-rs-food"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbars-host">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLinkActive]="['active']"
              [routerLink]="['/home']"
              ><i class="fa fa-home"></i> Home</a
            >
          </li>
          <!-- <li class="nav-item">
            <a
              [routerLinkActive]="['active']"
              class="nav-link disabled"
              [routerLink]="['/aboutus']"
              >About Us</a
            >
          </li> -->          
          <!-- <li class="nav-item">
            <a
              [routerLinkActive]="['active']"
              class="nav-link disabled"
              [routerLink]="['/contactus']"
              >Contact Us</a
            >
          </li> -->
          <li class="nav-item">
            <a
              [routerLinkActive]="['active']"
              class="nav-link"
              [routerLink]="['/login']"
              ><i class="fa fa-sign-in"></i> Sign In</a
            >
          </li>
          <li class="nav-item">
            <a
              [routerLinkActive]="['active']"
              class="nav-link disabled"
              [routerLink]="['/faqs']"
              ><i class="fa fa-wechat"></i> FAQs</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- End header -->
