<div class="card card-secondary view-employee">
  <div class="card-header custome">
    <h3 class="card-title">Employee Details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="overflow-auto">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Employee ID</td>
            <td>{{ injectedData.employeeId }}</td>
          </tr>

          <tr>
            <td>Employee RIN</td>
            <td>{{ injectedData.employeeRIN }}</td>
          </tr>

          <tr>
            <td>Employee Name</td>
            <td>{{ injectedData.employeeName }}</td>
          </tr>

          <tr>
            <td>TCC Status</td>
            <td>{{ injectedData.tccStatus }}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        mat-dialog-close>
        Ok
      </button>
    </div>

  </div>
</div>
