<div class="monthly-remittance">
  <div class="monthly-remittance-header">
    <h4 class="monthly-remittance-header-title">TCC Application</h4>

    <div class="table-header">
      <div class="table-header-cont-1">
        <button
          class="btn btn-outline-success"
          (click)="processTCC()"
          [disabled]="btnLoading() || dataLoading() || !employeeIds().length">
          Process TCC Request
        </button>
      </div>

      <!-- <div class="table-header-cont-2">
        <input
          class="form-control"
          #searchTable
          type="search"
          placeholder="search business name"
          [value]="queryString()"
          (keyup)="queryTable(searchTable)"
          (search)="queryTable(searchTable)" />
      </div> -->
    </div>
  </div>

  <div class="monthly-remittance-body">
    <div class="container">
      <table class="table table-bordered table-condensed" width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Employee RIN</th>
            <th>Employee Name</th>
            <th>Status</th>
            <th>Request TCC</th>
            <th>Select</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          @if(dataLoading()){
          <tr>
            <td colspan="100%">
              <ngx-skeleton-loader count="2" />
            </td>
          </tr>
          } @else if (dataMessage()) {
          <tr>
            <td colspan="100%">
              <span>{{ dataMessage() }}</span>
            </td>
          </tr>
          } @else { @for (employee of employeeDetails(); track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ employee?.employeeRIN }}</td>
            <td>{{ employee?.employeeName | titlecase }}</td>

            <td>
              <span>{{ employee.tccStatus }}</span>
            </td>

            <td>
              <button
                (click)="processTCC(employee.employeeId)"
                [disabled]="
                  employee?.tccStatus?.toLowerCase() ===
                    'submitted' || dataLoading()
                ">
                <i class="nav-icon fas fa-folder-open"></i>
              </button>
            </td>

            <td>
              <input
                type="checkbox"
                name="status"
                (click)="addEmployeeId(employee.employeeId)"
                [disabled]="
                  employee?.tccStatus?.toLowerCase() ===
                  'submitted'
                " />
            </td>

            <td title="View">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="openTccView(employee)">
                <i class="nav-icon fas fa-eye"></i>
              </button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="100%">No data available.</td>
          </tr>
          } }
        </tbody>
      </table>

      <section>
        <!-- <mat-paginator
          [pageSize]="15"
          [pageIndex]="1"
          (page)="handlePageEvent($event)"
          showFirstLastButtons
          aria-label="Select page">
        </mat-paginator> -->
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login float-right"
      mat-dialog-close>
      Ok
    </button>
  </div>
</div>
