<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
    <section class="content">
      <div class="container-fluid">
        <!-- MAP & BOX PANE -->
        <div class="card">
          <div class="card-header card-bg">
            <h3 class="card-title mt-2"> Bill Payment</h3>
          </div>
          <div class="card-body">
            <table class="table table-responsive table-bordered table-sm row-border hover mt-4" id="example2" *ngIf="unpaidBillsData"
              datatable [dtOptions]="dtOptions">
              <thead style="white-space: nowrap">
                <tr>
                  <th>S/N</th>
                  <th>Consumer Name</th>
                  <th>Phone</th>
                  <th>Tariff Type</th>
                  <th>SubTariff Type</th>
                  <th>Consumer Reference</th>
                  <th>Contract Reference</th>
                  <th>DCP</th>
                  <th>Invoice </th>
                  <th>Current Amount (₦)</th>
                  <th>Amount Due (₦)</th>
                  <th>Amount Paid (₦)</th>
                  <th>Payment Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody style="white-space: nowrap">
                <tr *ngFor="let mydata of unpaidBillsData; index as i">
                  <td>{{ i + 1}}</td>
                  <td>{{ mydata.consumer_first_name }} {{ mydata.consumer_middle_name }} {{ mydata.consumer_last_name }}</td>
                  <td>{{ mydata.consumer_phone }}</td>
                  <td>{{ mydata.tariff_type_name }}</td>
                  <td>{{ mydata.sub_tariff_type_name }}</td>
                  <td>{{ mydata.consumer_reference }}</td>
                  <td>{{ mydata.contract_reference }}</td>
                  <td>{{ mydata.dcp }}</td>
                  <td>{{ mydata.invoice_number }}</td>
                  <td>{{ "₦" }} {{ mydata.current_amount | number:'1.0':'en-US' }}</td>
                  <td>{{ "₦" }} {{ mydata.amount_due | number:'1.0':'en-US' }}</td>
                  <td>{{ "₦" }} {{ mydata.amount_paid | number:'1.0':'en-US' }}</td>
                  <td>{{ mydata.payment_status_name }}</td>
                  <td style="width: 10%">
                    <button class="btn btn-sm btn-outline-success"
                      (click)="viewSingleBill(viewSingleBillModal,mydata)">
                      <i class="nav-icon fas fa-eye"></i> View
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <ng-template #viewSingleBillModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Single Bill </h4>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <div class="c-list-description p-0" *ngIf="singleBillData">
          <div>
            <div class="c-list-description-section">
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Consumer Name</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.consumer_first_name }} {{ singleBillData.consumer_middle_name }} {{
                  singleBillData.consumer_last_name }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Phone</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.consumer_phone }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Tariff Type</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.tariff_type_name }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Sub Tariff Type</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.sub_tariff_type_name }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Consumer Reference</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.consumer_reference}}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Contract Reference</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.contract_reference}}</strong></div>
              </div>

              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>DCP</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.dcp}}</strong></div>
              </div>

              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Invoice</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.invoice_number }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Previous Amount (₦)</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{ singleBillData.total_amount - singleBillData.current_amount | number:'1.0':'en-US'}}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Current Amount (₦)</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{ singleBillData.current_amount | number:'1.0':'en-US'}}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong> Amount Due (₦)</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{ singleBillData.amount_due | number:'1.0':'en-US' }}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Amount Paid (₦)</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{ singleBillData.amount_paid  | number:'1.0':'en-US'}}</strong></div>
              </div>
              <div class="c-list mb-3 border-bottom">
                <div class="c-list-text-special-left"><strong>Payment Status</strong></div>
                <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.payment_status_name }}</strong></div>
              </div>

              <div class="modal-footer" style="justify-content: space-between !important;">
                <button type="submit" *ngIf="singleBillData && singleBillData?.payment_status_name != 3" (click)="pay(singleBillData)"
                      class="btn btn-primary theme_btn tp_two my-1">
                      <i class="fas fa-plus-square"></i> Make Payment
                    </button>
                    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>




