<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
  <section class="content">
    <div class="container-fluid">
      <!-- Left col -->

      <!-- MAP & BOX PANE -->
      <div class="card">
        <div class="card-header card-bg">
          <h3 class="card-title mt-2"> Bill Payment</h3>
        </div>

        <div class="card-body">
          <form id="smp-form" [formGroup]="searchForm" autocomplete="off" class="mt-1"
          (ngSubmit)="onSubmitSearch()">
          <div class="form-row">

            <div class=" col-sm-4  mt-1">
              <div class="form-group">
                
                <select type="text" name="consumerSubcategory" id="consumerSubcategory"
                formControlName="consumerSubcategory" class="form-control"
                >
                <option value="" disabled="true">Select Consumer Sub-Category Type</option>
                <option *ngFor="let data of consumerSubCategory" [value]="data.id">
                  {{ data.name }}
                </option>
              </select>

                
              </div>
            </div>
            <div class=" col-sm-4  mt-1">
              <div class="form-group">
                 <select name="lga" formControlName="lga" id="lga" class="form-control"
                 (change)="getDistricts()">
                  <option value="" disabled="true">Select
                    Local Government</option>
                  <option *ngFor="let mydata of localGovtData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
             
              </div>
            </div>

            <div class=" col-sm-4  mt-1">
              <div class="form-group">
                 <select name="district" formControlName="district" id="district" class="form-control"
                 (change)="getZone()" >
                  <option value="" disabled="true">Select
                    District</option>
                  <option *ngFor="let mydata of distData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
             
              </div>
            </div>
            <div class=" col-sm-4  mt-1">
              <div class="form-group">
                 <select name="zone" formControlName="zone" id="zone" class="form-control"
                 >
                  <option value="" disabled="true">Select
                    Zone</option>
                  <option *ngFor="let mydata of zoneData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
             
              </div>
            </div>
            
            <div class=" col-sm-5 mt-1">
              <button type="submit" class="btn btn-primary font-12 smp-button">
                <i class="fas fa-search"></i> Search
              </button>
              <button type="button" class="btn btn-primary font-12 smp-button-clear" (click)="clearSearch()">
                <i class="fas fa-sync-alt"></i> Clear
              </button>
            </div>
          </div>
        </form>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="col-auto mbm-30">
              <div class="row m-35" *ngIf="unpaidBillsData">
                <div class="col-sm-4"  style="z-index: 1;">
                  <span>Show &nbsp; </span>
                  <select (change)="setItemsPerPage(page.value)" #page>
                    <option [selected]="currentPageLength == 10">10</option>
                    <option [selected]="currentPageLength == 30">30</option>
                    <option [selected]="currentPageLength == 50">50</option>
                    <option [selected]="currentPageLength == 100">100</option>
                    <option [selected]="currentPageLength == 500">500</option>
                    <option [selected]="currentPageLength == 1000">1000</option>
                  </select>
                  <span> &nbsp; entries </span>
                </div>
              </div>
            </div>
            <div>
              <div>
                <table class="table table-bordered table-sm row-border hover mt-4" id="example2" *ngIf="unpaidBillsData"
                datatable [dtOptions]="dtOptions">
                <thead style="white-space: nowrap">
                  <tr>
                    <th>S/N</th>
                    <th>Consumer Name</th>
                    <th>Phone</th>
                    <th>Tariff Type</th>
                    <th>SubTariff Type</th>
                    <th>Consumer Reference</th>
                    <th>Contract Reference</th>
                    <th>DCP</th>

                    <th>Invoice </th>
                    <th>Current Amount (₦)</th>
                    <th>Amount Due (₦)</th>
                    <th>Amount Paid (₦)</th>                   
                    <th>Payment Status</th>
                    <th>Settlement History</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody style="white-space: nowrap">
                  <tr *ngFor="let mydata of unpaidBillsData | paginate : config;let i = index">
                    <td>{{ config.itemsPerPage * (config.currentPage - 1) + i + 1 }}</td>
                    <td>{{ mydata.consumer_first_name }}{{ mydata.consumer_middle_name }}{{ mydata.consumer_last_name
                      }}</td>
                    <td>{{ mydata.consumer_phone }}</td>
                    <td>{{ mydata.tariff_type_name }}</td>
                    <td>{{ mydata.sub_tariff_type_name }}</td>
                    <td>{{ mydata.consumer_reference }}</td>
                    <td>{{ mydata.contract_reference }}</td>
                    <td>{{ mydata.dcp }}</td>
                    <td>{{ mydata.invoice_number }}</td>
                    <td>{{ "₦" }} {{ mydata.current_amount | number:'1.0':'en-US' }}</td>
                    <td>{{ "₦" }} {{ mydata.amount_due | number:'1.0':'en-US' }}</td>
                    <td>{{ "₦" }} {{ mydata.amount_paid | number:'1.0':'en-US' }}</td>
                    <td>{{ mydata.payment_status_name }}</td>
                    <td style="width: 10%" [ngClass]="{
                      'hdiv': mydata.payment_status_name == 'Awaiting Payment',
                      '' : mydata.payment_status_name != 'Awaiting Payment'
                    }">
                      <button class="btn btn-sm btn-outline-success"
                          (click)="viewSettlement(viewSettlementModal,mydata)"
                          [ngClass]="{
                            'pointers': mydata.payment_status_name == 'Awaiting Payment',
                            '' : mydata.payment_status_name != 'Awaiting Payment'
                          }">
                          <i class="nav-icon fas fa-eye"></i> View Settlement
                        </button>
                    </td>
                    <td style="width: 10%">
                      <button class="btn btn-sm btn-outline-success"
                        (click)="viewSingleBill(viewSingleBillModal,mydata)">
                        <i class="nav-icon fas fa-eye"></i> View
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>

              <div class="row m-0 mt-3">
                <div class="col-sm-6">
                  <div id="page_info" class="record-show-text-bottom" *ngIf="unpaidBillsData">
                    Showing
                    {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} -
                    {{ config.currentPage * config.itemsPerPage }} &nbsp; of
                    &nbsp;{{ config.totalItems }}
                    &nbsp; entries
                  </div>
                </div>
                <div class="col-sm-6">
                  <div *ngIf="unpaidBillsData">
                    <pagination-controls (pageChange)="pageChange($event)" class="float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>

      <!-- /.card -->
      <!-- </div> -->
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- 
<ng-template #viewSingleBillModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Single Bill </h4>
  </div>
  <div class="modal-body">
    <div class="card-body">

      <div class="table-responsive">

        <table class="table table-bordered table-sm row-border hover mt-3" id="example2" *ngIf="singleBillData"
          datatable [dtOptions]="dtOptionsPopUp1">
          <thead style="white-space: nowrap;">
            <tr>
              <th>Consumer Name</th>
              <th>Phone</th>
              <th>Tariff Type</th>
              <th>SubTariff Type</th>
              <th>Consumer Reference</th>
              <th>Contact Reference</th>
              <th>DCP</th>

              <th>Invoice </th>
              <th>Amount</th>
              <th>Amount Paid</th>
              <th>Payment Status</th>

            </tr>
          </thead>
          <tbody style="white-space: nowrap;">
            <tr>
              <td>{{ singleBillData.consumer_first_name }}{{ singleBillData.consumer_middle_name }}{{
                singleBillData.consumer_last_name }}</td>
              <td>{{ singleBillData.consumer_phone }}</td>
              <td>{{ singleBillData.tariff_type_name }}</td>
              <td>{{ singleBillData.sub_tariff_type_name }}</td>
              <td>{{ singleBillData.consumer_reference }}</td>
              <td>{{ singleBillData.contract_reference }}</td>
              <td>{{ singleBillData.dcp }}</td>

              <td>{{ singleBillData.invoice_number }}</td>
              <td>{{ singleBillData.amount }}</td>
              <td>{{ singleBillData.amount_paid }}</td>

              <td>{{ singleBillData.payment_status_name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer" style="justify-content: space-between !important;">
    <button type="submit" *ngIf="singleBillData" (click)="pay(singleBillData)"
          class="btn btn-primary theme_btn tp_two my-1">
          <i class="fas fa-plus-square"></i> Make Payment
        </button>
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template> -->


<ng-template #viewSingleBillModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Single Bill </h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div class="c-list-description p-0" *ngIf="singleBillData">
        <div>
          <div class="c-list-description-section">
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Consumer Name</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.consumer_first_name }}{{ singleBillData.consumer_middle_name }}{{
                singleBillData.consumer_last_name }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Phone</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.consumer_phone }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Tariff Type</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.tariff_type_name }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Sub Tariff Type</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.sub_tariff_type_name }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Consumer Reference</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.consumer_reference}}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Contract Reference</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.contract_reference}}</strong></div>
            </div>

            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>DCP</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{singleBillData.dcp}}</strong></div>
            </div>

            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Invoice</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.invoice_number }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Previous Amount (₦)</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{ singleBillData.total_amount - singleBillData.current_amount | number:'1.0':'en-US' }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Current Amount (₦)</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{  singleBillData.current_amount | number:'1.0':'en-US'}}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong> Amount Due (₦)</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ "₦" }} {{  singleBillData.amount_due | number:'1.0':'en-US'}}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Amount Paid (₦)</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{  "₦" }} {{  singleBillData.amount_paid | number:'1.0':'en-US' }}</strong></div>
            </div>
            <div class="c-list mb-3 border-bottom">
              <div class="c-list-text-special-left"><strong>Payment Status</strong></div>
              <div class="c-list-text-special-right"><strong class="text-p">{{ singleBillData.payment_status_name }}</strong></div>
            </div>
           
           <div class="modal-footer" style="justify-content: space-between !important;" *ngIf="selectedsubTariff != 3">
              <button type="submit" *ngIf="singleBillData && singleBillData?.payment_status_name != 3" (click)="pay(singleBillData)"
                    class="btn btn-primary theme_btn tp_two my-1">
                    <i class="fas fa-plus-square"></i> Make Payment
                  </button>
                  <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
              </div>
              <div class="modal-footer" style="justify-content: space-between !important;" *ngIf="selectedsubTariff == 3">
                <button type="submit" *ngIf="singleBillData && singleBillData?.payment_status_name != 3" (click)="partialPay(singleBillData,partialPayModal)"
                      class="btn btn-primary theme_btn tp_two my-1">
                      <i class="fas fa-plus-square"></i> Make Payment
                    </button>
                    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
  </div> -->
</ng-template>

<ng-template #partialPayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Consumer Invoice {{singlePartialPayData.invoice_number}}</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="col-md-12">
        </div>
      </div>

      <form [formGroup]="groupPaymentItemsForm" (ngSubmit)="onSubmitPaymentItem(groupPaymentItemsForm.value)">
        <div style="border-bottom: 1px solid #ced4da; margin-bottom: 15px; padding-top: 5px;">
          <div class="form-group row" style="margin-top: 40px;">
            <label for="totalDueBalance" class="col-sm-3 col-form-label">
              <b>Total Due Balance</b>
            </label>
            <div class="col-sm-3">
              <input type="text" formControlName="totalDueBalance" class="form-control" [value]="total" placeholder="Total Due Balance"
                id="totalDueBalance" [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; groupPaymentItemsForm.controls['totalDueBalance'].errors }" />
            </div>
          </div>
        </div>
        <div  class="form-row">
              <div class="form-group col-md-3">
                <label >Amount Assessed
                </label>
                <input type="text" formControlName="amountAssessed" class="form-control" placeholder="Amount Assessed"
                  [attr.disabled]="true"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; groupPaymentItemsForm.controls['amountAssessed'].errors }" />
                <div *ngIf="submitted &amp;&amp; groupPaymentItemsForm.controls['amountAssessed'].errors" class="text-danger">
                </div>
              </div>

              <div class="form-group col-md-3">
                <label >Amount to Pay<sup style="font-weight: 800;"
                    class="font-wegiht-bold text-danger">*</sup>
                </label>
                <input type="text" formControlName="amountToPay" class="form-control" placeholder="Amount to Pay"
                  appNumbersOnly   (keyup)="calculateAmountAssessed()"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; groupPaymentItemsForm.controls['amountToPay'].errors }" />
                <div *ngIf="submitted &amp;&amp; groupPaymentItemsForm.controls['amountToPay'].errors" class="text-danger">
                   <div *ngIf="groupPaymentItemsForm.controls['amountToPay'].errors['required']">
                    Amount to Pay is required.
                  </div> 
                   <div *ngIf="groupPaymentItemsForm.controls['amountToPay'].errors['pattern']">
                    Amount to Pay can only be numbers.
                  </div>
                </div>
              </div>
        </div>
        <div>
          <div class="form-group row" style="margin-top: 40px;">
            <label for="totalAmountToPay" class="col-sm-3 col-form-label">
              <b>Total Amount to Pay</b>
            </label>
            <div class="col-sm-3">
              <input type="text" formControlName="totalAmountToPay" class="form-control"
                placeholder="Total Amount Assessed" id="totalAmountToPay" [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; groupPaymentItemsForm.controls['totalAmountToPay'].errors }" />
            </div>
          </div>
        </div>

        <button type="submit"  class="theme_btn tp_two logo-button-website">
          <i class="fas fa fa-money"></i> Pay </button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>


<ng-template #viewSettlementModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Settlement History</h4>
  </div>

  <div class="modal-body">
    <div class="card-body">
      <div >
        <div  *ngIf="settlementData">
            <div class="col-sm-4" style="z-index: 1;">
                <span>Show &nbsp; </span>
                <select (change)="setItemsPerPageSettlement(page.value)" #page>
                    <option [selected]="currentsettlePageLength == 10">10</option>
                    <option [selected]="currentsettlePageLength == 30">30</option>
                    <option [selected]="currentsettlePageLength == 50">50</option>
                    <option [selected]="currentsettlePageLength == 100">100</option>
                    <option [selected]="currentsettlePageLength == 500">500</option>
                    <option [selected]="currentsettlePageLength == 1000">1000</option>
                </select>
                <span> &nbsp; entries </span>
            </div>
        </div>
    </div>
      <div>
          <div>
              <table class="table table-bordered table-sm row-border hover mt-4" id="example2"
                  *ngIf="settlementData" datatable [dtOptions]="dtOptions">
                  <thead style="white-space: nowrap">
                      <tr>
                          <th>S/N</th>
                          <th>Consumer Name</th>
                          <th>Contract Id</th>
                          <th>Identifier</th>
                          <th>Invoice Number</th>
                          <th>Request Reference</th>
                          <th>Total Amount Paid (₦)</th>

                          <th>Provider (₦)</th>
                          <th>MDA Collection (₦)</th>
                          <th>IGR Collection (₦)</th>
                          <th>POS Collection (₦)</th>
                          <th>PGC Collection (₦)</th>
                          <th>Split Charges (₦)</th>
                          <th>Year</th>
                          <th>Transaction Date</th>
                          <th>Payment Status</th>
                      </tr>
                  </thead>
                  <tbody style="white-space: nowrap">
                    <tr *ngFor="let mydata of settlementData | paginate : configSettlement;let i = index">
                        <td>{{ configSettlement.itemsPerPage * (configSettlement.currentPage - 1) + i + 1 }}</td>
                        <td>{{ mydata.first_name }}  {{ mydata.last_name }}</td>
                        <td>{{ mydata.contract_reference }} </td>
                        <td>
                            {{ mydata.identifier }}
                        </td>
                        <td>{{ mydata.invoice_number }} </td>
                        <td>{{ mydata.request_reference }} </td>

                        <td>{{ "₦" }} {{ mydata.total_paid | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.provider | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.mda_collection | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.igr_collection | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.pos_collection | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.pgc_collection | number:'1.0':'en-US' }} </td>
                        <td>{{ "₦" }} {{ mydata.split_charges | number:'1.0':'en-US' }} </td>
                        <td>{{ mydata.year }} </td>
                        <td>{{ mydata.tx_date | date: "dd MMM yyyy" }}</td>
                        <td *ngIf="mydata.invoice_payment_status_id == 1">Awaiting Payment </td>
                        <td *ngIf="mydata.invoice_payment_status_id == 2">Partial </td>
                        <td *ngIf="mydata.invoice_payment_status_id == 3">Paid </td>
                    </tr>
                </tbody>
              </table>
          </div>
          <div class="row m-0 mt-3">
            <div class="col-sm-6">
                <div id="page_info" class="record-show-text-bottom" *ngIf="settlementData">
                    Showing
                    {{ (configSettlement.currentPage - 1) * configSettlement.itemsPerPage + 1 }} -
                    {{ configSettlement.currentPage * configSettlement.itemsPerPage }} &nbsp; of
                    &nbsp;{{ configSettlement.totalItems }}
                    &nbsp; entries
                </div>
            </div>

            <div class="col-sm-6">
                <div *ngIf="settlementData">
                    <pagination-controls id="settlementPaging" (pageChange)="pageChange($event)" class="float-right">
                    </pagination-controls>
                </div>
            </div>
        </div>
      </div>
  </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click');removeDefault()">Close</button>
  </div>
</ng-template>