<app-webheader></app-webheader>
<main class="main-content" id="school-home">
   <!------main-content------>
   <!-- Banner section -->
   <section id="home">
   </section>

   <!-- divider section -->
   <section class="divider">
      <div class="container">
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div class="divider-wrapper divider-one">
                  <i class="fa fa-sign-in"></i>
                  <h2>Onboarding</h2>
                  <p class="fw-light fs-6">
                     Unlock the full potential of our platform and ensure a seamless experience
                     by signing up consumers / residents information.
                  </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="divider-wrapper divider-two">
                  <i class="fa fa-credit-card"></i>
                  <h2>Generate Bill</h2>
                  <p class="fw-light fs-6">
                     Take the hassle out of billing and stay on top of your payments by subscribing
                     to our easy-to-use bill generation service today.
                  </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-12">
               <div class="divider-wrapper divider-three">
                  <i class="fa fa-user"></i>
                  <h2>Profile Customer</h2>
                  <p class="fw-light fs-6">
                     Enjoy the services and ease of Niger State water and
                     sewage corporation by setting up profiles of consumers to be provided portable water.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- about section -->
   <section id="about" class="mb-5">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img src="assets/image/update.png" class="img-fluid" alt="about img" />
            </div>
            <div class="col-md-6">
               <div class="about-des">
                  <h2>EDO State Water PAYE</h2>
                  <h4 class="text-white">About the PAYE</h4>
                  <p style="text-align: justify; text-justify: inter-word" class="fw-light fs-6s">
                     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis deserunt eligendi dolorem,
                     eveniet repudiandae laudantium dolore quae ipsam. Expedita culpa minus inventore nobis nisi iure ut
                     voluptates quas voluptate odio!
                  </p>
                  <p style="text-align: justify; text-justify: inter-word" class="fw-light fs-6s">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora placeat neque numquam harum nisi
                     similique molestias quae earum blanditiis deleniti laudantium, doloremque voluptatibus rem, facere,
                     consequuntur aliquam? Non, veritatis quas.
                  </p>
                  <!-- <a [routerLink]="['/aboutus']" class="btn btn-outline-secondary"
              >LEARN MORE</a
            > -->
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- <section class="counter type_two wow fadeIn" id="tracker" data-wow-delay="600ms" data-wow-duration="1500ms">
     <div class="container">
        <div class="counter_outer_box">
           <div class="row">
              <div class="col-lg-4 col-md-12">
                 <div class="heading tp_one">
                    <h6>Student Tracker</h6>
                    <h1 class="font-responsive-heading">Statistics</h1>
                 </div>
              </div>
              <div class="col-lg-8 col-md-12 d-flex">
                 <div class="counter_box_outer">
                    <div class="counter_box type_two one">
                       <div class="image_box">
                          <img src="assets/image/icon-1.jpg" class="img-fluid" alt="svg_iage" />
                       </div>
                       <div class="text_box">
                          <h2><span class="font-25" >210</span></h2>
                          <h6>New Registration</h6>
                       </div>
                    </div>
                    <div class="counter_box type_two two">
                       <div class="image_box">
                          <img src="assets/image/icon-2.jpg" class="img-fluid" alt="svg_iage" />
                       </div>
                       <div class="text_box">
                          <h2><span class="font-25" >100</span></h2>
                          <h6>Approve</h6>
                       </div>
                    </div>
                    <div class="counter_box type_two three">
                       <div class="image_box">
                          <img src="assets/image/icon-3.jpg" class="img-fluid" alt="svg_iage" />
                       </div>
                       <div class="text_box">
                          <h2><span class="font-25" >110</span></h2>
                          <h6>Pending</h6>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section> -->
   <!-----------about-----------
   <!---
   <section class="about type_two pdt_100 pdb_100 wow fadeIn" id="about-section" data-wow-delay="600ms"
      data-wow-duration="1500ms">
      <div class="container">
         <div class="row">
            <!---------row---------
            <div class="col-lg-6 col-md-12 d-flex">
               <!---------col---------
               <div class="about_content">
                  <div class="heading tp_one">
                     <h6>Niger State Water and Sewage Corporation</h6>
                     <h1 class="font-responsive-heading"> About the NISWASEC </h1>
                  </div>
                  <p class="font-responsive-para">  Niger State Water and Sewage Corporation is a successor to the Niger State
                    Water Board which was established in 1976 by Edict No. 6, and became operational on 1st April, 1976.
                    The Water Board by the NISWASEC Law 2020 has metamorphosed into a wholly-owned Niger State Government Corporation.
                  </p>
                  <p class="last font-responsive-para">  The Managing Director has the ultimate responsibility of carrying out policies
                    and decisions of the Board (or the Shareholder as the case may be) in accordance with the short and medium term strategic
                    policies and the provisions of the enabling edict (NISWASEC Law (2020))

               </div>
               <!---------col-end--------
            </div>
            <div class="col-lg-6 col-md-12 hide-in-mobile mt-5">
               <!---------col---------
               <div class="image_box one">
                  <img src="assets/image/resources/about-2-1.png" class="img-fluid rounded img-thumbnail" alt="img" />
               </div>
               <!---------col-end--------
            </div>
            <!----------row-end-------
         </div>

      </div>
   </section>  ----->
   <!----
   <section class="spreading type_two  pdt_100  pdb_60">
      <div class="container">
         <div class="row">
            <!---------row-------
            <div class="col-lg-12 col-md-12">
               <!---------col--------
               <div class="heading text-center tp_one">
                  <h6>How can individual apply? </h6>
                  <h1 class="font-responsive-heading">How it Works?</h1>
               </div>
               <!---------col-end------
            <!----------row-end------
         <div class="row">
            <!---------row--------
            <div class="col-lg-4 col-md-6 col-sm-12">
               <!---------col--------
               <div class="spreading_box type_two wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1500ms">
                  <div class="image_box">
                     <img src="assets/image/resources/add-user.png" class="img-fluid" style="max-height: 170px; max-width: 170px;" alt="img" />
                  </div>
                  <div class="content_box">
                     <h2 class="font-responsive-heading">Onboarding New Consumer</h2>
                     <p>Travel restrictions or screening air travellers for high temperature (fever) may help to prevent
                        the SARS infection being spread.</p>
                  </div>
               </div>
               <!---------col-end--------
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
               <!---------col-------
               <div class="spreading_box type_two wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                  <div class="image_box">
                     <img src="assets/image/resources/spreading-1-1.png" class="img-fluid" alt="img" />
                  </div>
                  <div class="content_box">
                     <h2 class="font-responsive-heading">Generate Bill</h2>
                     <p>Travel restrictions or screening air travellers for high temperature (fever) may help to prevent
                        the SARS infection being spread.</p>
                  </div>
               </div>
               <!---------col-end-----
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
               <!---------col----------
               <div class="spreading_box type_two wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                  <div class="image_box">
                     <img src="assets/image/resources/profile.png" class="img-fluid" style="max-height: 170px; max-width: 170px;" alt="img" />
                  </div>
                  <div class="content_box">
                     <h2 class="font-responsive-heading">Profile Consumer </h2>
                     <p>Travel restrictions or screening air travellers for high temperature (fever) may help to prevent
                        the SARS infection being spread.</p>
                  </div>
               </div>
               <!---------col-end---------
            </div>

            <!----------row-end---------
         </div>
      </div>
   </section>

   ---->

   <!-- Footer -->

   <app-webfooter></app-webfooter>

   <!------main-content-end----->
</main>
<!-- <app-scrolltotop></app-scrolltotop>-->
<app-whatsupchat></app-whatsupchat>