reass<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
    <div class="container-fluid" data-select2-id="31">
      <!-- <flash-messages></flash-messages> -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-secondary">
        <div class="card-header custome">
          <h3 class="card-title">Filed Projections</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="over-auto">
            <table class="table table-bordered table-condensed" *ngIf="businessesData;" datatable
            [dtOptions]="dtOptions" width="100%">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Business RIN</th>
                <th>Business Name</th>
                <th>Company RIN</th>
                <th>Tax Year</th>
                <th>Employee Count</th>
                <!-- <th>Annual Tax</th> -->
                <th>Date Approved</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mydata of businessesData; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ mydata.businessRIN }}</td>
                <td>{{ mydata.businessName == null ? "N/A" : mydata.businessName | titlecase }}</td>
                <td>{{ mydata.companyRin == null ? "N/A" : mydata.companyRin }}</td>
                <td>{{ mydata.taxYear }}</td>
                <td>{{ mydata.noOfEmployees }}</td>
                <!-- <td>{{ mydata.annualtaxpaid }}</td> -->
                <td>{{ mydata.dateForwarded | date: "dd MMM yyyy" }}</td>

                <td title="View"><button class="btn btn-sm btn-outline-success"
                    (click)="viewApprovedProjection(approvedProjectionModal, mydata)"><i
                      class="nav-icon fas fa-eye"></i>
                  </button></td>

              </tr>
            </tbody>
          </table>


          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #approvedProjectionModal let-modal>
  <div class="modal-header">
    <span>
      <h4 class="modal-title" id="modal-basic-title">Projection Details</h4>
    </span>
  </div>

  <div class="modal-body">
    <table
      class="table table-bordered table-condensed"
      *ngIf="fileDetailsData;"
      datatable
      [dtOptions]="dtOptions"
      width="100%">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Taxpayer ID</th>
          <th>Taxpayer Name</th>
          <th>Designation</th>
          <th>Total Income (₦)</th>
          <th>Tax Free Pay (₦)</th>
          <th>Chargeable Income (₦)</th>
          <th>Annual Projection (₦)</th>
          <th>Date Filed</th>
        </tr>
      </thead>
      <tbody>
        @for (mydata of fileDetailsData; track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ mydata.taxPayerId }}</td>
            <td>
              {{ (mydata.fullName | titlecase) || "N/A" }}
            </td>
            <td>{{ (mydata.designation | titlecase) || "N/A" }}</td>
            <td>{{ (mydata.basic + mydata.rent + mydata.transport) | number }}</td>
            <td>{{ mydata.otherIncome | number }}</td>
            <td>{{ mydata.basic | number }}</td>
            <td>{{ (mydata.annualtaxpaid | number) || "N/A" }}</td>
            <td>{{ mydata.datetcreated | date: "dd MMM yyyy" }}</td>
          </tr>
        }@empty {
          <tr>
            <td colspan="100%"><span>No Projection Found.</span></td>
          </tr>
        } 
      </tbody>
    </table>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')">
      Ok
    </button>
  </div>
</ng-template>
