 <nav class="menu-items">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <li class="nav-item menu-open">
        <a
          [routerLink]="['/dashboard']"
          [routerLinkActive]="['active']"
          class="nav-link active"
        >
          <i class="nav-icon side-nav-icon fas fa-tachometer-alt"></i>
          <p class="font-weight-bold">Dashboard</p>
  
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">
          <i class="nav-icon side-nav-icon fas fa-fw fa-cog"></i>
          <p class="font-weight-bold">
            Profile
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none">
          <li class="nav-item">
            <a
              [routerLink]="['/registrationprofiling']"
              [routerLinkActive]="['active']"
              class="nav-link nav-child"
            >
              <p> Consumer</p>
            </a>
          </li>
  
  
        </ul>
      </li>
    
      <li class="nav-item">
        <a class="nav-link">
          <i class="nav-icon side-nav-icon  fas fa-fw fa-table" aria-hidden="true"></i>
          <p class="font-weight-bold">
            Bill Management
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview" style="display: none">
          <!-- <li class="nav-item">
            <a
              [routerLink]="['/registrationbills']"
              [routerLinkActive]="['active']"
              class="nav-link nav-child"
            >
  
              <p>Generate Bill</p>
            </a>
          </li> -->
         
          <li class="nav-item">
            <a
              [routerLink]="['/registrationpayment']"
              [routerLinkActive]="['active']"
              class="nav-link nav-child"
            >
  
              <p>Bill Payment</p>
            </a>
          </li>
        </ul>
      </li>
   
  
      <li class="nav-item">
        <a [routerLink]="['/logout']" class="nav-link">
          <p class="font-weight-bold"><i class="nav-icon side-nav-icon  fa fa-power-off"></i> Logout</p>
        </a>
      </li>
    </ul>
  </nav>
  
  
