<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
  
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <!-- <flash-messages></flash-messages> -->
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">List of Businesses</h3>
  
  
          </div>
          <!-- /.card-header -->
          <div class="card-body">
  
            <div  class="over-auto">
              <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
              <table class="table table-bordered table-condensed" *ngIf="businessesData;" datatable [dtOptions]="dtOptions"
                width="100%">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Tax Year</th>
                    @if(tokenService.getLoginResData.isAdminUser){
                      <th>Company RIN</th>
                      <th>Company Name</th>
                    }
                    <th>Business RIN</th>
                    <th>Business Name</th>
                    <th>Taxpayer ID</th>
                    <th>Sum Assessment</th>
                    <th>H1 Tax Paid</th>
                    <th>Under Remittance</th>
                    <th>Total Under Remittance</th>
                    <th>Status</th>
                    <th>Date Filled</th>
                    <th>Date Reassessed</th>
                    <th>View & Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mydata of businessesData; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ '2024' }}</td>
                    @if(tokenService.getLoginResData.isAdminUser){
                      <td>{{ mydata?.companyRin }}</td>
                      <td>{{ mydata?.companyName }}</td>
                    }
                    <td>{{ mydata?.businessRIN }}</td>
                    <td>{{ mydata?.businessName | titlecase }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>
                    <td>{{ mydata.lga_name ? mydata.lga_name : 'N/A' }}</td>

                    <td title="View"><button class="btn btn-sm btn-outline-success"
                        (click)="viewBusinessAnnualReturn(assessmentDetailsModal, mydata)"><i class="nav-icon fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer" *ngIf="apidataEmpty">
            <button *ngIf="showCreateSchedule" type="submit" (click)="forwardSchedule(schedulemodal)"
              class="btn btn button-login"><i class="fas fa-plus-square"></i> Create Schedule</button>
          </div> -->
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    
  <ng-template #assessmentDetailsModal let-modal>
    <div>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Assessment Details</h4>
        </div>
    
        <div class="modal-body">
            <div class="container">
                <form [formGroup]="assessmentForm">
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="businessName">Business Name</label>
                          <input type="text" formControlName="businessName" class="form-control" [attr.disabled]="true"
                              [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['businessName'].errors }" />
                      </div>
  
                      <div class="form-group col-md-6">
                        <label for="businessRIN">Business RIN</label>
                        <input type="text" formControlName="businessRIN" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['businessRIN'].errors }" />
                    </div>
                  </div>
  
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateGenerated">Date Generated</label>
                        <input type="text" formControlName="dateGenerated" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['dateGenerated'].errors }" />
                    </div>
                
                    <div class="form-group col-md-6">
                        <label for="dueDate">Due Date</label>
                        <input type="text" formControlName="dueDate" class="form-control" [attr.disabled]="true"
                            [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['dueDate'].errors }" />
                    </div>                
                </div>
  
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="annualReturnID">Annual Return ID</label>
                            <input type="text" formControlName="annualReturnID" class="form-control" [attr.disabled]="true"
                                [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['annualReturnID'].errors }" />
                        </div>
    
                        <div class="form-group col-md-6">
                          <label for="assessmentStatus">Assessment Status</label>
                          <input type="text" formControlName="assessmentStatus" class="form-control" [attr.disabled]="true"
                              [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['assessmentStatus'].errors }" />
                      </div>
                    </div>
    
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="approvalStatus">Approval Status</label>
                          <input type="text" formControlName="approvalStatus" class="form-control" [attr.disabled]="true"
                              [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['approvalStatus'].errors }" />
                      </div>
                  
                      <div class="form-group col-md-6">
                          <label for="annualTaxDue">Annual Tax Paid</label>
                          <input type="text" formControlName="annualTaxDue" class="form-control" [attr.disabled]="true"
                              [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['annualTaxDue'].errors }" />
                      </div>                
                  </div>
                </form>
    
                <div>
                    <table class="table table-bordered table-condensed" *ngIf="assessmentEmployeesData;" datatable
                        [dtOptions]="dtOptions" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Taxpayer ID</th>
                                <th>Full Name</th>
                                <th>Form Annual Gross  (₦)</th>
    
                                <th>Schedule Annual Gross (₦)</th>
                                <th>Schedule Tax (₦)</th>
  
                                <th>Annual Tax Paid (₦)</th>
                                <th>Tax Difference (₦)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mydata of assessmentEmployeesData; index as i">
                                <td>{{ i + 1 }}</td>
                                <td>{{ mydata.taxpayer_id}}</td>
    
                                <td>{{ mydata.first_name | titlecase }} {{ mydata.middle_name | titlecase }} {{ mydata.surname | titlecase }}</td>
                                <td>{{ mydata.nationality | titlecase }}</td>
                                <td>{{ mydata.total_income | number:'1.2-2' }}</td>
                                <td>{{ mydata.annual_tax_paid | number:'1.2-2' }}</td>
                                <td>{{ mydata.expected_annual_tax | number:'1.2-2' }}</td>
                                <td>{{ mydata.under_remittance | number:'1.2-2' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
            </div>
        </div>
    </div>

      <div>
        <div class="modal-header">
            <span>
              <h4 class="modal-title" id="modal-basic-title">Reassessment Details</h4>
            </span>
            <!-- <span *ngIf="managerRole || editorRole">
              <button
                type="button"
                *ngIf="processInvoiceBtn"
                (click)="processInvoice()"
                class="btn btn-outline-dark button-login float-right"
                style="margin: 10px 10px"
                printSectionId="printAssessment">
                <i class="fas fa-file-invoice"></i> Generate Invoice
              </button>
              <a
                type="button"
                *ngIf="previewInvoice"
                href="{{ apiInvoice }}"
                target="_blank"
                class="btn mr-3 btn-outline-dark button-login float-right"
                style="margin: 10px 5px"
                printSectionId="printInvoice"
                ngxPrint><i class="fas fa-file-alt"></i> Print Invoice</a>
              <a
                type="button"
                *ngIf="paymentUrl"
                class="btn btn-outline-dark button-login mr-3"
                target="_blank"
                (click)="payAssessmentPaymentItems(payAssessmentItemsModal)"
                ><i class="fas fa-credit-card"></i> Make Payment</a> 
            </span> -->
          </div>
        
          <div class="modal-body">
            <div class="container">  
              <form [formGroup]="reassessmentForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="dateGenerated">Date Generated</label>
                    <input
                      type="text"
                      formControlName="dateGenerated"
                      class="form-control"
                      [attr.disabled]="true"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; reassessmentForm.controls['dateGenerated'].errors }"
                    />
                  </div>
        
                  <div class="form-group col-md-6">
                    <label for="paymentStatus">Payment Status</label>
                    <input
                      type="text"
                      formControlName="paymentStatus"
                      class="form-control"
                      [attr.disabled]="true"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; reassessmentForm.controls['paymentStatus'].errors }" />
                  </div>
                </div>          
              </form>
        
              <div>
                <div class="mt-5">
                  <h4 class="text-center">Reassessment Items</h4>
                </div>
                <table class="table table-bordered table-condensed" *ngIf="reassessmentAppealsData">
                  <thead>
                    <tr>
                      <th>S/N</th>
                      <th style="max-width: 200px">Service Description</th>
                      <th>Amount(₦)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mydata of reassessmentAppealsData; index as i">
                      <td>{{ i + 1 }}</td>
                      <td style="max-width: 200px">{{ mydata.item_description }}</td>
                      <td>{{ mydata.amount | number:'1.2-2' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      
      </div>
  
    <div class="modal-footer">
        <button type="submit" *ngIf="objectDisable" (click)="generateAppeal(appealmodal)" class="btn btn button-login">
            <i class="far fa-share-square"></i> Objection Reassessment
        </button>
    
        <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
    
  <ng-template #appealmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Generate Objection</h4>
    </div>
  
    <div class="modal-body">
      <div class="container">  
        <form [formGroup]="appealForm" (ngSubmit)="onSubmitAppeal(appealForm.value)">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="invoiceNumber">Invoice Number</label>
              <input
                type="text"
                formControlName="invoiceNumber"
                class="form-control"
                [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; appealForm.controls['invoiceNumber'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; appealForm.controls['invoiceNumber'].errors"
                class="text-danger"
              >
                <div *ngIf="appealForm.controls['invoiceNumber'].errors['required']">
                  Invoice Number is required
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="date">Date</label>
              <input
                type="text"
                formControlName="date"
                class="form-control"
                [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; appealForm.controls['date'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; appealForm.controls['date'].errors"
                class="text-danger"
              >
                <div *ngIf="appealForm.controls['date'].errors['required']">
                  Reason is required
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="messageTitle">Reason for Objection<sup style="font-weight: 800"
                class="font-wegiht-bold text-danger">*</sup></label>
              <input
                type="text"
                formControlName="messageTitle"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; appealForm.controls['messageTitle'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; appealForm.controls['messageTitle'].errors"
                class="text-danger"
              >
                <div *ngIf="appealForm.controls['messageTitle'].errors['required']">
                  Reason is required
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="fileInput"
                >Select File to Upload (jpeg, jpg, png)<sup style="font-weight: 800"
                class="font-wegiht-bold text-danger">*</sup></label
              >
              <div class="custom-file">
                <input
                  formControlName="myfile"
                  multiple
                  id="myfile"
                  type="file"
                  class="custom-file-input"
                  (change)="onFileChange($event)"
                  [ngClass]="{
                    'is-invalid': submitted && appealForm.controls['myfile'].errors
                  }"
                  accept=".png,.jpg,.jpeg"
                />
                <label class="custom-file-label" for="customFile">{{
                  filePath == []
                    ? "Choose file (jpeg, jpg, png)"
                    : filePath.join(", ")
                }}</label>
              </div>
              <div
                *ngIf="submitted &amp;&amp; appealForm.controls['myfile'].touched && appealForm.controls['myfile'].invalid"
                class="text-danger">
                <div *ngIf="appealForm.controls['myfile'].errors!['required']">File is required.</div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="message">Objection Description<sup style="font-weight: 800"
                class="font-wegiht-bold text-danger">*</sup></label>
              <textarea
                type="text"
                formControlName="message"
                class="form-control"
                rows="4"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; appealForm.controls['message'].errors }"
              ></textarea>
              <div
                *ngIf="submitted &amp;&amp; appealForm.controls['message'].errors"
                class="text-danger"
              >
                <div *ngIf="appealForm.controls['message'].errors['required']">
                  Objection Desription is required
                </div>
              </div>
            </div>          
          </div>
  
          <button type="submit" class="btn btn button-login">
            <i class="far fa-share-square"></i> Generate Objection
          </button>
        </form>
      </div>
    </div>
  
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        (click)="modal.close('Save click')"
      >
        Ok
      </button>
    </div>
  </ng-template>
