<div class="schedule-details">
  <div class="modal-header">
    <div class="">
      <!-- <h4 class="modal-title" id="modal-basic-title">Monthly Remittance Schedules</h4> -->
    </div>

    <div class="schedule-buttons">
      <button [disabled]="showSendToRDM() || !tokenService.getLoginResData.isAdminUser" (click)="sendToRdm()">Send to RDM</button>
      <button [disabled]="showResendToRDM() || !tokenService.getLoginResData.isAdminUser" (click)="reSendToRdm()">Re-Send to RDM</button>
      <button [disabled]="showSendToRDM()" (click)="reviseSubmission()">Revise Submission</button>
      <button [disabled]="btnLoading() || !tokenService.getLoginResData.isAdminUser" (click)="reAssess()">Re-Assess</button>
      <button [disabled]="showDownloadPdf()" (click)="downloadPdf()">Download PDF</button>
    </div>
    <!-- /.card-header -->
    <!-- /.card-body -->
  </div>

  <div class="schedule-table">
    <div class="">
      <table class="table table-bordered table-condensed" width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Employee RIN</th>
            <th>Full Name</th>
            <th>Total Income</th>
            <th>Non Taxable Income</th>
            <th>CRA</th>
            <th>Tax Free Pay</th>
            <th>Chargeable Income</th>
            <th>Monthly Tax</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          @for (mydata of schedulesData(); track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{mydata.employeeRin}}</td>
  
              <td>{{mydata?.employeeName}}</td>
              <td>{{mydata?.totalIncome | number : '1.0-2'}}</td>
              <td>{{mydata?.nonTaxableIncome | number : '1.0-2'}}</td>
              <td>{{mydata?.cra | number : '1.0-2'}}</td>
              <td>{{mydata?.taxFreePay | number : '1.0-2'}}</td>
              <td>{{mydata?.chargableIncome | number : '1.0-2'}}</td>
              <td>{{mydata?.monthlyTax | number : '1.0-2'}}</td>
              <td title="View">
                <button
                  class="btn btn-sm btn-outline-success"
                  (click)="viewSchedule(mydata)">
                  <i class="nav-icon fas fa-eye"></i>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="10"><span>No schedules available for this record.</span></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <!-- <div class="overflow-auto">

      </div> -->
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      mat-dialog-close>
      Ok
    </button>
  </div>
</div>
