<div class="schedule-details">
  <div class="modal-header">
    <div class="">
      <!-- <h4 class="modal-title" id="modal-basic-title">Monthly Remittance Schedules</h4> -->
    </div>

    <div class="schedule-buttons">
      <button>Send to RDM</button>
      <button>Re-Send to RDM</button>
      <button>Revise Submission</button>
      <button>Re-Assess</button>
    </div>
    <!-- /.card-header -->
    <!-- /.card-body -->
  </div>

  <div class="modal-body">
    <div class="container">
      <table class="table table-bordered table-condensed" width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Employee RIN</th>
            <th>Full Name</th>
            <th>Total Income</th>
            <th>Non Taxable Income</th>
            <th>CRA</th>
            <th>Tax Free Pay</th>
            <th>Chargeable Income</th>
            <th>Monthly Tax</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mydata of schedulesData; index as i">
            <td>{{ i + 1 }}</td>
            <td>
              <p
                [ngClass]="{
                  'text-danger': mydata.forwarded_to == 0,
                  'text-primary': mydata.forwarded_to == 1,
                  'text-success': mydata.forwarded_to == 2
                }">
                {{
                  mydata.forwarded_to == 0
                    ? "Schedule Not forwarded"
                    : mydata.forwarded_to == 1
                    ? "Sent back to Editor"
                    : "Forwarded to Manager"
                }}
              </p>
            </td>

            <td>{{ mydata.date_forwarded | date : "dd MMM yyyy" }}</td>
            <td>{{ mydata.due_date | date : "MMMM" }}</td>
            <td>{{ mydata.due_date | date : "y" }}</td>
            <td>
              <p
                [ngClass]="{
                  'text-danger': mydata.assessment_status == 0,
                  'text-primary': mydata.assessment_status == 1,
                  'text-success': mydata.assessment_status == 2
                }">
                {{
                  mydata.assessment_status == 0 ? "Still Open" : "Case Closed"
                }}
              </p>
            </td>
            <!-- <td>{{ mydata.status == 0 ? "In Active" : "Active" }}</td> -->

            <td>{{ mydata.created_at | date : "dd MMM yyyy" }}</td>
            <td>{{ mydata.created_at | date : "dd MMM yyyy" }}</td>
            <td>{{ mydata.created_at | date : "dd MMM yyyy" }}</td>
            <td title="View">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="viewSchedule(mydata)">
                <i class="nav-icon fas fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="over-auto">

      </div> -->
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      mat-dialog-close>
      Ok
    </button>
  </div>
</div>
