<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
  <section class="content">
    <div class="container-fluid">
      <!-- Left col -->

      <!-- MAP & BOX PANE -->
      <div class="card">
        <div class="card-header card-bg">
          <h3 class="card-title mt-2">Payment Bill History</h3>

        </div>
        <div class="card-body">

          <form id="smp-form" [formGroup]="searchForm" autocomplete="off" class="mt-1"
            (ngSubmit)="onSubmitSearch()">
            <div class="form-row">

              <div class=" col-sm-3  mt-1">
                <div class="form-group">
                  <select type="text" name="consumerSubcategory" id="consumerSubcategory"
                    formControlName="consumerSubcategory"
                    [ngClass]="{ 'is-invalid': submitted && searchForm.controls['consumerSubcategory'].errors  }"
                    class="form-control">
                    <option value="" disabled="true">Select Consumer Sub-Category</option>
                    <option *ngFor="let data of consumerSubCategory" [value]="data.id">
                      {{ data.name }}
                    </option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; searchForm.controls['consumerSubcategory'].errors"
                    class="form-text text-danger">
                    <div *ngIf="searchForm.controls['consumerSubcategory'].errors['required']">Consumer Sub-Category
                      is required</div>
                  </div>
                </div>
              </div>
              <div class=" col-sm-3  mt-1">
                <div class="form-group">
                  <select type="text" name="tariff" id="tariff" formControlName="tariff"
                    [ngClass]="{ 'is-invalid': submitted && searchForm.controls['tariff'].errors  }"
                    class="form-control">
                    <option value="" disabled="true">Select Tariff</option>
                    <option *ngFor="let data of tariffTypes" [value]="data.id">
                      {{ data.name }}
                    </option>
                  </select>

                  <div *ngIf="submitted &amp;&amp; searchForm.controls['tariff'].errors" class="form-text text-danger">
                    <div *ngIf="searchForm.controls['tariff'].errors['required']">Tariff
                      is required</div>
                  </div>
                </div>
              </div>


              <div class=" col-sm-3  mt-1">
                <div class="form-group">
                  <input type="date" name="startDate" [max]="date" [min]="minDate" formControlName="startDate"
                    id="startDate" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && searchForm.controls['startDate'].errors  }" />
                  <!-- <div *ngIf="submitted &amp;&amp; searchForm.controls['startDate'].errors"
                    class="form-text text-danger">
                    <div *ngIf="searchForm.controls['startDate'].errors['required']">Start Date
                      is required</div>
                  </div> -->
                </div>
              </div>
              <div class=" col-sm-3  mt-1">
                <div class="form-group">
                  <input type="date" name="endDate" [max]="date" [min]="minDate" formControlName="endDate" id="endDate"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && searchForm.controls['endDate'].errors  }" />
                  <!-- <div *ngIf="submitted &amp;&amp; searchForm.controls['endDate'].errors" class="form-text text-danger">
                    <div *ngIf="searchForm.controls['endDate'].errors['required']">End Date
                      is required</div>
                  </div> -->
                </div>
              </div>
              <div class=" col-sm-5 mt-1">
                <button type="submit" class="btn btn-primary font-12 smp-button">
                  <i class="fas fa-search"></i> Search
                </button>
                <button type="button" class="btn btn-primary font-12 smp-button-clear" (click)="clearSearch()">
                  <i class="fas fa-sync-alt"></i> Clear
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body">
          <!-- /.card-header -->

          <div class="card-body">
            <div class="col-auto mbm-30">
              <div class="row m-35" *ngIf="paymentHistoryData">
                <div class="col-sm-4"  style="z-index: 1;">
                  <span>Show &nbsp; </span>
                  <select (change)="setItemsPerPage(page.value)" #page>
                    <option [selected]="currentPageLength == 10">10</option>
                    <option [selected]="currentPageLength == 30">30</option>
                    <option [selected]="currentPageLength == 50">50</option>
                    <option [selected]="currentPageLength == 100">100</option>
                    <option [selected]="currentPageLength == 500">500</option>
                    <option [selected]="currentPageLength == 1000">1000</option>
                  </select>
                  <span> &nbsp; entries </span>
                </div>
              </div>
            </div>
            <div>
              <div>
                <table class="table table-bordered table-sm row-border hover mt-4" id="example2"
                *ngIf="paymentHistoryData" datatable [dtOptions]="dtOptions">
                <thead style="white-space: nowrap">
                  <tr>
                    <th>S/N</th>
                    <th>Consumer Reference</th>
                    <th>Bill Type</th>
                    <th>Sub Bill Type</th>
                    <th>Tariff Name</th>

                    <th>Sub Tariff Name</th>
                    <th>Invoice Status</th>
                    <th>Amount Paid (₦)</th>
                    <th>Amount Due (₦)</th>
                    <th>Total (₦)</th>
                    <th>Payment Status</th>


                  </tr>
                </thead>
                <tbody style="white-space: nowrap">
                  <tr *ngFor="let mydata of paymentHistoryData | paginate : config;let i = index">
                    <td>{{ config.itemsPerPage * (config.currentPage - 1) + i + 1 }}</td>
                    <td>
                      {{ mydata.consumer_reference }}
                    </td>
                    <td>{{ mydata.meter_type }}  </td>
                    <td>{{ mydata.sub_meter_type }}  </td>

                    <td>{{ mydata.tariff_type_name }}  </td>
                    <td>{{ mydata.sub_tariff_type_name }}  </td>
                    <td>{{ mydata.invoice_number }}  </td>
                    <td>{{ "₦" }} {{ mydata.amount_paid | number:'1.0':'en-US' }} </td>
                    <td>{{ "₦" }} {{ mydata.amount_due | number:'1.0':'en-US' }}  </td>
                    <td>{{ "₦" }} {{ mydata.total | number:'1.0':'en-US' }}  </td>
                    <td>{{ mydata.payment_status_name }}  </td>
                    

                  </tr>
                </tbody>
              </table>
              </div>

              <div class="row m-0 mt-3">
                <div class="col-sm-6">
                  <div id="page_info" class="record-show-text-bottom" *ngIf="paymentHistoryData">
                    Showing
                    {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} -
                    {{ config.currentPage * config.itemsPerPage }} &nbsp; of
                    &nbsp;{{ config.totalItems }}
                    &nbsp; entries
                  </div>
                </div>
                <div class="col-sm-6">
                  <div *ngIf="paymentHistoryData">
                    <pagination-controls (pageChange)="pageChange($event)" class="float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>

      <!-- /.card -->
      <!-- </div> -->
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->