<app-webheader></app-webheader>
<main class="main-content" id="smp-faq">
  <!------main-content------>
  <!-----------page_title-------------
    <section class="page_title  pdt_80  pdb_40" id="page-header">
       <div class="container">
          <div class="row">
             <!---------row---------
             <div class="col-lg-12 col-md-12 text-center">
                <!---------col-------
                <div class="content_box">
                   <h6>Frequently Asked Questions </h6>
                   <h1> Happy to help you</h1>
                   <ul class="bread_crumb text-center">
                      <li class="bread_crumb-item"><a href="#">Home</a></li>
                      <li class="bread_crumb-item active"> FAQ's </li>
                   </ul>
                </div>
                <!---------col-end-------
             </div>
             <!----------row-end------
       </div>
    </section>
    <!-----------page_title-end-------------->
  <section id="faqs">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-3"></div>
        <div class="col-md-7 col-sm-9">
          <!--  <h3>welcome to</h3>
          <h1>Niger State Water Sewage Corp</h1> -->
        </div>
      </div>
    </div>
  </section>
  <!-----------faq--------------->
  <section class="contact_page pdb_70 pdt_100">
    <div class="container mt-5">
      <div class="row my-4">
        <div class="col-lg-12 col-md-12">
          <h1 class="text-center text-white heading tp_one my-0">FAQs</h1>
          <!----------row-end---------->
        </div>
        <!----------row-end---------->
      </div>

      <div id="faqtypetwo">
        <div class="row">
          <div class="col-lg-6">
            <!---------col----------->
            <div class="card faqs_card_tptwo">
              <div class="faq-header-bg" id="faqheaderone">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqone"
                  aria-expanded="false" aria-controls="faqone">
                  <span class="linearicons-question"></span>
                  How can I enjoy portable water in my household?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>

              <div id="faqone" class="collapse" aria-labelledby="faqheaderone" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  <p class="ps-3">To enjoy our services in your household, please contact us at:</p>
                  <ul>
                    <li>Phone: +234 805 846 5076</li>
                    <li>Email: <a href="mailto:customercare4nswb@gmail.com">customercare4nswb&#64;gmail.com</a><br>
                      <a href="mailto:info@nigerstatewaterboard.com.ng">info&#64;nigerstatewaterboard.com.ng</a></li>
                    <li>Visit our <a href="#">self-service portal</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card faqs_card_tptwo">
              <div class="faq-header-bg" id="faqheadertwo">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqtwo"
                  aria-expanded="false" aria-controls="faqtwo">
                  <span class="linearicons-question"></span>
                  How can I be onboarded as a consumer?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>
              <div id="faqtwo" class="collapse" aria-labelledby="faqheadertwo" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  <p class="ps-3">To become our customer, please contact us at:</p>
                  <ul>
                    <li>Phone: +23458465076</li>
                    <li>Walk into our office located at Nnamdi Azikiwe way Western bye Pass Minna.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- <div class="card faqs_card_tptwo">
              <div class="faq-header-bg" id="faqheaderthree">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqthree"
                  aria-expanded="false" aria-controls="faqthree">
                  <span class="linearicons-question"></span>
                  What should I do if I come into FAQ's Section?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>
              <div id="faqthree" class="collapse" aria-labelledby="faqheaderthree" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
              </div>
            </div> -->
            <!---------col-end---------->
          </div>
          <div class="col-lg-6">
            <!---------col----------->
            <div class="card faqs_card_tptwo">
              <div class="faq-header-bg" id="faqheaderfour">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqfour"
                  aria-expanded="false" aria-controls="faqfour">
                  <span class="linearicons-question"></span>
                  How to pay my bills?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>
              <div id="faqfour" class="collapse" aria-labelledby="faqheaderfour" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  <p class="ps-3">You can pay your bills through any of the following methods:</p>
                  <ul>
                    <li>Visiting any of our collection outlets</li>
                    <li>Paying online at <a href="#">www.nownow.ng</a></li>
                    <li>Walking into a bank and requesting payment on Niger RevPay.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card faqs_card_tptwo">
              <div class="faq-header-bg collapsed" id="faqheaderfive">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqfive"
                  aria-expanded="false" aria-controls="faqfive">
                  <span class="linearicons-question"></span>
                  What are my responsibilities as a consumer?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>
              <div id="faqfive" class="collapse" aria-labelledby="faqheaderfive" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  <p class="ps-3">Pay your bills in time to enjoy uninterrupted services.</p>
                </div>
              </div>
            </div>
            <!-- <div class="card faqs_card_tptwo">
              <div class="faq-header-bg" id="faqheadersix">
                <button class="btn btn-link collapsed width-99" data-toggle="collapse" data-target="#faqsix"
                  aria-expanded="false" aria-controls="faqsix">
                  <span class="linearicons-question"></span>
                  What should I do if I come into FAQ's Section?
                  <small class="linearicons-chevron-down-circle"></small>
                </button>
              </div>
              <div id="faqsix" class="collapse" aria-labelledby="faqheadersix" data-parent="#faqtypetwo">
                <div class="card-body font-13-line-24">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
              </div>
            </div> -->
            <!---------col-end---------->
          </div>
          <!----------row-end---------->
        </div>
      </div>
    </div>
  </section>
  <app-webfooter></app-webfooter>
</main>

<!-- <app-scrolltotop></app-scrolltotop>-->
<app-whatsupchat></app-whatsupchat>
