<nav class="menu-items">
  <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

    <li class="nav-item menu-open">
      <a [routerLink]="['/admin', 'dashboard']" [routerLinkActive]="['active']" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin', 'businesses']" [routerLinkActive]="['active']">
        <i class="nav-icon fas fa-building"></i>
        <p>
          Businesses
        </p>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link">
        <i class="nav-icon fas fa-file-invoice"></i>
        <p>
          Monthly Remittance
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

      <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item">
          <a [routerLink]="['admin', 'employee-schedule']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Employees</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'deleted-employees']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Deleted Employees</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'schedules']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Schedules</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'assessments']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Assessments</p>
          </a>
        </li>

      </ul>

    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="nav-icon fa fa-exchange"></i>
        <p>
          Form H1 (Annual Return)
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

      <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item">
          <a [routerLink]="['/admin', 'annual-return-employees-upload']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Form H1 Filling & Uploads</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="['/admin', 'annual-returns']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Uploaded Form H1</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/admin', 'annual-return-schedules']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Form h1 Schedules</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'annual-return-assessments']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Filled / Reassessed Form H1</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a [routerLink]="['/admin', 'reassessments']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Reassessments</p>
          </a>
        </li> -->
        <li class="nav-item">
          <a [routerLink]="['/admin', 'reassessment-appeals']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Objections</p>
          </a>
        </li>

      </ul>

    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="nav-icon fas fa-chart-bar"></i>
        <p>
          Form H3 (Projections)
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

      <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item">
          <a [routerLink]="['/admin', 'upload-projection']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Upload Form H3</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'pending-projection']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Pending Form H3</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/admin', 'approved-projection']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Filled Form</p>
          </a>
        </li>
      </ul>

    </li>

    <li class="nav-item">
      <a class="nav-link">
        <i class="nav-icon fas fa-file-invoice"></i>
        <p>
          Reports
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

      <ul class="nav nav-treeview" style="display: none;">

        <li class="nav-item">
          <a [routerLink]="['/reports']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fas fa-line-chart nav-icon"></i>
            <p>Transaction History</p>
          </a>
        </li>

      </ul>

    </li>
    <li class="nav-item">
      <a [routerLink]="['/logout']" class="nav-link">
        <i class=" nav-icon fa fa-sign-out"></i>
        <p> Logout</p>
      </a>
    </li>


  </ul>
</nav>