<nav class="menu-items">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >

    <li class="nav-item menu-open">
      <a
        [routerLink]="['/dashboard']"
        [routerLinkActive]="['active']"
        class="nav-link active"
      >
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
      </a>
    </li>

    <li class="nav-item">
      <a  class="nav-link">
        <i class="nav-icon fas fa-file-invoice"></i>
        <p>
          PAYE
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

          <ul class="nav nav-treeview" style="display: none;">

            <li class="nav-item">
              <a [routerLink]="['/assessments']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-calendar-alt nav-icon"></i>
                <p>Monthly Remittance</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/reports']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-exchange-alt nav-icon"></i>
                <p>Form H1 (Annual Return)</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/reports']" [routerLinkActive]="['active']" class="nav-link">
                <i class="far fa-chart-bar nav-icon"></i>
                <p>Form H3 (Projections)</p>
              </a>
            </li>

          </ul>

    </li>

    <li class="nav-item">
      <a  class="nav-link">
        <i class="nav-icon fas fa-file-invoice"></i>
        <p>
          Reports
          <i class="fas fa-angle-left right"></i>
        </p>
      </a>

          <ul class="nav nav-treeview" style="display: none;">

            <li class="nav-item">
              <a [routerLink]="['/reports']" [routerLinkActive]="['active']" class="nav-link">
                <i class="fas fa-line-chart nav-icon"></i>
                <p>Transaction History</p>
              </a>
            </li>

          </ul>

    </li>


    <!-- <li class="nav-item">
      <a class="nav-link">
        <i class="fa fa-hospital-o"></i>
        <p>
          Health
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a [routerLink]="['/facility']" [routerLinkActive]="['active']" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Facility</p>
          </a>
        </li>
      </ul>
    </li> -->



      <li class="nav-item">
        <a [routerLink]="['/logout']" class="nav-link">
          <p><i class="fa fa-power-off"></i> Logout</p>
        </a>
      </li>


    </ul>
  </nav>

