<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header"></div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <!-- <flash-messages></flash-messages> -->
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">Pending Projections</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="overflow-auto">
              <table class="table table-bordered table-condensed" *ngIf="businessesData;" datatable
                [dtOptions]="dtOptions" width="100%">
                <thead>
                  <tr>
                    <th>S/N</th>
                    @if(tokenService.getLoginResData.isAdminUser){
                      <th>Company Name</th>
                      <th>Company Id</th>
                    }
                    <th>Business RIN</th>
                    <th>Business Name</th>
                    <!-- <th>Company Name</th> -->
                    <th>Projection Year</th>
                    <th>Forwarded To</th>
                    <th>Date Forwarded</th>
                    <th>No of Employees</th>
                    <th>View</th>
                  </tr>  
                </thead>
                <tbody>
                  <tr *ngFor="let mydata of businessesData; index as i">
                    <td>{{ i + 1 }}</td>
                    @if(tokenService.getLoginResData.isAdminUser){
                      <td>{{ mydata?.companyName || 'N/A' }}</td>
                      <td>{{ mydata?.companyID }}</td>
                    }
                    <td>{{ mydata?.businessRIN }}</td>
                    <td>{{ mydata?.businessName | titlecase }}</td>
                    <!-- <td>{{ mydata?.companyName | titlecase }}</td> -->
                    <td>{{ mydata?.taxYear || 'N/A' }}</td>
                    <td>{{ 'Forwarded To EIRS' }}</td>
                    <td>{{ mydata?.dateForwarded }}</td>
                    <td>{{ mydata?.noOfEmployees || 'N/A' }}</td>

                    <td title="View"><button class="btn btn-sm btn-outline-success"
                        (click)="viewBusinessProjection(projectiondetailsmodal, mydata)"><i
                          class="nav-icon fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- <table
                class="table table-bordered table-condensed"
                *ngIf="apisingledata; else content"
                datatable
                [dtOptions]="dtOptions"
                width="100%"
              >
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Projection ID</th>
                    <th>Projection Year</th>
                    <th>Business Id</th>
                    <th>Business Name</th>
                    <th>Forwarded To</th>
                    <th>Date Forwarded</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mydata of apisingledata; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ mydata?.annual_projection_id }}</td>
                    <td>{{ mydata?.projection_year }}</td>
                    <td>{{ mydata?.business_id }}</td>
                    <td>{{ mydata?.business_name }}</td>
                    <td>
                      <p
                        [ngClass]="{
                          'text-danger': mydata?.forwarded_to == 0,
                          'text-primary': mydata?.forwarded_to == 1,
                          'text-success': mydata?.forwarded_to == 2
                        }"
                      >
                        {{
                          mydata?.forwarded_to == 2
                            ? "Forwarded to Manager"
                            : mydata?.forwarded_to == 1
                            ? "Forwarded to Editor"
                            : "Not forwarded"
                        }}
                      </p>
                    </td>
                    <td>{{ mydata?.date_forwarded | date: "dd MMM yyyy" }}</td>
                    <td title="View">
                      <button
                        class="btn btn-sm btn-outline-success"
                        (click)="viewProjection(mymodal, mydata)"
                      >
                        <i class="nav-icon fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> -->
  
              <!-- <ng-template #content>
                <p style="color: red" class="text-center">No content Available</p>
              </ng-template> -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <ng-template #projectiondetailsmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Projection Details</h4>
    </div>

    <div class="modal-body">
      <div class="container">
        <table
          class="table table-bordered table-condensed"
          *ngIf="annualReturnsData"
          datatable
          [dtOptions]="dtOptions"
          width="100%"
        >
          <thead>
            <tr>
              <th>S/N</th>
              <th>Taxpayer ID</th>
              <th>Taxpayer Name</th>
              <!-- <th>Designation</th> -->
              <th>Basic</th>
              <th>Rent</th>
              <th>Transport</th>
              <th>Others (₦)</th>
              <th>Total Income (₦)</th>
              <th>Pension</th>
              <th>NHF</th>
              <th>NHIS</th>
              <th>No of Months</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mydata of annualReturnsData; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ mydata?.rin }}</td>
              <td>
                {{ mydata?.firstname + " " + mydata?.surname | titlecase }}
              </td>
              <!-- <td>{{ mydata?.designation == "NULL" ? "N/A" : mydata?.designation | titlecase }}</td> -->
              <td>{{ mydata?.basic | number }}</td>
              <td>{{ mydata?.rent | number }}</td>
              <td>{{ mydata?.transport | number }}</td>
              <td>{{ mydata?.otherIncome | number }}</td>
              <td>{{ mydata?.total | number }}</td>
              <td>{{ mydata?.pension | number }}</td>
              <td>{{ mydata?.nhf | number }}</td>
              <td>{{ mydata?.nhis | number }}</td>
              <td>{{ mydata?.numberOfMonths | number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="modal-footer">
      <button *ngIf="apidataEmpty" type="submit" (click)="generateAssessment(annualreturnmodal)" [attr.disabled]="true"
        [disabled]="annualReturnsData == null" class="btn btn button-login" style="border: 1px solid;">
        <i class="fas fa-plus-square"></i> Generate Assessment
      </button>
    
      <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">
        Ok
      </button>
    </div>
  </ng-template>

  <ng-template #annualreturnmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Employee Details</h4>
    </div>
  
    <div class="modal-body">
      <div class="container">  
        <form
          [formGroup]="annualReturnForm"
          (ngSubmit)="onSubmitAnnualReturn(annualReturnForm.value)"
        >
          <div class="form-row">  
            <div class="form-group col-md-6">
              <label for="taxPayerID">Taxpayer ID</label>
              <input
                type="text"
                formControlName="taxPayerID"
                class="form-control"
                [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="annualReturnForm.controls.taxPayerID.errors['required']">First Name is required</div> -->
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="basicIncome"
                >Basic Income<sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="basicIncome"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="Basic Income"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['basicIncome'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['basicIncome'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['basicIncome'].errors['required']"
                >
                  Basic Income required
                </div>
                <div *ngIf="annualReturnForm.controls['basicIncome'].errors['pattern']">
                  Basic Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">Firstname
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="firstName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['firstName'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['firstName'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['firstName'].errors['required']">
                  First Name is required
                </div>
                <div *ngIf="annualReturnForm.controls['firstName'].errors['pattern']">
                  First Name cannot contain numeric value
                </div>
                <div *ngIf="annualReturnForm.controls['firstName'].errors['maxlength']">
                  First Name must be at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="rent"
                >Rent</label>
              <input
                type="text"
                formControlName="rent"
                class="form-control"
                placeholder="Rent"
                (keyup)="calculateTotalIncome($event)"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['rent'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['rent'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="annualReturnForm.controls.rent.errors['required']">
                    Rent required
                  </div> -->
                <div *ngIf="annualReturnForm.controls['rent'].errors['pattern']">
                  Rent must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="middleName">Middle Name</label>
              <input
                type="text"
                formControlName="middleName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['middleName'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['middleName'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['middleName'].errors['required']">
                  Middle Name is required
                </div>
                <div *ngIf="annualReturnForm.controls['middleName'].errors['pattern']">
                  Middle Name cannot contain numeric value
                </div>
                <div
                  *ngIf="annualReturnForm.controls['middleName'].errors['maxlength']"
                >
                  Middle Name must be at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="transport"
                >Transport
              </label>
              <input
                type="text"
                formControlName="transport"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="transport"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['transport'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['transport'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="annualReturnForm.controls.transport.errors['required']">
                    Transport required
                  </div> -->
                <div *ngIf="annualReturnForm.controls['transport'].errors['pattern']">
                  Transport must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="surname">Surname
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="surname"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['surname'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['surname'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['surname'].errors['required']">
                  Surname is required
                </div>
                <div *ngIf="annualReturnForm.controls['surname'].errors['pattern']">
                  Surname cannot contain numeric value
                </div>
                <div *ngIf="annualReturnForm.controls['surname'].errors['maxlength']">
                  Surname must be at most 30 characters
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="otherIncome"
                >Other Income
              </label>
              <input
                type="text"
                formControlName="otherIncome"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="Other Income"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['otherIncome'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['otherIncome'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="annualReturnForm.controls['transport'].otherIncome.errors['required']">
                      otherIncome required
                    </div> -->
                <div *ngIf="annualReturnForm.controls['otherIncome'].errors['pattern']">
                  Other Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="NHF">National Housing Fund (NHF)</label>
              <input
                type="text"
                formControlName="NHF"
                class="form-control"
                (keyup)="calculateGrossIncome($event)"
                placeholder="National Housing Fund"
                [attr.disabled]="disableEmployeeControl"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['NHF'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['NHF'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['NHF'].errors['pattern']">
                  National Housing Fund must be Number with only two digits
                  allowed after the decimal
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="NHIS">National Health Insurance Scheme (NHIS)</label>
              <input
                type="text"
                formControlName="NHIS"
                class="form-control"
                (keyup)="calculateGrossIncome($event)"
                placeholder="National Health Insurance Scheme"
                [attr.disabled]="disableEmployeeControl"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['NHIS'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['NHIS'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['NHIS'].errors['pattern']">
                  National Health Insurance Scheme must be Number with only two
                  digits allowed after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="pension"
                >Pension<sup class="ml-1 font-wegiht-bold text-danger"></sup
              ></label>
              <input
                type="text"
                formControlName="pension"
                class="form-control"
                placeholder="Pension"
                [attr.disabled]="disableEmployeeControl"
                (keyup)="calculateGrossIncome($event)"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['pension'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['pension'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['pension'].errors['required']">
                  Pension is required
                </div>
                <div *ngIf="annualReturnForm.controls['pension'].errors['pattern']">
                  Pension must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="lifeAssurance">Life Assurance</label>
              <input
                type="text"
                formControlName="lifeAssurance"
                class="form-control"
                placeholder="Life Assurance"
                (keyup)="calculateGrossIncome($event)"
                [attr.disabled]="disableEmployeeControl"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['lifeAssurance'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['lifeAssurance'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['lifeAssurance'].errors['pattern']"
                >
                  Life Assurance must be numbers with only two digits allowed
                  after the decimal
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="monthlyIncome">Monthly Income (₦)
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="monthlyIncome"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['monthlyIncome'].errors['required']"
                >
                  Monthly Income is required
                </div>
                <div
                  *ngIf="annualReturnForm.controls['monthlyIncome'].errors['pattern']"
                >
                  Monthly Income must be Number Only
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="annualGrossIncome">Annual Gross (₦) 
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="annualGrossIncome"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="
                    annualReturnForm.controls['annualGrossIncome'].errors['required']
                  "
                >
                  Annual Gross Income is required
                </div>
                <div
                  *ngIf="
                    annualReturnForm.controls['annualGrossIncome'].errors['pattern']
                  "
                >
                  Annual Gross Income must be Number Only
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="annualTaxPaid">Annual Tax Paid (₦)
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="annualTaxPaid"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['required']"
                >
                  Annual Tax Paid is required
                </div>
                <div
                  *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['pattern']"
                >
                  Annual Tax Paid must be Number Only
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="months">Months
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="months"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['months'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['months'].errors"
                class="text-danger"
              >
                <div *ngIf="annualReturnForm.controls['months'].errors['required']">
                  Months is required
                </div>
                <div *ngIf="annualReturnForm.controls['months'].errors['pattern']">
                  Months must be Number Only
                </div>
                <div *ngIf="annualReturnForm.controls['months'].errors['maxlength']">
                  Months must be at most 2 characters
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="designation">Designation
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="designation"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['designation'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['designation'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['designation'].errors['required']"
                >
                  Designation is required
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="nationality">Nationality
                <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="nationality"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['nationality'].errors }"
              />
              <div
                *ngIf="submitted &amp;&amp; annualReturnForm.controls['nationality'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="annualReturnForm.controls['nationality'].errors['required']"
                >
                  Nationality is required
                </div>
              </div>
            </div>
          </div>
  
          <button type="submit" class="btn btn button-login">
            Save Annual Return
          </button>
        </form>
      </div>
    </div>
  
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        (click)="modal.close('Save click')"
      >
        Ok
      </button>
    </div>
  </ng-template>
  

  
  <ng-template #projectionmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Forward Projection</h4>
      <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
    </div>
  
    <div class="modal-body">
      <div class="container">
        <form
          [formGroup]="forwardProjectionForm"
          (ngSubmit)="onSubmitProjection(forwardProjectionForm.value)"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="comment">Comment</label>
              <textarea
                type="text"
                formControlName="comment"
                class="form-control"
                rows="4"
                placeholder="Enter a Comment"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardProjectionForm.controls['comment'].errors }"
              ></textarea>
              <div
                *ngIf="submitted &amp;&amp; forwardProjectionForm.controls['comment'].errors"
                class="text-danger"
              >
                <div *ngIf="forwardProjectionForm.controls['year'].errors!['required']">
                  Comment is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-5">
              <label for="year">Projection Year</label>
              <input
                type="text"
                formControlName="year"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardProjectionForm.controls['year'].errors }"
                [attr.disabled]="true"
              />
              <div
                *ngIf="submitted &amp;&amp; forwardProjectionForm.controls['year'].errors"
                class="text-danger"
              >
                <div *ngIf="forwardProjectionForm.controls['year'].errors['required']">
                  Year is required
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn button-login">
            Forward Projection
          </button>
        </form>
      </div>
    </div>
  
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        (click)="modal.close('Save click')"
      >
        Ok
      </button>
    </div>
  </ng-template>
  