<!-- Main Sidebar Container -->
<aside class="main-sidebar" id="sidebar">
  <a [routerLink]="['/#']" class=""> <img src="assets/image/EIRS-logo.png" alt="HMS LOGO" class="img-fluid p-2"/></a>
  <hr class="sidebar-divider">



  <div class="sidebar">
    <app-superadmin *ngIf="isSuperAdmin"></app-superadmin>

    <app-registrationoffcr *ngIf="isRegistrationOfficer"></app-registrationoffcr>

    <app-headofbilling *ngIf="isheadbillingOfficer"></app-headofbilling>

    <app-billingofficer *ngIf="isbillingOfficer"></app-billingofficer>

  </div>

  <!-- /.sidebar -->
</aside>
