<div class="card">
    <div class="card-header border-0">
      <div class="d-flex justify-content-between">
        <h3 class="card-title text-white">Change Password</h3>
      </div>
    </div>
    <div class="card-body">

        <form class="reset-password-form" [formGroup]="changePasswordForm" (submit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>OTP</mat-label>
                <input matInput formControlName="otp" placeholder="OTP" autocomplete="otp">
            </mat-form-field>

            <div formGroupName="passwords">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input [type]="showPassword() ? 'text' : 'password'" matInput formControlName="password" placeholder="password" autocomplete="new-password">
                    @if (!showPassword()) {
                        <mat-icon matSuffix (click)="showPassword.set(!showPassword())">visibility</mat-icon>
                    }@else {
                        <mat-icon matSuffix (click)="showPassword.set(!showPassword())">visibility_off</mat-icon>
                    }
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Repeat Password</mat-label>
                    <input [type]="showRepeatPassword() ? 'text' : 'password'" matInput formControlName="password_confirmation" placeholder="password" autocomplete="new-password">
                    @if (!showRepeatPassword()) {
                        <mat-icon matSuffix (click)="showRepeatPassword.set(!showRepeatPassword())">visibility</mat-icon>
                    }@else {
                        <mat-icon matSuffix (click)="showRepeatPassword.set(!showRepeatPassword())">visibility_off</mat-icon>
                    }
                </mat-form-field>

                <div class="form-error">
                    @if (passwords?.hasError('PasswordNoMatch') && repeatPassword?.dirty) {
                        <span>Password doesn't match.</span>
                    }
                </div>
            </div>

           

            <section>
                <button [disabled]="changePasswordForm.invalid || loading()">Change Password</button>
            </section>


        </form>

    </div>
</div>