<div class="monthly-remittance">
  <div class="monthly-remittance-header">
    <h4 class="monthly-remittance-header-title">
      TCC Application
    </h4>

    <div class="table-header">

      <!-- <div class="table-header-cont-1">
        <button class="btn btn-outline-success" (click)="processTCC()" [disabled]="btnLoading()">
          Process TCC Request
        </button>
      </div> -->

      <!-- <div class="table-header-cont-2">
        <input
          class="form-control"
          #searchTable
          type="search"
          placeholder="search business name"
          [value]="queryString()"
          (keyup)="queryTable(searchTable)"
          (search)="queryTable(searchTable)" />
      </div>  -->

    </div>
  </div>

  <div class="monthly-remittance-body">
    <div class="container">
      <table class="table table-bordered table-condensed" width="100%">
        <thead>
          <tr>
            <th>Business RIN</th>
            <th>Business Name</th>
            <th>Business Address</th>
            <th>TCC Count</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          @if(dataLoading()){
          <tr>
            <td colspan="100%">
              <ngx-skeleton-loader count="2" />
            </td>
          </tr>
          } @else if (dataMessage()) {
          <tr>
            <td colspan="100%">
              <span>{{ dataMessage() }}</span>
            </td>
          </tr>
          } @else {
          <tr>
            <td>{{ employeeDetails()?.businessRIN }}</td>
            <td>{{ employeeDetails()?.businessName | titlecase }}</td>
            <td>{{ employeeDetails()?.businessAddress }}</td>
            <td>{{ employeeDetails()?.tccCount | number }}</td>
            
            <td title="View">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="openTccView()">
                <i class="nav-icon fas fa-eye"></i>
              </button>
            </td>
          </tr>
         }
        </tbody>
      </table>

      <section>
        <!-- <mat-paginator
          [pageSize]="15"
          [pageIndex]="1"
          (page)="handlePageEvent($event)"
          showFirstLastButtons
          aria-label="Select page">
        </mat-paginator> -->
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login float-right"
      mat-dialog-close>
      Ok
    </button>
  </div>
</div>
