<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
  <section class="content">
    <div class="container-fluid">
      <!-- Left col -->

      <!-- MAP & BOX PANE -->
      <div class="card">
        <div class="card-header card-bg">
          <h3 class="card-title mt-2">Generate Bills</h3>
        </div>
        <div class="card-body">

          <form id="smp-form" [formGroup]="searchForm" autocomplete="off" class="mt-1"
          (ngSubmit)="onSubmitSearch(searchForm.value)">
          <div class="form-row">

            <div class=" col-sm-3  mt-1">
              <div class="form-group">
                <select type="text" name="tariff" id="tariff" (change)="getbillgroup()" formControlName="tariff" (change)="getTariffByID($event)"
                  [ngClass]="{ 'is-invalid': submitted && searchForm.controls['tariff'].errors  }"
                  class="form-control">
                  <option value="" disabled="true">Select Tariff</option>
                  <option *ngFor="let data of tariffTypes" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>

                <div *ngIf="submitted &amp;&amp; searchForm.controls['tariff'].errors" class="form-text text-danger">
                  <div *ngIf="searchForm.controls['tariff'].errors['required']">Tariff
                    is required</div>
                </div>
              </div>
            </div>
            <div class=" col-sm-3  mt-1">
              <div class="form-group">
                <select type="text" name="subtariff" id="subtariff" (change)="getbillgroup()" formControlName="subtariff" (change)="getsubTriffValue($event)"
                  [ngClass]="{ 'is-invalid': submitted && searchForm.controls['subtariff'].errors  }"
                  class="form-control">
                  <option value="" disabled="true">Select Sub-Tariff</option>
                  <option *ngFor="let data of subtariffTypes" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
                <div *ngIf="submitted && searchForm.controls['subtariff'].errors" class="form-text text-danger">
                  <div *ngIf="searchForm.controls['subtariff'].errors['required']">
                    Sub-Tariff is required</div>
                </div>
              </div>
            </div>

            <div class=" col-sm-3  mt-1">
              <div class="form-group">
                <select type="text" name="billType" id="billType"(change)="getbillgroup()"  formControlName="billType" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && searchForm.controls['billType'].errors  }">
                  <option value="" disabled="true">Select Bill Type</option>
                  <option *ngFor="let data of billType" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
                <div *ngIf="submitted && searchForm.controls['billType'].errors" class="form-text text-danger">
                  <div *ngIf="searchForm.controls['billType'].errors['required']">
                    Bill Type is required</div>
                  </div>
                </div>
            </div>

            <div class=" col-sm-3  mt-1">
              <div class="form-group">
                 <select name="billingGroup" formControlName="billingGroup" id="zone" class="form-control"
                 >
                  <option value="" disabled="true">Select
                    Billing Group</option>
                  <option *ngFor="let mydata of billGroup" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
             
              </div>
            </div>
            <div class=" col-sm-5 mt-1">
              <button type="submit" class="btn btn-primary font-12 smp-button">
                <i class="fas fa-search"></i> Search
              </button>
              <button type="button" class="btn btn-primary font-12 smp-button-clear" (click)="clearSearch()">
                <i class="fas fa-sync-alt"></i> Clear
              </button>
            </div>

          </div>






        </form>


          <!-- /.card-header -->



        </div>
        <div class="card-body">
          <!-- /.card-header -->
          <div class="card-body">
            <div class="col-auto mbm-30">
              <div class="row m-35" *ngIf="generatedBillsData">
                <div class="col-sm-4"  style="z-index: 1;">
                  <span>Show &nbsp; </span>
                  <select (change)="setItemsPerPage(page.value)" #page>
                    <option [selected]="currentPageLength == 10">10</option>
                    <option [selected]="currentPageLength == 30">30</option>
                    <option [selected]="currentPageLength == 50">50</option>
                    <option [selected]="currentPageLength == 100">100</option>
                    <option [selected]="currentPageLength == 500">500</option>
                    <option [selected]="currentPageLength == 1000">1000</option>
                  </select>
                  <span> &nbsp; entries </span>
                </div>
              </div>
            </div>
            <div>
              <div>
                <table class="table table-bordered table-sm row-border hover mt-4   " id="example2"
                  *ngIf="generatedBillsData" datatable [dtOptions]="dtOptions">
                  <thead style="white-space: nowrap">
                    <tr>
                      <!-- <th> <input type='checkbox' [checked]="isAllCheckBoxChecked()"
                          (change)="checkAllCheckBox($event)" /></th> -->
                      <th>S/N</th>
                      <th>District</th>
                      <th>Zone</th>
                      <th>Round</th>
                      <th>Consumer Id</th>
                      <th>Contract Id</th>
                      <th>Consumer Name</th>
                      <th>Amount</th>
                      <th>Total</th>
                      <th>Billing Cycle</th>

                      <th>Next Bill Date</th>
                      <th>Last Bill Date</th>
                    
                    </tr>
                  </thead>
                  <tbody style="white-space: nowrap">
                    <tr *ngFor="let mydata of generatedBillsData | paginate : config;let i = index">
                      <!-- <td *ngIf="mydata.payment_status_id != 3">
                        <input type='checkbox' (checked)="checkedFruits.indexOf(mydata) != null"
                          [(ngModel)]="generatedBillsData[i].checked" (click)="toggleCheck(mydata)" />
                      </td> -->
                      <td>{{ config.itemsPerPage * (config.currentPage - 1) + i + 1 }}</td>
                      <td>{{ mydata.district_name }}</td>
                      <td>{{ mydata.zone_name }}</td>
                      <td>{{ mydata.round_name }}</td>
                      <td>{{ mydata.consumer_reference }}</td>
                      <td>{{ mydata.contract_reference }}</td>
                      <td>{{ mydata.consumer_first_name }} {{ mydata.consumer_middle_name }} {{
                        mydata.consumer_last_name }}</td>
                      <td>{{ "₦" }} {{ mydata.billing_params.amount | number:'1.0':'en-US' }}</td>
                      <td>{{ "₦" }} {{ mydata.billing_params.total | number:'1.0':'en-US' }}</td>

                      <td>{{ mydata.billing_cycle_name }}</td>
                      <td>{{ mydata.billing_params.next_bill_date | date: "dd MMM yyyy" }}</td>

                      <td>{{ mydata.last_billed_at | date: "dd MMM yyyy" }}</td>

                      <!-- <td>{{ mydata.payment_status_name }}</td> -->
                      
                    </tr>
                  </tbody>
                </table>


                <!-- <button type="submit" *ngIf="generatedBillsData" [disabled]="checkedFruits.length == 0"
                  (click)="generateBill()" class="btn btn-primary font-12 smp-button mt-4  mb-4">
                  <i class="fas fa-plus-square"></i>&nbsp; Generate Bill
                </button> -->
              </div>

              <div class="row m-0 mt-3">
                <div class="col-sm-6">
                  <div id="page_info" class="record-show-text-bottom" *ngIf="generatedBillsData">
                    Showing
                    {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} -
                    {{ config.currentPage * config.itemsPerPage }} &nbsp; of
                    &nbsp;{{ config.totalItems }}
                    &nbsp; entries
                  </div>
                </div>
                <div class="col-sm-6">
                  <div *ngIf="generatedBillsData">
                    <pagination-controls (pageChange)="pageChange($event)" class="float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>

      <!-- /.card -->
      <!-- </div> -->
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->