<div class="create-schedule">
  <div class="modal-header">
    <span>
      <h4 class="modal-title" id="modal-basic-title">Create Schedule</h4>
    </span>
    <!-- <span class="text-danger">(All fields are required)</span> -->
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
  </div>

  <div class="modal-body">
    <div class="container">
      <form
        [formGroup]="createScheduleForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="year"
              >Schedule Year<sup class="font-wegiht-bold text-danger"
                >*</sup
              ></label
            >
            <select
              type="text"
              name="month"
              formControlName="year"
              id="month"
              class="form-control"
              [ngClass]="{ 'is-invalid': createScheduleForm.valid && createScheduleForm.get('year')?.errors }"
            >
              <option value="">-- Select Tax Year --</option>
              @for (year of validYears; track $index) {
                <option [value]="year">{{year}}</option>
              }
            </select>
            <div
              *ngIf="createScheduleForm.get('year')?.errors"
                class="text-danger"
            >
              <div
                *ngIf="
                  createScheduleForm.touched &&
                  createScheduleForm.get('year')?.hasError('required')
                "
              >
                Schedule Year is required
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="month"
              >Schedule Month<sup class="font-wegiht-bold text-danger"
                >*</sup
              ></label
            >
            <select
              type="text"
              name="month"
              formControlName="month"
              id="month"
              class="form-control"
              [ngClass]="{ 'is-invalid': createScheduleForm.valid && createScheduleForm.get('month')?.errors }"
            >
              <option value="">-- Select Tax Month --</option>
              <option value="January">January</option>
              <option value="February">February</option>
              <option value="March">March</option>
              <option value="April">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="August">August</option>
              <option value="September">September</option>
              <option value="October">October</option>
              <option value="November">November</option>
              <option value="December">December</option>
            </select>
            <div
              *ngIf="createScheduleForm.valid && createScheduleForm.get('month')?.errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  createScheduleForm.touched &&
                  createScheduleForm.get('month')?.hasError('required')
                "
              >
                Schedule Month is required
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="comment">Comment </label>
            <textarea
              type="text"
              class="form-control"
              rows="10"
              placeholder="Comment"
            ></textarea>
            <!-- <div
              *ngIf="createScheduleForm.valid && createScheduleForm.get('comment')?.errors"
              class="text-danger"
            >
              <div *ngIf="createScheduleForm.get('comment')?.hasError('required')">
                Comment is required
              </div>
            </div> -->
          </div>
        </div>

        <button
          type="submit"
          [disabled]="createScheduleForm.invalid || loading()"
          class=""
        >
          <i class="far fa-save"></i> Forward Schedule
        </button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      mat-dialog-close
    >
      Ok
    </button>
  </div>
</div>