<div class="monthly-remittance">
  <div class="monthly-remittance-header">
    <h4 class="monthly-remittance-header-title">
      Monthly Remittance Employees
    </h4>

    <div>
      <button class="btn btn-outline-success" (click)="downloadPdf()" [disabled]="btnLoading()">
        Excel
      </button>
    </div>

    <div>
      <button
        type="button"
        class="btn btn-outline-success role float-right mx-2"
        style="font-size: 12px; padding: 5px; margin-top: -3px"
        (click)="openAddEmployee()">
        <i class="fas fa-plus-square"></i> Add Employee
      </button>

      <button
        type="button"
        class="btn btn-outline-success role float-right mx-2"
        style="font-size: 12px; padding: 5px; margin-top: -3px"
        (click)="openBulkUpload()">
        Bulk Upload
      </button>

      <button
        type="button"
        class="btn btn-outline-success role float-right mx-2"
        style="font-size: 12px; padding: 5px; margin-top: -3px"
        (click)="openCreateSchedule()"
        [disabled]="!anyEmployeeActive()"
        >
        <i class="fas fa-plus-square"></i> Create Schedule
      </button>

      <button
        type="button"
        class="btn btn-outline-success role float-right mx-2"
        style="font-size: 12px; padding: 5px; margin-top: -3px"
        (click)="markAllEmployeeInActive()" [disabled]="btnLoading()"
        [disabled]="!anyEmployeeActive()"
        >
        Mark Inactive
      </button>
    </div>
  </div>

  <div class="monthly-remittance-body">
    <div class="container">
      <table class="table table-bordered table-condensed" width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Employee RIN</th>
            <th>Full Name</th>
            <th>Total Income (₦)</th>
            <th>Non Taxable Income (₦)</th>
            <th>Gross Income (₦)</th>
            <th>Employee Status</th>
            <th>Edit</th>
            <th>View</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @if(dataLoading()){
          <tr>
            <td colspan="100%"><span>Loading...</span></td>
          </tr>
          } @else if (dataMessage()) {
          <tr>
            <td colspan="100%">
              <span>{{ dataMessage() }}</span>
            </td>
          </tr>
          } @else { @for (employee of employeeDetails(); track $index) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ employee.employeeRin }}</td>
            <td>{{ employee.fullName | titlecase }}</td>

            <td>{{ employee.totalIncome }}</td>
            <td>{{ employee.non_TaxableIncome }}</td>
            <td>{{ employee.grossIncome }}</td>
            <td>{{ employee.status }}</td>

            <td title="edit">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="openEditEmployee(employee)">
                <i class="nav-icon fas fa-pen"></i>
              </button>
            </td>
            <td title="View">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="openViewEmployee(employee)">
                <i class="nav-icon fas fa-eye"></i>
              </button>
            </td>

            <td>
              <ng-toggle
                [value]="employee.status.toLowerCase() === 'active'"
                [color]="{
                  unchecked: '#939da2',
                  checked: '#00773B'
                }"
                (change)="
                  switchStatus($event, employee.employeeRin)
                " [disabled]="employee.status.toLowerCase() !== 'active'"></ng-toggle>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="100%">No data available.</td>
          </tr>
          } }
        </tbody>
      </table>

      <section>
        <mat-paginator
          [pageSize]="15"
          [pageIndex]="1"
          (page)="handlePageEvent($event)"
          showFirstLastButtons
          aria-label="Select page">
        </mat-paginator>
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login float-right"
      mat-dialog-close>
      Ok
    </button>
  </div>
</div>
