<app-webheader></app-webheader>
<main class="main-content" id="smp-contact">
  <div class="container">
    <div class="card bg-dark">
      <div class="card-header p-3">
        <h1 class="text-center text-white heading tp_one my-0">Privacy Policy</h1>
      </div>
      <div class="card-body px-5 text-justify">
        <h2 style="color: #9ec2cf;">INTRODUCTION</h2>
        <p>
          UNITED SOFTWARE TECHNOLOGY CONSULTANTS LIMITED (united software) (“we”, “us”, “our”) has created this Privacy
          Policy to explain how we collect, use, disclose, and protect your Personal Data, including any other
          information.
        <br>
          You accept this Privacy Policy and hereby give us consent to save, process, and use your Personal Data to the
          extent allowed by law when you provide us with details of your Personal Data or by clicking on the “accept”
          button.
       <br>
          We encourage you to review the Privacy Policy whenever you interact with us to stay informed about our
          information practices and the ways you can help protect your privacy.
        </p>

        <h2 style="color: #9ec2cf;">CONSENT/LAWFUL BASIS FOR PROCESSING PERSONAL DATA</h2>
        <p>
          You acknowledge that by registering with us and opening or closing Transactions, you will be providing us with
          Personal Data and in line with the Nigeria Data Protection Regulation (NDPR). You consent to us processing all
          such Personal Data for the purposes of using and interacting with our platforms (mobile application and
          website).
        <br>
          You consent to our disclosing such Personal Data: where we are required to by law; to Associated Companies;
          MDAs and other Government bodies; to service providers and business partners with whom we have a mutual
          relationship; to such third parties as we deem reasonable; where it is necessary in order to prevent crime;
          and to such third parties as we see fit to assist us in enforcing our legal or contractual rights against you
          including but not limited to debt collection agencies and legal advisors.
        </p>

        <h2 style="color: #9ec2cf;">COLLECTION OF PERSONAL DATA</h2>
        <p>
          We may collect and process the following information about you: The Personal Data you provide when signing up
          on the platform. You are required to provide details such as your name, date of birth, gender, email, phone
          number, marital status, religion, photograph, address, valid identification document (international passport,
          permanent voter’s card, driver’s license, national identity card), bank account details and Bank Verification
          Number (BVN), company name, CAC registration address. We will only use these Personal Data in strict
          accordance with the NDPR and other applicable laws.
        </p>

        <h2 style="color: #9ec2cf;">USE OF PERSONAL DATA</h2>
        <p style="margin-bottom: 0;">
          We may use your Personal Data, including non-public Personal Data, as follows:
        </p>
        <ol class="text-white">
          <li>Provide, maintain, and improve our services.</li>
          <li>Provide and deliver the products and services you request, process transactions, and send you related
            information, including confirmations.</li>
          <li>Verify your identity and prevent fraud.</li>
          <li>Send you technical notices, updates, security alerts, and support and administrative messages.</li>
          <li>Respond to your comments, questions and requests and provide customer service.</li>
          <li>Communicate with you about products, services, offers, promotions, rewards, and events offered by us and
            others, and provide news and information we think will be of interest to you.</li>
          <li>Monitor and analyze trends, usage, and activities in connection with our services.</li>
          <li>Personalize and improve the services and provide advertisements, content, or features that match user
            profiles or interests. (Process and deliver contest or promotion entries and rewards).</li>
          <li>Link or combine with information we get from others to help understand your needs and provide you with
            better service.</li>
          <li>Carry out any other purpose for which the Personal Data was collected.</li>
        </ol>
        <h2 style="color: #9ec2cf;">HOW LONG WE KEEP YOUR PERSONAL DATA</h2>
        <p>
          We will retain your information for as long as your account is active or as needed to provide you with our
          services or comply with our legal and statutory obligations.
        </p>
        <h2 style="color: #9ec2cf;">TRANSFERS OF PERSONAL DATA</h2>
        <p>
          The Personal Data we process may be used, stored and/or accessed by staff working for us, other members of
          united software or third-party partners providing services to us, or performing services on our behalf. When
          we contract with third parties, we require that they have appropriate security, privacy, and confidentiality
          measures in place to ensure that personal information is kept secure.
        </p>
        <h2 style="color: #9ec2cf;">OUR WEBSITES, APPLICATIONS AND THE USE OF COOKIES</h2>
        <p>
          We use our best efforts to ensure that information received via our Websites and Applications remains secured
          within our systems. We are regularly reviewing developments in online security; however, users should be aware
          that there are inherent risks in transmitting information across the internet.
          We use cookies on our Websites. Cookies can make using our Websites easier by storing information about your
          preferences and enabling you to take full advantage of our services. Cookies are very small text files that a
          Website can transfer to your computer’s hard drive or portable electronic device’s memory for record keeping.
          We may use cookies so that we can see which parts of our Websites you visit when you access those Websites. We
          may use this information for marketing products and services to you. We keep this information confidential and
          we do not disclose it to third parties.
          You can block cookies by activating the setting on your browser that allows you to refuse the setting of all
          or some cookies. However, if you use your browser settings to block all cookies (including essential cookies)
          you may not be able to access all or parts of our site.
        </p>
        <h2 style="color: #9ec2cf;">OUR SECURITY AND HOW WE PROTECT YOUR INFORMATION</h2>
        <p>
          We adopt appropriate measures to help protect all Personal Data about you from loss, theft, misuse and
          unauthorized access, disclosure, alteration, and destruction. Additionally, we implement policies designed to
          protect the confidentiality and security of your Personal Data, including a Data Protection Policy.
        </p>
        <h2 style="color: #9ec2cf;">YOUR RIGHTS AS A DATA SUBJECT</h2>
        <p style="margin-bottom: 0;">The law gives you certain rights in respect to your Personal Data we hold about you. Below is a highlight of
          some of those rights. At any point while we are in possession of or processing your Personal Data, you, the
          Data Subject has the following rights:</p>
        <ul class="text-white">
          <li style="list-style:disc"><strong style="color: #D6DBE6;">RIGHT OF ACCESS – </strong>You have the right to request a copy of the information that we hold
            about you.</li>
          <li style="list-style:disc"><strong style="color: #D6DBE6;">RIGHT TO RECTIFY – </strong>You have the right to correct the Personal Data we hold about you that
            is inaccurate.</li>
          <li style="list-style:disc"><strong style="color: #D6DBE6;">RIGHT TO BE FORGOTTEN – </strong>In certain circumstances you may ask for the data we hold about
            you to be erased from our record.</li>
          <li style="list-style:disc"><strong style="color: #D6DBE6;">RIGHT TO RESTRICT PROCESSING – </strong>Where certain conditions apply, you have a right to
            restrict the processing of your Personal Data.</li>
          <li style="list-style:disc"><strong style="color: #D6DBE6;">LODGE COMPLAINT – </strong>You have a right to lodge a complaint about the handling of your
            Personal Data with the National Information Technology Development Agency (NITDA) at info&#64;nitda.gov.ng</li>
          <li style="list-style:disc"><strong style="color: #D6DBE6;">RIGHT TO OBJECT – </strong>You have the right to object to the Processing of Personal Data.
            NITDA’s website (https://nitda.gov.ng/) has a wealth of useful information in respect of your rights over
            your Personal Data. If you wish to exercise your rights, you may contact our Data Protection Officer at
            [contact&#64;ustc.ng] or you may write to us at [contact&#64;ustc.ng]</li>
        </ul>
        <h2 style="color: #9ec2cf;">BREACH / PRIVACY VIOLATION</h2>
        <p>
          In the event of a breach of security leading to the accidental or unlawful destruction, loss, alteration,
          unauthorized disclosure of, or access to Personal Data, we shall within 72 (Seventy-Two) hours of having
          knowledge of such breach report the details of the breach to NITDA. Also, where we ascertain that such breach
          is detrimental to your rights and freedoms, we shall take reasonable steps to inform you of the breach
          incident and any course of action to remedy said breach.
        </p>
        <h2 style="color: #9ec2cf;">CHANGES TO OUR PRIVACY POLICY</h2>
        <p>
          We may change this privacy notice from time to time. We will post any changes on our platforms. Please check
          back frequently to see any updates or changes to our privacy notice. By continuing to use our website and
          interact with you. You are confirming that you have read and understood the latest version of our privacy
          notice.
        </p>
        <h2 style="color: #9ec2cf;">QUESTIONS OR CONCERNS</h2>
        <p>
          If you have any questions or concerns about this Privacy Policy or would like to contact us for any reason,
          you can contact us at [contact&#64;ustc.ng]
        </p>
      </div>
    </div>
  </div>
  <app-webfooter></app-webfooter>
</main>
<!-- <app-scrolltotop></app-scrolltotop>-->
<app-whatsupchat></app-whatsupchat>
