<nav class="navbar navbar-expand" id="navbar">
  <ul class="navbar-nav ml-auto" id="header-icons">
    <section>
      <h4>{{userStateService.getUser().companyName}}</h4>
    </section>

    <section>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline text-white welcomeName">
            <i class="far fa-user"></i> Welcome! <strong>{{ userStateService.getUser().companyName }}</strong>
          </span>
  
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <!-- <a class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="img-profile rounded-circle mr-2" src="assets/dist/img/profile.svg">
              <span>Profile</span>
            </div>
          </a>
          <div class="dropdown-divider"></div> -->
          <a class="dropdown-item">
            <div class="d-flex align-items-center">
              <i class="fas fa-phone fa-sm fa-fw text-gray-400 mr-2"></i>
              <div class="flex-grow-1">
               <span>{{userStateService.getUser().phone}}</span>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="openChangePassword()">
            <div class="d-flex align-items-center">
              <i class="fas fa-lock fa-sm fa-fw text-gray-400 mr-2"></i>
              <div class="flex-grow-1">
               <span>Change Password</span>
              </div>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" *ngIf="roleID != 7" [routerLink]="['/logout']" data-toggle="modal" data-target="#logoutModal">
            <div class="d-flex align-items-center">
              <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400 mr-2"></i>
              <span>Logout</span>
            </div>
          </a>
          <a class="dropdown-item" *ngIf="roleID == 7" [routerLink]="['/selflogout']" data-toggle="modal" data-target="#logoutModal">
            <div class="d-flex align-items-center">
              <i class="fas fa-sign-out-alt fa-sm fa-fw text-gray-400 mr-2"></i>
              <span>Logout</span>
            </div>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" data-widget="fullscreen" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-link d-md-none rounded-circle mr-3" data-widget="control-sidebar" data-slide="true" href="#"
          role="button">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </section>

  </ul>
</nav>
