<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
    <div class="container-fluid" data-select2-id="31">
      <!-- <flash-messages></flash-messages> -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-secondary">
        <div class="card-header custome">
          <h3 class="card-title">Form H1 Schedules</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="overflow-auto">
            <div class="d-flex justify-content-end">
              <div class="table-header-cont-3">
                <app-table-search />
              </div>
            </div>
            <table class="table table-bordered table-condensed" *ngIf="schedulesData" datatable [dtOptions]="dtOptions"
            width="100%">
            <thead>
              <tr>
                <th>S/N</th>
                @if(tokenService.getLoginResData.isAdminUser){
                  <th>Company Name</th>
                  <th>Company Id</th>
                }
                <th>Business RIN</th>
                <th>Business Name</th>
                <th>Taxpayer RIN</th>
                <th>Employee Count</th>
                <th>Tax Year</th>
                <th>Forwarded To</th>
                <th>Date Forwarded</th>
                <th>Due Date</th>
                <th>Annual Return Status</th>
                <th>Tax Office</th>
                <th>View & Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mydata of schedulesData; index as i">
                <td>{{ i + 1 }}</td>
                @if(tokenService.getLoginResData.isAdminUser){
                  <td>{{ mydata?.companyName || 'N/A' }}</td>
                  <td>{{ mydata?.companyId }}</td>
                }
                <td>{{ mydata?.businessRIN }}</td>
                <td>{{ mydata?.businessName | titlecase }}</td>
                <td>{{ mydata?.companyRin || "N/A" }}</td>
                <td>{{ mydata?.noOfEmployees || "N/A" }}</td>
                <td>{{ mydata?.taxYear }}</td>
                <td>{{ mydata?.forwardedTO }}</td>
                <td>{{ mydata?.dateForwarded | date : "dd MMM yyyy" }}</td>
                <td>{{ mydata?.dueDate }}</td>   
                <td>{{ mydata?.annualReturnStatus || "N/A" }}</td>
                <td>{{ mydata?.taxOffice || "N/A" }}</td>
                <td style="width: 10%" title="View">
                  <button class="btn btn-sm btn-outline-success" (click)="viewSchedule(mymodal, mydata)">
                    <i class="nav-icon fas fa-eye"></i>
                  </button>
                </td>              
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <!-- /.card-body -->
        <!-- <div class="card-footer" *ngIf="apidataEmpty">
          <button *ngIf="showCreateSchedule" type="submit" (click)="forwardSchedule(schedulemodal)"
            class="btn btn button-login"><i class="fas fa-plus-square"></i> Create Schedule</button>
        </div> -->
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<ng-template #annualReturnModal let-modal>
  <div class="card card-secondary">
    <div class="card-header custome">
      <h3 class="card-title">Annual Return Schedules</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div class="overflow-auto">
        <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
        <table
          class="table table-bordered table-condensed"
          *ngIf="schedulesData"
          datatable
          [dtOptions]="dtOptions"
          width="100%"
        >
          <thead>
            <tr>
              <th>S/N</th>
              <th style="width: 10%">Date Created</th>

              <th>Forwarded To</th>
              <th>Date Forwarded</th>
              <th>Tax Year</th>
              <!-- <th style="width: 8%">Gross Income</th> -->
              <th>Annual Return Status</th>
              <!-- <th>Corporate ID</th> -->
              <th style="width: 10%">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mydata of schedulesData; index as i">
              <td>{{ i + 1 }}</td>
              <td style="width: 10%">
                {{ mydata.created_at | date: "dd MMM yyyy" }}
              </td>
              <td>
                {{
                  mydata.forwarded_to == 0
                    ? "Not forwaded"
                    : mydata.forwarded_to == 1
                    ? "Forwarded to Editor"
                    : "Forwarded to Manager"
                }}
              </td>

              <td>{{ mydata.date_forwarded | date: "dd MMM yyyy" }}</td>
              <td>{{ mydata.due_date | date: "y" }}</td>
              <td>
                <p
                  [ngClass]="{
                    'text-danger': mydata.annual_return_assessment_status == 0,
                    'text-success': mydata.annual_return_assessment_status == 1
                  }"
                >
                  {{
                    mydata.annual_return_assessment_status == 0
                      ? "Still Open"
                      : "Case Closed"
                  }}
                </p>
              </td>
              <!-- <td>{{ mydata.corporate_id }}</td> -->

              <td style="width: 10%" title="View">
                <button class="btn btn-sm btn-outline-success" (click)="viewSchedule(mymodal, mydata)">
                  <i class="nav-icon fas fa-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        (click)="modal.close('Save click')"
      >
        Ok
      </button>
    </div>
  </div>
</ng-template>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Schedule Details</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="col-md-12">
        </div>
      </div>

      <form [formGroup]="scheduleForm" style="margin-bottom: 20px;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="forwardedTo">Forwarded To</label>
            <input
              type="text"
              formControlName="forwardedTo"
              class="form-control"
              [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls['forwardedTo'].errors }"
            />
          </div>

          <div class="form-group col-md-6">
            <label for="annualReturnStatus">Annual Return Status</label>
            <input
              type="text"
              formControlName="annualReturnStatus"
              class="form-control"
              [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls['annualReturnStatus'].errors }"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dateForwarded">Date Forwarded</label>
            <input
              type="text"
              formControlName="dateForwarded"
              class="form-control"
              [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls['dateForwarded'].errors }"
            />
          </div>

          <div class="form-group col-md-6">
            <label for="dueDate">Due Date</label>
            <input
              type="text"
              formControlName="dueDate"
              class="form-control"
              [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; scheduleForm.controls['dueDate'].errors }"
            />
          </div>
        </div>
      </form>

      <div>
        <table class="table table-bordered table-condensed" *ngIf="annualReturnsData" datatable [dtOptions]="dtOptions"
        width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Taxpayer RIN</th>
            <th>Full Name</th>
            <!-- <th>Surname</th> -->
            <th>Designation</th>
            <th>Nationality</th>
            <th>Total Income (₦)</th>
            <th>Tax Free Pay(₦)</th>
            <th>Annual Tax Paid (₦)</th>
            <th>No of Months</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mydata of annualReturnsData; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ mydata?.rin }}</td>
            <td>
              {{(mydata?.fullName | titlecase) || "N/A" }}
            </td>
            <!-- <td>
              {{ mydata?.surname == null ? "N/A" : mydata?.surname | titlecase }}
            </td> -->
            <td>{{ (mydata?.designation | titlecase) || "N/A" }}</td>
            <td>{{ (mydata?.nationality | titlecase) || "N/A" }}</td>

            <td>{{ mydata?.totalIncome | number: '1.0-2' }}</td>
            <td>{{ mydata?.taxFreePay | number: '1.0-2' }}</td>
            <td>{{ mydata?.annualtaxpaid | number: '1.0-2' }}</td>
            <td>{{ mydata?.totalmonthspaid | number: '1.0-2' }}</td>
            <td title="View">
              <button
                class="btn btn-sm btn-outline-success"
                (click)="
                  openDetailView(mydata)
                ">
                <i class="nav-icon fas fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button
      *ngIf="managerRole"
      type="submit"
      (click)="forwardSchedule(schedulemodal)"
      [disabled]="forwardedToEditor || isFiled == 1"
      class="btn btn button-login" style="border: 1px solid;">
      <i class="fas fa-backward"></i> Back to Editor
    </button>

    <button
      type="submit"
      (click)="forwardSchedule(schedulemodal)"
      [disabled]="forwardedToManager || isFiled == 1"
      class="btn btn button-login" style="border: 1px solid;">
      <i class="fas fa-forward"></i> Forward to Manager
    </button> -->

    <!-- <button
      *ngIf="showGenerateAssessment"
      [disabled]="isFiled == 1"
      type="submit"
      (click)="generateAssessment(assessmentmodal)"
      class="btn btn button-login" style="border: 1px solid;">
      <i class="far fa-share-square"></i> File Annual Return
    </button> -->

    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')">
      Ok
    </button>
  </div>
</ng-template>

<ng-template #schedulemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Forward Schedule</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="col-md-12">
          <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
        </div>
      </div>

      <form
        [formGroup]="forwardScheduleForm"
        (ngSubmit)="onSubmitSchedule(forwardScheduleForm.value)"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="scheduleYear">Schedule Year</label>
            <input
              type="text"
              formControlName="scheduleYear"
              class="form-control"
              [attr.disabled]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; forwardScheduleForm.controls['scheduleYear'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; forwardScheduleForm.controls['scheduleYear'].errors"
              class="text-danger"
            >
              <div
                *ngIf="forwardScheduleForm.controls['scheduleYear'].errors['required']">
                Schedule Year is required
              </div>
              <div
                *ngIf="
                  forwardScheduleForm.controls['scheduleYear'].errors['maxlength']
                "
              >
                Schedule Year must be at least 4 characters long.
              </div>
              <div
                *ngIf="
                  forwardScheduleForm.controls['scheduleYear'].errors['maxlength']
                "
              >
                Schedule Year must be 4 characters long.
              </div>
              <div
                *ngIf="forwardScheduleForm.controls['scheduleYear'].errors['pattern']"
              >
                Schedule Year must be Number Only
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn button-login">
          <i class="far fa-save"></i> Save Schedule
        </button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<ng-template #fileAnnualReturnModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File Annual Return</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="col-md-12">
        </div>
      </div>

      <form
        [formGroup]="assessmentForm"
        (ngSubmit)="onSubmitAssessment(assessmentForm.value)"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="assessmentYear">Assessment Year</label>
            <input
              type="text"
              formControlName="assessmentYear"
              class="form-control"
              [attr.disabled]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; assessmentForm.controls['assessmentYear'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; assessmentForm.controls['assessmentYear'].errors"
              class="text-danger"
            >
              <div
                *ngIf="assessmentForm.controls['assessmentYear'].errors['required']"
              >
                Assessment Year is required
              </div>
              <div
                *ngIf="assessmentForm.controls['assessmentYear'].errors['maxlength']"
              >
                Assessment Year must be at least 4 characters long.
              </div>
              <div
                *ngIf="assessmentForm.controls['assessmentYear'].errors['maxlength']"
              >
                Assessment Year must be 4 characters long.
              </div>
              <div
                *ngIf="assessmentForm.controls['assessmentYear'].errors['pattern']"
              >
                Assessment Year must be Number Only
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="isFiled == 1"
          class="btn btn button-login">
          <i class="far fa-share-square"></i> File Annual Return
        </button>

        <!-- <button
        type="submit"
        [disabled]="isFiled == 1"
        class="btn btn button-login">
        <i class="far fa-share-square"></i> File Annual Return
      </button> -->
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>

<ng-template #annualreturnmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Annual Return</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button> -->
  </div>

  <div class="modal-body">
    <div class="container">
      <div class="form-row">
        <div class="col-md-12">
          <!-- <img src="assets/dist/img/login-user-img.png" class="rounded float-left" alt="User Image"
                        style="height:90px; width: 130px;"> -->
        </div>
      </div>

      <form
        [formGroup]="annualReturnForm"
        (ngSubmit)="onSubmitAnnualReturn(annualReturnForm.value)"
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="taxPayerID">Taxpayer ID</label>
            <input
              type="text"
              formControlName="taxPayerID"
              class="form-control"
              [attr.disabled]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors"
              class="text-danger"
            >
              <!-- <div *ngIf="annualReturnForm.controls['contactAddress']taxPayerID.errors['required']">First Name is required</div> -->
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="firstName">First Name
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            ></label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['firstName'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['firstName'].errors"
              class="text-danger"
            >
              <div *ngIf="annualReturnForm.controls['firstName'].errors['required']">
                First Name is required
              </div>
              <div *ngIf="annualReturnForm.controls['firstName'].errors['pattern']">
                First Name cannot contain numeric value
              </div>
              <div *ngIf="annualReturnForm.controls['firstName'].errors['maxlength']">
                First Name must be at most 30 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="middleName">Middle Name
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            ></label>
            <input
              type="text"
              formControlName="middleName"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['middleName'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['middleName'].errors"
              class="text-danger"
            >
              <div *ngIf="annualReturnForm.controls['middleName'].errors['required']">
                Middle Name is required
              </div>
              <div *ngIf="annualReturnForm.controls['middleName'].errors['pattern']">
                Middle Name cannot contain numeric value
              </div>
              <div
                *ngIf="annualReturnForm.controls['middleName'].errors['maxlength']"
              >
                Middle Name must be at most 30 characters
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="surname">Surname
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            ></label>
            <input
              type="text"
              formControlName="surname"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['surname'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['surname'].errors"
              class="text-danger"
            >
              <div *ngIf="annualReturnForm.controls['surname'].errors['required']">
                Surname is required
              </div>
              <div *ngIf="annualReturnForm.controls['surname'].errors['pattern']">
                Surname cannot contain numeric value
              </div>
              <div *ngIf="annualReturnForm.controls['surname'].errors['maxlength']">
                Surname must be at most 30 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="monthlyIncome">Monthly Income
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="monthlyIncome"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors"
              class="text-danger"
            >
              <div
                *ngIf="annualReturnForm.controls['monthlyIncome'].errors['required']"
              >
                Monthly Income is required
              </div>
              <div
                *ngIf="annualReturnForm.controls['monthlyIncome'].errors['pattern']"
              >
                Monthly Income must be Number Only
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="annualGrossIncome">Annual Gross Income
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="annualGrossIncome"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors"
              class="text-danger"
            >
              <div
                *ngIf="
                  annualReturnForm.controls['annualGrossIncome'].errors['required']
                "
              >
                Annual Gross Income is required
              </div>
              <div
                *ngIf="
                  annualReturnForm.controls['annualGrossIncome'].errors['pattern']
                "
              >
                Annual Gross Income must be Number Only
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="annualTaxPaid">Annual Tax Paid
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="annualTaxPaid"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors"
              class="text-danger"
            >
              <div
                *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['required']"
              >
                Annual Tax Paid is required
              </div>
              <div
                *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['pattern']"
              >
                Annual Tax Paid must be Number Only
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="months">Months
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="months"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['months'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['months'].errors"
              class="text-danger"
            >
              <div *ngIf="annualReturnForm.controls['months'].errors['required']">
                Months is required
              </div>
              <div *ngIf="annualReturnForm.controls['months'].errors['pattern']">
                Months must be Number Only
              </div>
              <div *ngIf="annualReturnForm.controls['months'].errors['maxlength']">
                Months must be at most 2 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="designation">Designation
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="designation"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['designation'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['designation'].errors"
              class="text-danger"
            >
              <div
                *ngIf="annualReturnForm.controls['designation'].errors['required']"
              >
                Designation is required
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="nationality">Nationality
              <sup
              style="font-weight: 800"
              class="font-wegiht-bold text-danger"
              >*</sup
            >
            </label>
            <input
              type="text"
              formControlName="nationality"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['nationality'].errors }"
            />
            <div
              *ngIf="submitted &amp;&amp; annualReturnForm.controls['nationality'].errors"
              class="text-danger"
            >
              <div
                *ngIf="annualReturnForm.controls['nationality'].errors['required']"
              >
                Nationality is required
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn button-login">
          Save Annual Return
        </button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div>
</ng-template>
