<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">


        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">Manage User</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <div class="page-header">
              <h3> </h3>
            </div>
           <div class="over-auto">

            <table class="table table-bordered table-condensed" *ngIf="apidata; else content" datatable [dtOptions]="dtOptions" width="100%">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role Name</th>
                    <th>Created Date</th>
                    <th>Last Login</th>
                    <th *ngIf="managerRole">Status</th>
                    <th *ngIf="managerRole">View</th>
                    <th *ngIf="managerRole">Delete</th>

                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let mydata of apidata ; index as i">
                    <td>{{i+1}}</td>
                    <td>{{ mydata.name | titlecase}}</td>
                    <td>
                      <p *ngIf="mydata.email != '' || mydata.email == null ; else notShow "> {{ mydata.email}} </p>
                      <ng-template #notShow>NA</ng-template>
                    </td>
                    <td>{{ mydata.phone }}</td>

                    <td>
                      <p *ngIf="mydata.role_id == 5">Manager</p>
                      <p *ngIf="mydata.role_id == 6">Editor</p>
                      <p *ngIf="mydata.role_id == 7">Viewer</p>
                    </td>
                    <td>{{ mydata.created_at | date:'MMM d, y, h:mm:ss a' }}</td>
                    <td>{{ mydata.last_login == null ? 'Not logged in yet' : mydata.last_login | date:'MMM d, y, h:mm:ss a' }}</td>

                    <td *ngIf="managerRole">
                      <p *ngIf="mydata.active == 1">
                        <button *ngIf="mydata.role_id !=5; else other_content_active" class="btn btn-outline-success" (click)="changeStatus(mydata.id, mydata.active)" >Active</button>
                        <ng-template #other_content_active><button class="btn btn-outline-success" disabled>Active</button></ng-template>
                      </p>

                      <p *ngIf="mydata.active == 0">
                        <button *ngIf="mydata.role_id !=5; else other_content_inactive" class="btn btn-outline-danger" (click)="changeStatus(mydata.id, mydata.active)">Inactive</button>
                        <ng-template #other_content_inactive><button class="btn btn-outline-danger" disabled>Inactive</button></ng-template>
                      </p>

                    </td>

                    <td *ngIf="managerRole" title="View">
                      <button *ngIf="mydata.role_id !=5; else other_content_edit" [routerLink]="['/edit', mydata.id]" class="btn btn-outline-success"  ><i class="nav-icon fas fa-edit"></i></button>
                      <ng-template #other_content_edit><button class="btn btn-outline-danger" disabled><i class="nav-icon fas fa-edit"></i></button></ng-template>
                    </td>


                    <td *ngIf="managerRole" title="Delete">
                      <button *ngIf="mydata.role_id !=5; else other_content" (click)="deleteUser(mydata.id)" class="btn btn-danger" ><i class="nav-icon fas fa-trash-alt"></i></button>
                      <ng-template #other_content><button class="btn btn-danger" disabled><i class="nav-icon fas fa-trash-alt"></i></button></ng-template>
                    </td>

                  </tr>
                </tbody>
              </table>

              <ng-template #content > <p style="color: red;" > </p></ng-template>
              </div>

          </div>
          <!-- /.card-body -->
          <div class="card-footer">

          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
