<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header"></div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <flash-messages></flash-messages>
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">List of Businesses</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="over-auto">
              <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
              <table
                class="table table-bordered table-condensed"
                *ngIf="businessesData"
                datatable
                [dtOptions]="dtOptions"
                width="100%"
              >
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Business ID</th>
                    <th>Business Name</th>
                    <th>Sector</th>
                    <th>Subsector</th>
                    <th>Address</th>
                    <!-- <th>Employees Count</th> -->
                    <th>LGA</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mydata of businessesData; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ mydata.business_id }}</td>
                    <td>{{ mydata.business_name | titlecase }}</td>
                    <td>{{ mydata.industry_sector_name }}</td>
                    <td>{{ mydata.industry_subsector_name }}</td>
                    <td>{{ mydata.business_address }}</td>
                    <!-- <td>{{ mydata.employees_count }}</td> -->
                    <td>
                      {{ mydata.lga_name == null ? "N/A" : mydata.lga_name }}
                    </td>
  
                    <td title="View">
                      <button
                        class="btn btn-sm btn-outline-primary"
                        (click)="
                          viewBusinessAnnualReturn(annualReturnModal, mydata)
                        "
                      >
                        <i class="nav-icon fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer" *ngIf="apidataEmpty">
            <button *ngIf="showCreateSchedule" type="submit" (click)="forwardSchedule(schedulemodal)"
              class="btn btn button-login"><i class="fas fa-plus-square"></i> Create Schedule</button>
          </div> -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
  <ng-template #annualReturnModal let-modal>
    <div class="card card-secondary">
      <div class="card-header custome">
        <h3 class="card-title">Upload Annual Return Employees</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="alert alert-success" role="alert" *ngIf="isResponse == 1">
          {{ isMessage }}
        </div>
  
        <div class="alert alert-danger" role="alert" *ngIf="isError == 1">
          {{ isMessage }}
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fileInput">Select File to Upload </label>
  
                <div class="custom-file">
                  <input
                    formControlName="myfile"
                    id="myfile"
                    type="file"
                    class="custom-file-input"
                    (change)="onFileChange($event)"
                    accept=".xls,.xlsx"
                    [ngClass]="{
                      'is-invalid': submitted && myForm.controls.myfile.errors
                    }"
                  />
                  <label class="custom-file-label" for="customFile">{{
                    filePath == null ? "Choose file (xlsx or xls)" : filePath
                  }}</label>
                </div>
  
                <div
                  *ngIf="submitted &amp;&amp; myForm.controls.myfile.touched && f.myfile.invalid"
                  class="text-danger"
                >
                  <div *ngIf="myForm.controls.myfile.errors.required">File is required.</div>
                </div>
              </div>
            </div>
  
            <button
              type="submit"
              class="btn btn button-login"
              [disabled]="file == null"
            >
              Upload File
            </button>
          </form>
  
          <div class="login-remeber">
            <a href="{{ sample_file }}" target="_blank">
              Download annual return employee template here</a
            >
          </div>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button
          type="button"
          class="btn btn-outline-dark button-login"
          (click)="modal.close('Save click')"
        >
          Ok
        </button>
      </div>
    </div>
  </ng-template>
  