<div class="add-employee">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Employee Details And
        Monthly Income</h4>
    </div>

    <div class="modal-body">
      <div class="container">
        <form
          [formGroup]="addEmployeeForm"
          (Submit)="onSubmit()"
        >
          <!-- START NEW FORM -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="existingTaxId">Existing Taxpayer ID</label>
              <input
                type="text"
                formControlName="existingTaxId"
                class="form-control"
                maxlength="11"
                placeholder="Existing Taxpayer ID"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['existingTaxId'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['existingTaxId'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['existingTaxId'].errors['minlength']"
                >
                  Existing Taxpayer ID must be at least 11 character long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['existingTaxId'].errors['maxLength']"
                >
                  Existing Taxpayer ID must be at most 11 character long
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="basicIncome"
                >Basic Income<sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="basic"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="Basic Income"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['basic'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['basic'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['basic'].errors['required']">
                  Basic Income required
                </div>
                <div *ngIf="addEmployeeForm.controls['basic'].errors['pattern']">
                  Basic Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="titleId"
                >Title
                <sup class="ml-1 font-wegiht-bold text-danger">*</sup>
              </label>
              <select
                type="text"
                name="titleId"
                formControlName="title"
                id="titleId"
                class="form-control"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['title'].errors }"
              >
                <option value="">Select Title</option>
                <option value="Mr.">Mr.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Miss.">Miss.</option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['title'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['title'].errors['required']">
                  Title is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="rent"
                >Rent
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="text"
                formControlName="rent"
                class="form-control"
                placeholder="Rent"
                (keyup)="calculateTotalIncome($event)"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['rent'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['rent'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['rent'].errors['pattern']">
                  Rent must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName"
                >First Name<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="firstName"
                class="form-control"
                placeholder="First Name"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['firstname'].errors }" />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['firstname'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['firstname'].errors['required']">
                  First Name is required
                </div>
                <div *ngIf="addEmployeeForm.controls['firstname'].errors['pattern']">
                  First Name can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['firstname'].errors['maxLength']">
                  First Name must be at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="transport"
                >Transport
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="text"
                formControlName="transport"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="transport"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['transport'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['transport'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['transport'].errors['required']">
                  Transport required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['transport'].errors['pattern']">
                  Transport must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="surname"
                >Surname<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="surname"
                class="form-control"
                placeholder="Surname"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['surname'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['surname'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['surname'].errors['required']">
                  Surname is required
                </div>
                <div *ngIf="addEmployeeForm.controls['surname'].errors['pattern']">
                  Surname can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['surname'].errors['maxLength']">
                  Surname must at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="otherIncome"
                >Other Income
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="text"
                formControlName="otherIncome"
                class="form-control"
                (keyup)="calculateTotalIncome($event)"
                placeholder="Other Income"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['otherIncome'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['otherIncome'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['otherIncome'].errors['required']">
                  otherIncome required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['otherIncome'].errors['pattern']">
                  Other Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="otherName"
                >Other Name
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="otherName"
                class="form-control"
                placeholder="Other Name"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['othername'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['othername'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['myfile']otherName.errors['required']">
                  Other Name is required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['othername'].errors['pattern']">
                  Other Name can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['othername'].errors['maxLength']">
                  Other Name must be at most 30 characters
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="totalIncome"
                >Total Income<sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="text"
                formControlName="totalIncome"
                class="form-control"
                placeholder="Total Income"
                (keyup)="calculateGrossIncome($event)"
                [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['totalIncome'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['totalIncome'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['totalIncome'].errors['required']">
                  Total Income required
                </div>
                <div *ngIf="addEmployeeForm.controls['totalIncome'].errors['pattern']">
                  Total Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phoneNumber"
                >Phone Number
                <sup class="ml-1 font-wegiht-bold text-danger">*</sup>
              </label>
              <input
                type="text"
                maxlength="11"
                formControlName="phoneNumber"
                class="form-control"
                placeholder="Phone Number"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['phonenumber'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['phonenumber'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['phonenumber'].errors['required']">
                  Phone Number is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['phonenumber'].errors['minlength']"
                >
                  Phone Number must be at least 11 digit long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['phonenumber'].errors['maxLength']"
                >
                  Phone Number must be at most 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['phonenumber'].errors['pattern']">
                  Phone Number must be numbers only and start with 0
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="pension">Pension</label>
              <input
                type="text"
                formControlName="pension"
                class="form-control"
                placeholder="Pension"
                (keyup)="calculateGrossIncome($event)"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['pension'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['pension'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['pension'].errors['pattern']">
                  Pension must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="emailAddress"
                >Email Address<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="Email Address"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['email'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['email'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['email'].errors['required']"
                >
                  Email Address is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['email'].errors['minlength']"
                >
                  Email Address must not be more than 45 characters long
                </div>
                <div *ngIf="addEmployeeForm.controls['email'].errors['pattern']">
                  Provide a valid Email address
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="NHF">National Housing Fund (NHF)</label>
              <input
                type="text"
                formControlName="nhf"
                class="form-control"
                placeholder="National Housing Fund"
                (keyup)="calculateGrossIncome($event)"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nhf'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nhf'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nhf'].errors['pattern']">
                  National Housing Fund must be numbers with only two digits
                  allowed after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bvn"
                >BVN <span class="note-color">**</span>
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                formControlName="bvn"
                maxlength="11"
                class="form-control"
                placeholder="BVN"
                (keyup)="changeTinPhoneNinBvnStatus()"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['bvn'].errors || addEmployeeForm.touched && validateCacTin }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['bvn'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['minlength']">
                  BVN must be at least 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['maxLength']">
                  BVN must be at most 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['pattern']">
                  BVN must be numeric value only
                </div>
              </div>
              <div
                *ngIf="addEmployeeForm.touched && validateCacTin"
                class="text-danger"
              >
                <div>JTB-TIN or NIN or BVN Number is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="NHIS">National Health Insurance Scheme (NHIS)</label>
              <input
                type="text"
                formControlName="nhis"
                class="form-control"
                placeholder="National Health Insurance Scheme"
                (keyup)="calculateGrossIncome($event)"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nhis'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nhis'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nhis'].errors['pattern']">
                  National Health Insurance Scheme must be numbers with only two
                  digits allowed after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="employeeTIN"
                >Employee JTB-TIN <span class="note-color">**</span></label
              >
              <input
                type="text"
                formControlName="employeeTIN"
                maxlength="10"
                class="form-control"
                placeholder="Employee JTB-TIN"
                (keyup)="changeTinPhoneNinBvnStatus()"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['employeeTIN'].errors || addEmployeeForm.touched && validateCacTin }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['employeeTIN'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['employeeTIN'].errors['minlength']"
                >
                  Employee JTB-TIN must be at least 10 digit long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['employeeTIN'].errors['maxLength']"
                >
                  Employee JTB-TIN must be at most 10 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['employeeTIN'].errors['pattern']">
                  Employee JTB-TIN must be numeric value only
                </div>
              </div>
              <div
                *ngIf="addEmployeeForm.touched && validateCacTin"
                class="text-danger"
              >
                <div>JTB-TIN or NIN or BVN Number is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="lifeAssurance">Life Assurance</label>
              <input
                type="text"
                formControlName="lifeAssurance"
                class="form-control"
                placeholder="Life Assurance"
                (keyup)="calculateGrossIncome($event)"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['lifeAssurance'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['lifeAssurance'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['lifeAssurance'].errors['pattern']"
                >
                  Life Assurance must be numbers with only two digits allowed
                  after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nin"
                >NIN <span class="note-color">**</span>
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                formControlName="nin"
                class="form-control"
                id="nin"
                placeholder="Enter NIN"
                maxlength="11"
                (keyup)="changeTinPhoneNinBvnStatus()"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nin'].errors || addEmployeeForm.touched && validateCacTin }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nin'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nin'].errors!['minlength']">
                  NIN can not be less than 11 characters
                </div>
                <div *ngIf="addEmployeeForm.controls['nin'].errors!['pattern']">
                  NIN must be numeric value only
                </div>
              </div>
              <div
                *ngIf="addEmployeeForm.touched && validateCacTin"
                class="text-danger"
              >
                <div>JTB-TIN or NIN or BVN Number is required</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="grossIncome"
                >Gross Income<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                formControlName="grossIncome"
                class="form-control"
                placeholder="Gross Income"
                [attr.disabled]="true"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['grossIncome'].errors || grossIncomeIncorrect }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['grossIncome'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['grossIncome'].errors['required']">
                  Gross Income is required
                </div>
                <div *ngIf="addEmployeeForm.controls['grossIncome'].errors!['pattern']">
                  Gross must be numbers with only two digits allowed after the
                  decimal
                </div>
              </div>
              <div *ngIf="grossIncomeIncorrect" class="text-danger">
                <div>Gross Income cannot be less than or equal to zero</div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="localGovernmentId"
                >Local Government<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <select
                name="localGovernmentId"
                formControlName="lgaCode"
                id="localGovernmentId"
                class="form-control"
                style="min-width: 339px"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['lgaCode'].errors }"
              >
                <option value="">Select Local Government</option>
                <option
                  *ngFor="let stateLocalGovt of stateLocalGovts()"
                  [value]="stateLocalGovt.lgaid"
                >
                  {{ stateLocalGovt.lganame }}
                </option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['lgaCode'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="
                    addEmployeeForm.controls['lgaCode'].errors!['required']
                  "
                >
                  Local Government is required
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="startMonthId"
                >Start Month<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <select
                type="text"
                name="startMonthId"
                formControlName="startMonth"
                id="startMonthId"
                class="form-control"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['startMonth'].errors }"
              >
                <option value="">Select Start Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['startMonth'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['startMonth'].errors!['required']"
                >
                  Start Month is required
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nationality"
                >Nationality<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                formControlName="nationality"
                class="form-control"
                placeholder="Nationality"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nationality'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nationality'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nationality'].errors['required']">
                  Nationality is required
                </div>
                <div *ngIf="addEmployeeForm.controls['nationality'].errors['pattern']">
                  Nationality must be numbers only
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="designation"
                >Designation<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                formControlName="designation"
                class="form-control"
                placeholder="Designation"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['designation'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['designation'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['designation'].errors['required']">
                  Designation is required
                </div>
                <div *ngIf="addEmployeeForm.controls['designation'].errors['pattern']">
                  Designation must be alphabets only
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['designation'].errors!['maxLength']"
                >
                  Designation must be at most 40 characters
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="zipCode"
                >Zip Code<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <select
                type="text"
                name="zipCode"
                formControlName="zipCode"
                id="zipCode"
                class="form-control"
                style="min-width: 339px"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['zipCode'].errors }"
              >
                <option value="">Select Zip Code</option>
                <option *ngFor="let zipcode of zipCodes()" [value]="zipcode.city">
                  {{ zipcode.city }} {{ " " }} {{ zipcode.postalcode }}
                </option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['zipCode'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['zipCode'].errors!['required']">
                  Zip Code is required
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="contactAddress"
                >Home Address<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <textarea
                type="text"
                formControlName="homeaddress"
                class="form-control"
                rows="3"
                placeholder="Home Address"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['homeaddress'].errors }"
              ></textarea>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['homeaddress'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['homeaddress'].errors['required']"
                >
                  Home Address is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['homeaddress'].errors['minlength']"
                >
                  Home Address must be at least 10 characters long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['homeaddress'].errors['maxLength']"
                >
                  Home Address must be at most 80 characters
                </div>
              </div>
            </div>
          </div>
  
          <button
            type="submit"
            class=""
          >
            <i class="fas fa-plus-square"></i> Save Employee
          </button>
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        id="closeCreateModal"
        class="btn btn-outline-dark button-login"
        mat-dialog-close>
        Ok
      </button>
    </div>
  </div>