<div class="add-employee">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Employee Details And
        Monthly Income</h4>
    </div>

    <div class="modal-body">
      <div class="container">
        <form
          [formGroup]="addEmployeeForm"
        >
          <!-- START NEW FORM -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="existingTaxId">Existing Taxpayer ID</label>
              <input
                type="text"
                formControlName="taxpayer_id"
                class="form-control"
                maxlength="11"
                placeholder="Existing Taxpayer ID"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['taxpayer_id'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['taxpayer_id'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['taxpayer_id'].errors['minlength']"
                >
                  Existing Taxpayer ID must be at least 11 character long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['taxpayer_id'].errors['maxLength']"
                >
                  Existing Taxpayer ID must be at most 11 character long
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="basicIncome"
                >Basic Income<sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                >
              </label>
              <input
                type="number"
                formControlName="basic"
                class="form-control"
                
                placeholder="Basic Income"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['basic'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['basic'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['basic'].errors['required']">
                  Basic Income required
                </div>
                <div *ngIf="addEmployeeForm.controls['basic'].errors['pattern']">
                  Basic Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="titleId"
                >Title
              </label>
              <select
                type="text"
                name="titleId"
                formControlName="title"
                id="titleId"
                class="form-control"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['title'].errors }"
              >
                <option value="">Select Title</option>
                <option value="Mr">Mr.</option>
                <option value="Mrs">Mrs.</option>
                <option value="Miss">Miss.</option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['title'].errors"
                class="text-danger"
              >
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="rent"
                >Rent
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="number"
                formControlName="rent"
                class="form-control"
                placeholder="Rent"
                
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['rent'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['rent'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['rent'].errors['pattern']">
                  Rent must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName"
                >First Name<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="first_name"
                class="form-control"
                placeholder="First Name"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['first_name'].errors }" />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['first_name'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['first_name'].errors['required']">
                  First Name is required
                </div>
                <div *ngIf="addEmployeeForm.controls['first_name'].errors['pattern']">
                  First Name can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['first_name'].errors['maxLength']">
                  First Name must be at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="transport"
                >Transport
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="number"
                formControlName="transport"
                class="form-control"
                
                placeholder="transport"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['transport'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['transport'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['transport'].errors['required']">
                  Transport required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['transport'].errors['pattern']">
                  Transport must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="surname"
                >Surname<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="last_name"
                class="form-control"
                placeholder="Surname"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['last_name'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['last_name'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['last_name'].errors['required']">
                  Surname is required
                </div>
                <div *ngIf="addEmployeeForm.controls['last_name'].errors['pattern']">
                  Surname can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['last_name'].errors['maxLength']">
                  Surname must at most 30 characters
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="otherIncome"
                >Other Income
                <!-- <sup
                  style="font-weight: 800"
                  class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                > -->
              </label>
              <input
                type="number"
                formControlName="other_income"
                class="form-control"
                
                placeholder="Other Income"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['other_income'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['other_income'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['other_income'].errors['required']">
                  other income required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['other_income'].errors['pattern']">
                  Other Income must be Number with only two digits allowed after
                  the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="otherName"
                >Other Names
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                pattern="[^\s]+"
                formControlName="other_name"
                class="form-control"
                placeholder="Other Name"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['other_name'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['other_name'].errors"
                class="text-danger"
              >
                <!-- <div *ngIf="addEmployeeForm.controls['myfile']otherName.errors['required']">
                  Other Name is required
                </div> -->
                <div *ngIf="addEmployeeForm.controls['other_name'].errors['pattern']">
                  Other Name can only contain alphabets
                </div>
                <div *ngIf="addEmployeeForm.controls['other_name'].errors['maxLength']">
                  Other Name must be at most 30 characters
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="otherName"
                >Total Income(Basic + Rent + Transport + Others)*
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="number"
                class="form-control"
                [value]="totalOtherIncome()"
                disabled
              />
            </div>

          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phoneNumber"
                >Phone Number
                <sup class="ml-1 font-wegiht-bold text-danger">*</sup>
              </label>
              <input
                type="number"
                maxlength="11"
                formControlName="phone"
                class="form-control"
                placeholder="Phone Number"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['phone'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['phone'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['phone'].errors['required']">
                  Phone Number is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['phone'].errors['minlength']"
                >
                  Phone Number must be at least 11 digit long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['phone'].errors['maxLength']"
                >
                  Phone Number must be at most 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['phone'].errors['pattern']">
                  Phone Number must be numbers only and start with 0
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="pension">Pension</label>
              <input
                type="number"
                formControlName="pension"
                class="form-control"
                placeholder="Pension"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['pension'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['pension'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['pension'].errors['pattern']">
                  Pension must be Number with only two digits allowed after the
                  decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="emailAddress"
                >Email Address
                </label
              >
              <input
                type="text"
                formControlName="email"
                class="form-control"
                placeholder="Email Address"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['email'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['email'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['email'].errors['required']"
                >
                  Email Address is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['email'].errors['minlength']"
                >
                  Email Address must not be more than 45 characters long
                </div>
                <div *ngIf="addEmployeeForm.controls['email'].errors['pattern']">
                  Provide a valid Email address
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="NHF">National Housing Fund (NHF)</label>
              <input
                type="number"
                formControlName="nhf"
                class="form-control"
                placeholder="National Housing Fund"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nhf'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nhf'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nhf'].errors['pattern']">
                  National Housing Fund must be numbers with only two digits
                  allowed after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="bvn"
                >BVN <span class="note-color">**</span>
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                formControlName="bvn"
                maxlength="11"
                class="form-control"
                placeholder="BVN"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['bvn'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['bvn'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['minlength']">
                  BVN must be at least 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['maxLength']">
                  BVN must be at most 11 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['bvn'].errors['pattern']">
                  BVN must be numeric value only
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="NHIS">National Health Insurance Scheme (NHIS)</label>
              <input
                type="number"
                formControlName="nhis"
                class="form-control"
                placeholder="National Health Insurance Scheme"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nhis'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nhis'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nhis'].errors['pattern']">
                  National Health Insurance Scheme must be numbers with only two
                  digits allowed after the decimal
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="jtbtn"
                >JTB-TIN</label
              >
              <input
                type="text"
                formControlName="tin"
                class="form-control"
                placeholder="Employee JTBTN"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['tin'].errors"
                class="text-danger"
              >
                <!-- <div
                  *ngIf="addEmployeeForm.controls['tin'].errors['minlength']"
                >
                  Employee JTB-TIN must be at least 6 digit long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['tin'].errors['maxLength']"
                >
                  Employee JTB-TIN must be at most 10 digit long
                </div>
                <div *ngIf="addEmployeeForm.controls['tin'].errors['pattern']">
                  Employee JTB-TIN must be numeric value only
                </div> -->
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="lifeAssurance">Life Assurance</label>
              <input
                type="number"
                formControlName="life_assurance"
                class="form-control"
                placeholder="Life Assurance"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['life_assurance'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['life_assurance'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['life_assurance'].errors['pattern']"
                >
                  Life Assurance must be numbers with only two digits allowed
                  after the decimal
                </div>
              </div>
            </div>

          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nin"
                >NIN
                <!-- <sup class="ml-1 font-wegiht-bold text-danger">*</sup> -->
              </label>
              <input
                type="text"
                formControlName="nin"
                class="form-control"
                id="nin"
                placeholder="Enter NIN"
                maxlength="11"
              
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nin'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nin'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nin'].errors!['minlength']">
                  NIN can not be less than 11 characters
                </div>
                <div *ngIf="addEmployeeForm.controls['nin'].errors!['pattern']">
                  NIN must be numeric value only
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="grossIncome"
                >Gross Income(Total Income + Pension + NHF + NHIS + Life Assurance)<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="number"
                class="form-control"
                [value]="totalGrossIncome()"
                disabled
              />
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="localGovernmentId"
                >Local Government
              </label>
              <select
                name="localGovernmentId"
                formControlName="lga_code"
                id="localGovernmentId"
                class="form-control"
                style="min-width: 339px"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['lga_code'].errors }"
              >
                <option value="">Select Local Government</option>
                <option
                  *ngFor="let stateLocalGovt of stateLocalGovts()"
                  [value]="stateLocalGovt.lgaid"
                >
                  {{ stateLocalGovt.lgaName }}
                </option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['lga_code'].errors"
                class="text-danger"
              >
              </div>
            </div>
  
            <div class="form-group col-md-6">
              <label for="startMonthId"
                >Start Month<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <select
                type="text"
                name="startMonthId"
                formControlName="start_month"
                id="startMonthId"
                class="form-control"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['start_month'].errors }"
              >
                <option value="">Select Start Month</option>
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['start_month'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['start_month'].errors!['required']"
                >
                  Start Month is required
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="designation"
                >Designation
                </label
              >
              <input
                type="text"
                formControlName="designation"
                class="form-control"
                placeholder="Designation"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['designation'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['designation'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['designation'].errors['pattern']">
                  Designation must be alphabets only
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['designation'].errors!['maxLength']"
                >
                  Designation must be at most 40 characters
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="nationality"
                >Nationality<sup class="ml-1 font-wegiht-bold text-danger"
                  >*</sup
                ></label
              >
              <input
                type="text"
                formControlName="nationality"
                class="form-control"
                placeholder="Nationality"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['nationality'].errors }"
              />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['nationality'].errors"
                class="text-danger"
              >
                <div *ngIf="addEmployeeForm.controls['nationality'].errors['required']">
                  Nationality is required
                </div>
                <div *ngIf="addEmployeeForm.controls['nationality'].errors['pattern']">
                  Nationality must be numbers only
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="zipCode"
                >Zip Code</label
              >
              <input
              type="number"
              minlength="3"
              formControlName="zip_code"
              class="form-control"
              placeholder="Enter Zip Code Number"
              [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['zip_code'].errors }"
            />
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['zip_code'].errors"
                class="text-danger"
              >
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="contactAddress"
                >Home Address</label
              >
              <textarea
                type="text"
                formControlName="home_address"
                class="form-control"
                minlength="3"
                maxlength="150"
                rows="5"
                placeholder="Home Address"
                [ngClass]="{ 'is-invalid': addEmployeeForm.touched && addEmployeeForm.controls['home_address'].errors }"
              ></textarea>
              <div
                *ngIf="addEmployeeForm.touched && addEmployeeForm.controls['home_address'].errors"
                class="text-danger"
              >
                <div
                  *ngIf="addEmployeeForm.controls['home_address'].errors['required']"
                >
                  Home Address is required
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['home_address'].errors['minlength']"
                >
                  Home Address must be at least 3 characters long
                </div>
                <div
                  *ngIf="addEmployeeForm.controls['home_address'].errors['maxLength']"
                >
                  Home Address must be at most 150 characters
                </div>
              </div>
            </div>
          </div>

          @if(loading()){
            <button
              disabled
            >
              <i class="fas fa-plus-square"></i> Saving...
            </button>
          }@else{
            <button
          type="button"
            (click)="onSubmit()"
            [disabled]="addEmployeeForm.invalid"
          >
            <i class="fas fa-plus-square"></i> Save Employee
          </button>
          }
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        id="closeCreateModal"
        class="btn btn-outline-dark button-login"
        mat-dialog-close>
        Ok
      </button>
    </div>
  </div>