<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-dashboard">
  <!-- Main content -->
  <div class="content">

    <div class="dashboard-container">

      <div class="dashboard-container-box">
        <section class="box-header">
          <h4>Monthly Schedule</h4>
        </section>

        <section class="box-content">
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.employeeSchedule]">Add/Upload employees & forward schedule</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.schedules]">view forward schedules</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.assessments]">view assessments</button>
        </section>

      </div>

      <div class="dashboard-container-box">
        <section class="box-header">
          <h4>Form H3</h4>
        </section>

        <section class="box-content">
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.uploadProjection]">Upload & file form h3</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.pendingProjection]">view filed form h3</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.approvedProjection]">view projections</button>
        </section>

      </div>

      <div class="dashboard-container-box">
        <section class="box-header">
          <h4>Form H1</h4>
        </section>

        <section class="box-content">
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.annualReturnEmployeesUpload]">Upload & file form h1</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.annualReturnSchedules]">view filed form h1</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.annualReturnAssessments]">view re-assessed</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.reassessmentAppeals]">view objection</button>
        </section>

      </div>

      <div class="dashboard-container-box">
        <section class="box-header">
          <h4>TCC Application</h4>
        </section>

        <section class="box-content">
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.pendingApplication]">apply for TCC</button>
          <button type="button" [routerLink]="['/',LandingPaths.admin, AdminPaths.submittedApplication]">check application status</button>
        </section>

      </div>


    </div>


  </div>

</div>
