<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <!-- Left col -->
      <!-- <div class="col-md-12"> -->
      <!-- MAP & BOX PANE -->
      <div class="card">
        <div class="card-header card-bg ">
          <h3 class="card-title mt-2">Change Password</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">

            <div id="faqtypetwo">
              <section class="">

                <div class="row">
                  <!---------row----------->
                  <div class="col-lg-12 col-md-12">
                    <!---------col----------->
                    <div class="contact_us_form">

                      <div class="">
                        <form id="smp-form" autocomplete="off" [formGroup]="changePasswordForm">
                          <div class="messages"></div>
                          <div class="controls">
                            <br>
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="oldPassword" class="form-label">Old Password*</label>
                                  <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                     placeholder="Old Password" formControlName="oldPassword"
                                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; changePasswordForm.controls['oldPassword'].errors }">

                                  <div class="input-group-append eye-password">
                                    <div class="input-group-text eye-position">
                                    <span class="fa" [ngClass]="{
                                            'fa-eye-slash': !fieldTextType,
                                            'fas fa-eye': fieldTextType
                                          }"
                                        style="margin-top: 44px;margin-right: 9px" (click)="toggleFieldTextType()">
                                      </span>
                                    </div>
                                  </div>
                                  <div *ngIf="submitted &amp;&amp; changePasswordForm.controls['oldPassword'].errors"
                                    class="form-text text-danger">
                                    <div *ngIf="changePasswordForm.controls['oldPassword'].errors['required']">Old
                                      Password is required</div>
                                      <div *ngIf="changePasswordForm.controls['oldPassword'].errors['minlength']">
                                        Old Password must be min 8 characters</div>
                                      <div *ngIf="changePasswordForm.controls['oldPassword'].errors['maxlength']">
                                        Old Password must not exceed 40 characters
                                      </div>

                                  </div>
                                </div>


                              </div>

                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="newPassword" class="form-label">New Password*</label>
                                  <input [type]="fieldTextType1 ? 'text' : 'password'" class="form-control"
                                   placeholder="New Password"  formControlName="newPassword"
                                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; changePasswordForm.controls['newPassword'].errors }">

                                  <div class="input-group-append eye-password">
                                    <div class="input-group-text eye-position">
                                      <span class="fa" [ngClass]="{
                                          'fa-eye-slash': !fieldTextType1,
                                          'fas fa-eye': fieldTextType1
                                        }"
                                        style="margin-top: 44px;margin-right: 9px" (click)="toggleFieldTextType1()">
                                      </span>
                                    </div>
                                  </div>



                                  <div *ngIf="submitted &amp;&amp; changePasswordForm.controls['newPassword'].errors"
                                    class="form-text text-danger">
                                    <div *ngIf="changePasswordForm.controls['newPassword'].errors['required']">New
                                      Password is required</div>
                                      <div *ngIf="changePasswordForm.controls['newPassword'].errors['minlength']">
                                        New Password must be min 8 characters</div>
                                      <div *ngIf="changePasswordForm.controls['newPassword'].errors['maxlength']">
                                        New Password must not exceed 40 characters
                                      </div>
                                  </div>
                                </div>
                              </div>


                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label for="confirmPassword" class="form-label">Confirm New Password*</label>
                                  <input [type]="fieldTextType2 ? 'text' : 'password'" class="form-control"
                                     placeholder="Confirm New Password"  formControlName="confirmPassword"
                                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; changePasswordForm.controls['confirmPassword'].errors }">

                                  <div class="input-group-append eye-password">
                                    <div class="input-group-text eye-position">
                                      <span class="fa" [ngClass]="{
                                                                                      'fa-eye-slash': !fieldTextType2,
                                                                                      'fas fa-eye': fieldTextType2
                                                                                    }"
                                        style="margin-top: 44px;margin-right: 9px" (click)="toggleFieldTextType2()">
                                      </span>
                                    </div>

                                  </div>
                                  <div
                                    *ngIf="submitted &amp;&amp; changePasswordForm.controls['confirmPassword'].errors"
                                    class="form-text text-danger">
                                    <div *ngIf="changePasswordForm.controls['confirmPassword'].errors['required']">
                                      Confirm Password is required</div>
                                      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors['minlength']">
                                        Confirm Password must be min 8 characters</div>
                                      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors['maxlength']">
                                        Confirm Password must not exceed 40 characters
                                      </div>
                                      <div *ngIf="changePasswordForm.controls['confirmPassword'].errors['mustMatch']">New Password and Confirm Password must match.</div>
                                  </div>
                                </div>
                              </div>

                              <div class="row mt-2">
                                <div class="col-lg-4 col-sm-12">
                                  <div class="form-group">
                                    <button class="theme_btn tp_two logo-button-website"
                                      (click)="onSubmit(changePasswordForm.value)" type="submit"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                      Change Password</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!---------col-end---------->
                  </div>

                  <!----------row-end---------->
                </div>

              </section>
            </div>
          </div>

        </div>
        <!-- /.card-body -->

        <!-- /.card-footer -->
      </div>

      <!-- /.card -->
      <!-- </div> -->
      <!-- /.col -->


      <!-- /.col -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
