<app-webheader></app-webheader>
<main class="main-content-login">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-lg-row flex-column-reverse justify-content-center my-auto">
        <div class="col-md-6 col-12 my-5 pb-5" style="
            background-color: #1a2634;
            box-shadow: 0px 0px 4px #0d1820, 0px 0px 8px #333;
            opacity: 0.9;">
          <div class="row justify-content-center px-1 my-5 text-center">
            <img src="assets/image/niger.jpg" class="img-fluid" id="logo-login" alt="logo" />

            <h1 class="text-center msg-info">NISWASEC</h1>
            <h6 class="text-center msg-info">
              Enter new password for your account:
            </h6>
          </div>

          <form autocomplete="off" [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmitResetPassword(resetPasswordForm.value)">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email Address" [(ngModel)]="emailAddress"
                formControlName="emailAddress"
                style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetPasswordForm.controls['emailAddress'].errors }" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div *ngIf="submitted &amp;&amp; resetPasswordForm.controls['emailAddress'].errors"
              class="form-text text-danger">
              <div *ngIf="resetPasswordForm.controls['emailAddress'].errors['required']">
                Email Address is required
              </div>
              <div *ngIf="resetPasswordForm.controls['emailAddress'].errors['maxlength']">
                Email Address must not exceed 40 character.
              </div>
              <div *ngIf="resetPasswordForm.controls['emailAddress'].errors['pattern']">
                Please enter a valid email.
              </div>
            </div>


            <div class="input-group mb-3">
              <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                placeholder="Default Password" formControlName="defaultPassword"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetPasswordForm.controls['defaultPassword'].errors }" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa" [ngClass]="{'fa-eye': !fieldTextType,'fa-eye-slash': fieldTextType}"
                    (click)="toggleFieldTextType1()">
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="submitted &amp;&amp; resetPasswordForm.controls['defaultPassword'].errors"
              class="form-text text-danger">
              <div *ngIf="resetPasswordForm.controls['defaultPassword'].errors['required']">
                Default Password is required
              </div>
              <div *ngIf="resetPasswordForm.controls['defaultPassword'].errors['maxlength']">
                Default Password must not exceed 40 character.
              </div>
              <div *ngIf="resetPasswordForm.controls['defaultPassword'].errors['minlength']">
                Default Password must be min 8 characters.
              </div>
            </div>

            <div class="input-group mb-3">
              <input [type]="fieldTextType2 ? 'text' : 'password'"
                style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                class="form-control" placeholder="New Password" formControlName="newPassword"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetPasswordForm.controls['newPassword'].errors }" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa" [ngClass]="{
                      'fa-eye': !fieldTextType2,
                      'fa-eye-slash': fieldTextType2
                    }" (click)="toggleFieldTextType2()">
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="submitted &amp;&amp; resetPasswordForm.controls['newPassword'].errors"
              class="text-danger validation-error">
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors['required']">
                New Password is required
              </div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors['minlength']">
                New Password must be min 8 characters.
              </div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors['maxlength']">
                New Password must not exceed 40 character.
              </div>
              <div *ngIf="resetPasswordForm.controls['newPassword'].errors['pattern']">
                Password must be combination of below:<br />1 Upper Case [A-Z]
                <br />
                1 Lower Case [a-z] <br />1 Digit [0-9] <br />1 Special Character
                ?=.*?[#?!@$%^&*-]
              </div>
            </div>

            <div class="input-group mb-3">
              <input [type]="fieldTextType3 ? 'text' : 'password'" formControlName="enterOtp"
                placeholder="Enter 6-digit code to login"
                style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                class="form-control" id="enterOtp"
                [ngClass]="{ 'is-invalid': submitted &amp;&amp; resetPasswordForm.controls['enterOtp'].errors }"
                maxlength="6" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa" [ngClass]="{'fa-eye': !fieldTextType3,'fa-eye-slash': fieldTextType3}"
                    (click)="toggleFieldTextType3()">
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="submitted &amp;&amp; resetPasswordForm.controls['enterOtp'].errors"
              class="text-danger validation-error">
              <div *ngIf="resetPasswordForm.controls['enterOtp'].errors['required']">
                OTP is required
              </div>

              <div *ngIf="resetPasswordForm.controls['enterOtp'].errors['pattern']">
                Special characters or space are not allowed
              </div>
            </div>

            <div class="social-auth-links text-center mb-3">
              <button class="btn btn btn-outline-secondary btn-block logo-button-website text-white" id="mycaptcha">
                Reset Password
              </button>
            </div>
          </form>

          <div class="login-remeber text-center mb-2">
            <a [routerLink]="['/login']"><span class="form-text text-white">Back to Login</span></a>
          </div>

          <!-- <div class="text-center py-3">
                                <p class="lead">If you need further assistance, please contact our support team.

                                  Thank you for using Niger State Water and Sewage Corp. App!</p>
                              </div>end title -->
        </div>
      </div>
    </div>
  </div>
</main>
<app-webfooter></app-webfooter>