<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header"></div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <!-- <flash-messages></flash-messages> -->
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">List of Businesses</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="overflow-auto">
              <section class="table-header">
                <div class="table-header-search">
                    <input
                      class="form-control"
                      #searchTable
                      type="search"
                      placeholder="search business name"
                      [value]="queryString()"
                      (keyup)="queryTable(searchTable)"
                      (search)="queryTable(searchTable)" />
                  </div>
              </section>
  
              <table
                class="table table-bordered table-condensed"
                width="100%">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>ID</th>
                    <th>Table Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>getLoginResData.isAdminUser</td>
                        <td>business?.businessName</td>
                        <td>business?.lgaName</td>
                      </tr>
                </tbody>
              </table>
  
              <section>
                <mat-paginator
                  [length]="totalLength()"
                  [pageSize]="pageSize()"
                  [pageIndex]="pageIndex()"
                  (page)="handlePageEvent($event)"
                  showFirstLastButtons
                  aria-label="Select page">
                </mat-paginator>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  