<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
  <section class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header card-bg ">
          <h3 class="card-title mt-2 ms-3">Single Consumer </h3>
        </div>
        <div class="card-body">
          <div class="col-auto mbm-30 showlisting">
            <div class="card-body">
              <div id="tabs" #tabs>

                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active " href="#consumerDetails"
                      [ngClass]="{ 'active':activeTab==='consumerDetails'}"
                      (click)="consumerDetails('consumerDetails', $event)" data-toggle="tab">Consumer Details</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#niswasecDetails" [ngClass]="{ 'active':activeTab==='niswasecDetails'}"
                      data-toggle="tab" (click)="niswasecDetails('niswasecDetails', $event)">NISWASEC Details</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane" id="consumerDetails" [ngClass]="{ 'active':activeTab === 'consumerDetails'}">
                    <form id="smp-form" autocomplete="off" [formGroup]="consumerDetailsForm">
                      <div class="messages"></div>
                      <div class="controls">
                        <br>
                        <div class="row">
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="taxpayerReference" class="form-label">Taxpayer Reference</label>
                              <input type="text" formControlName="taxpayerReference" id="taxpayerReference"
                                class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                              <label for="title" class="form-label">Title*</label>
                              <select type="text" name="Title" formControlName="title" id="title" class="form-control">
                                <option value="" disabled="true">Select Title</option>
                                <option *ngFor="let data of titlesData" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="firstName" class="form-label">First Name*</label>
                              <input type="text" formControlName="firstName" maxlength="30" id="firstName"
                                class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="middleName" class="form-label">Middle Name</label>
                              <input type="text" formControlName="middleName" maxlength="30" id="middleName"
                                class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="lastName" class="form-label">Last Name*</label>
                              <input type="text" formControlName="lastName" maxlength="30" id="lastName"
                                class="form-control" />
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="emailAddress" class="form-label">Email*</label>
                              <input type="text" class="form-control" name="emailAddress" formControlName="emailAddress"
                                id="emailAddress" maxlength="45" />
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="phoneNumber" class="form-label">Mobile*</label>
                              <input type="text" class="form-control" name="phoneNumber"
                                (keypress)="keyPressNumbersWithDecimal($event)" maxlength="11" id="phoneNumber"
                                formControlName="phoneNumber" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="gender" class="form-label">Gender*</label>
                              <select type="text" name="gender" formControlName="gender" id="gender"
                                class="form-control">
                                <option value="" disabled="true">Select Gender</option>
                                <option *ngFor="let data of  genderData" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                              <label for="countryId" class="form-label">Nationality*</label>
                              <select name="countryId" formControlName="countryId" id="countryId" class="form-control">
                                <option value="" disabled="true">Select
                                  Nationality</option>
                                <option *ngFor="let country of countriesData" [value]="country.id">{{ country.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                              <label for="stateId" class="form-label">State*</label>
                              <select name="stateId" formControlName="stateId" id="stateId" class="form-control">
                                <option value="" disabled="true">Select
                                  State</option>
                                <option *ngFor="let state of statesData" [value]="state.id">{{ state.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                              <label for="localGovtId" class="form-label">Local Goverment*</label>
                              <select name="localGovtId" formControlName="localGovtId" id="localGovtId"
                                class="form-control">
                                <option value="" disabled="true">Select
                                  Local Goverment</option>
                                <option *ngFor="let mydata of localGovtData" [value]="mydata.id">{{ mydata.name }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="dateOfBirth" class="form-label">Date
                                of Birth*</label>
                              <input type="date" name="dateOfBirth" max="01/01/2021" min="01/01/1960"
                                formControlName="dateOfBirth" id="dateOfBirth" class="form-control" [max]="date"
                                [min]="minDate" />
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="maritalStatus" class="form-label">Marital Status*</label>
                              <select type="text" name="maritalStatus" id="maritalStatus"
                                formControlName="maritalStatus" class="form-control">
                                <option value="" disabled="true">Select Marital Status
                                </option>
                                <option *ngFor="let data of  maritalStatusData" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="occupation" class="form-label">
                                Occupation*</label>
                              <select type="text" name="occupation" id="occupation" formControlName="occupation"
                                class="form-control">
                                <option value="" disabled="true">Select Occupation</option>
                                <option *ngFor="let data of occupationData" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>


                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="consumercategory" class="form-label">
                                Consumer Category Type*</label>
                              <select type="text" name="consumercategory" id="consumercategory"
                                formControlName="consumercategory" class="form-control">
                                <option value="" disabled="true">Select Consumer Category Type</option>
                                <option *ngFor="let data of consumercatgryTypes" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="consumerSubcategory" class="form-label">
                                Consumer Sub-Category Type*</label>
                              <input type="text" class="form-control" name="consumerSubcategory"
                                formControlName="consumerSubcategory" id="consumerSubcategory" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 1">
                            <div class="mb-3">
                              <label for="bvn" class="form-label">BVN</label>
                              <input type="text" formControlName="bvn" id="bvn"
                                (keypress)="keyPressNumbersWithDecimal($event)" maxlength="11" class="form-control" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="tin" class="form-label">TIN</label>
                              <input type="text" formControlName="tin" id="tin" maxlength="11" class="form-control"
                                (keypress)="keyPressNumbersWithDecimal($event)" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 1">
                            <div class="mb-3">
                              <label for="nin" class="form-label">NIN</label>
                              <input type="text" formControlName="nin" id="nin" maxlength="11" class="form-control"
                                (keypress)="keyPressNumbersWithDecimal($event)" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 2">
                            <div class="mb-3">
                              <label for="cac" class="form-label">CAC Number</label>
                              <input type="text" formControlName="cac" id="cac" class="form-control"
                                (keypress)="keyPressNumbersWithDecimal($event)" />
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 2">
                            <div class="mb-3">
                              <label for="companyType" class="form-label">
                                Company Type</label>
                              <select type="text" name="companyType" id="companyType" formControlName="companyType"
                                class="form-control">
                                <option value="" disabled="true">Select Company Type</option>
                                <option *ngFor="let data of companyTypeData" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 2">
                            <div class="mb-3">
                              <label for="industrySector" class="form-label">
                                Industrial sector*</label>
                              <select type="text" name="industrySector" id="industrySector"
                                formControlName="industrySector" class="form-control">
                                <option value="" disabled="true">Select Industrial sector</option>
                                <option *ngFor="let data of industrySector" [value]="data.id">
                                  {{ data.name }}
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 2">
                            <div class="mb-3">
                              <label for="companyName" class="form-label">Company Name</label>
                              <input type="text" formControlName="companyName" id="companyName" class="form-control" />
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12" *ngIf="selectedConsumerId == 2">
                            <div class="mb-3">
                              <label for="address" class="form-label">Company Address*</label>
                              <textarea type="text" formControlName="companyAddress" class="form-control"
                                id="companyAddress" rows="1"></textarea>
                            </div>
                          </div>

                          <div class="col-lg-4 col-sm-12">
                            <div class="mb-3">
                              <label for="address" class="form-label">Address*</label>
                              <textarea type="text" formControlName="address" class="form-control" id="address"
                                rows="1"></textarea>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-4 col-sm-12">
                              <div class="form-group">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div class="tab-pane" id="niswasecDetails" [ngClass]="{ 'active':activeTab === 'niswasecDetails'}">
                    <div class="card-header card-bg" style="background-color: #fff;">


                    </div>
                    <table class="table table-bordered table-responsive table-sm row-border hover mt-4 " id="example2"
                      *ngIf="niswacdetails, else content" datatable [dtOptions]="dtOptions">
                      <thead style="white-space: nowrap;">
                        <tr>
                          <th>S/N</th>
                          <th>Billing Cycle </th>
                          <th>Meter Number</th>
                          <th>Asset Reference</th>
                          <th>Contract Reference</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody style="white-space: nowrap;">
                        <tr *ngFor="let mydata of niswacdetails; index as i">
                          <td>{{ i + 1}}</td>
                          <td>{{ getBill(mydata?.billing_cycle_id) }}</td>
                          <td>{{ mydata.meter_number }}</td>
                          <td>{{ mydata.asset_reference }}</td>
                          <td>{{ mydata.contract_reference }}</td>
                          <td style="width: 10%">
                            <button class="btn btn-sm btn-outline-success" *ngIf="mydata.sub_tariff_type_id == 2"
                              (click)="viewCalculateBill(viewGenerateBillModal,mydata)">
                              <i class="fas fa-plus-square"></i> Generate Bill
                            </button>
                            &nbsp;
                            <button class="btn btn-sm btn-outline-success"
                              (click)="viewNISWADetails(viewdetailsModal,mydata)">
                              <i class="nav-icon fas fa-eye"></i> View
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <ng-template #content>
                      <table class="table table-bordered table-sm row-border hover mt-4 " id="example2" datatable
                        [dtOptions]="dtOptions">
                        <thead style="white-space: nowrap;">
                          <tr>
                            <th>S/N</th>
                            <th>Billing Cycle </th>
                            <th>Meter Number</th>
                            <th>Asset Reference</th>
                            <th>Contract Reference</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody style="white-space: nowrap;">
                          <tr *ngFor="let mydata of niswacdetails; index as i">
                            <td>{{ i + 1}}</td>
                            <td>{{ getBill(mydata?.billing_cycle_id) }}</td>
                            <td>{{ mydata.meter_number }}</td>
                            <td>{{ mydata.asset_reference }}</td>
                            <td>{{ mydata.contract_reference }}</td>
                            <td style="width: 10%">
                              <button class="btn btn-sm btn-outline-success"
                                (click)="viewNISWADetails(viewdetailsModal,mydata)">
                                <i class="nav-icon fas fa-eye"></i> View
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<ng-template #viewdetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">NISWASEC Consumer Profile Detail</h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <form id="smp-form" autocomplete="off" [formGroup]="viewDetailsform">
        <div class="messages"></div>
        <div class="controls">
          <br>
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="title" class="form-label">Billing Cycle*</label>
                <select type="text" name="billingCycle" formControlName="billingCycle" id="billingCycle"
                  class="form-control">
                  <option value="" disabled="true">Select Billing Cycle</option>
                  <option *ngFor="let data of billingCycle" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="gender" class="form-label">Approval Status*</label>
                <select type="text" name="gender" formControlName="approvalstatus" id="approvalstatus"
                  class="form-control">
                  <option value="" disabled="true">Select Approval Status</option>
                  <option *ngFor="let data of  approvalstatus" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="title" class="form-label">Connection Status*</label>
                <select type="text" name="connectionStatus" formControlName="connectionStatus" id="connectionStatus"
                  class="form-control">
                  <option value="" disabled="true">Select Connection Status</option>
                  <option *ngFor="let data of connectionStatus" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="title" class="form-label">Meter Number*</label>
                <input type="text" formControlName="meterNumber" id="meterNumber" class="form-control" />
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="contractReference" class="form-label">Contract Reference *</label>
                <input type="text" formControlName="contractReference" id="contractReference" class="form-control" />
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="localGovtId" class="form-label">Local Goverment*</label>
                <select name="localGovtId" (change)="getDistrictsData()" formControlName="localGovtId" id="localGovtId"
                  class="form-control">
                  <option value="" disabled="true">Select
                    Local Goverment</option>
                  <option *ngFor="let mydata of localGovtData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="localGovtId" class="form-label">District*</label>
                <select name="localGovtId" (change)="getZoneData()" formControlName="district" id="district"
                  class="form-control">
                  <option value="" disabled="true">Select
                    District</option>
                  <option *ngFor="let mydata of distData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="zone" class="form-label">Zone*</label>
                <select type="text" name="zone" formControlName="zone" id="zone" class="form-control"
                  (change)="getRoundData()">
                  <option value="" disabled="true">Select Zone </option>
                  <option *ngFor="let data of zoneData" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <label for="round" class="form-label">Round*</label>
                <select name="round" formControlName="round" id="zone" class="form-control">
                  <option value="" disabled="true">Select
                    Round</option>
                  <option *ngFor="let mydata of roundData" [value]="mydata.id">{{ mydata.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="billGroup" class="form-label">
                  Billing Group*</label>
                <select type="text" name="billGroup" id="billGroup" formControlName="billGroup" class="form-control">
                  <option value="" disabled="true">Select Billing Group</option>
                  <option *ngFor="let data of billGroup" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="consumercategory" class="form-label">
                  Consumer Category Type*</label>
                <select type="text" name="consumercategory" id="consumercategory" formControlName="consumercategory"
                  class="form-control">
                  <option value="" disabled="true">Select Consumer Category Type</option>
                  <option *ngFor="let data of consumercatgryTypes" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="consumerSubcategory" class="form-label">
                  Consumer Sub-Category Type*</label>
                <select type="text" name="consumerSubcategory" id="consumerSubcategory"
                  formControlName="consumerSubcategory" class="form-control">
                  <option value="" disabled="true">Select Consumer Sub-Category Type</option>
                  <option *ngFor="let data of consumerSubCategory" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="name" class="form-label">
                  Tariff*</label>
                <select type="text" name="tariff" id="tariff" formControlName="tariff" class="form-control">
                  <option value="" disabled="true">Select Tariff</option>
                  <option *ngFor="let data of tariffTypes" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="name" class="form-label">
                  Sub-Tariff*</label>
                <select type="text" name="subtariff" id="subtariff" formControlName="subtariff" class="form-control">
                  <option value="" disabled="true">Select Sub-Tariff</option>
                  <option *ngFor="let data of subtariffTypes" [value]="data.id">
                    {{ data.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12">
              <div class="mb-3">
                <label for="address" class="form-label">Connection Address*</label>
                <textarea type="text" formControlName="address" class="form-control" id="address" rows="1"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #viewGenerateBillModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Calculate Bill </h4>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div *ngIf="!billCalculated">
        <form id="smp-form" autocomplete="off" [formGroup]="calculateBillForm">
          <div class="messages"></div>
          <div class="controls">
            <br>
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="mb-3">
                  <label for="amount" class="form-label">
                    Amount*</label>
                  <input type="text" formControlName="amount" id="amount" class="form-control"
                    placeholder="Enter Amount" (keypress)="keyPressNumbersWithDecimal($event)"
                    [ngClass]="{ 'is-invalid': submitCalculate && calculateBillForm.controls['amount'].errors }" />
                  <div *ngIf="submitCalculate && calculateBillForm.controls['amount'].errors"
                    class="form-text text-danger">
                    <div *ngIf="calculateBillForm.controls['amount'].errors['required']">
                      Amount is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4 col-sm-12">
                  <div class="form-group">
                    <button class="theme_btn tp_two logo-button-website" (click)="onCalculate(calculateBillForm.value)"
                      type="submit"><i class="fas fa-plus-square"></i>
                      Calculate Pre Paid Bill</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="billCalculated" class="table-responsive">
        <table class="table table-bordered table-sm row-border hover mt-4 " id="example2"
          *ngIf="calculateBillData" datatable [dtOptions]="dtOptionsPopUp1">
          <thead style="white-space: nowrap">
            <tr>
              <th>Name</th>
              <th>Bill Type</th>
              <th>Consumer Id</th>
              <th>Contract Id</th>
              <th>DCP</th>
              <th>Amount</th>
              <th>Rate</th>
              <th>Units</th>
            </tr>
          </thead>
          <tbody style="white-space: nowrap">
            <tr>
              <td>{{ calculateBillData.name }}</td>
              <td>{{ calculateBillData.bill_type }}</td>
              <td>{{ calculateBillData.consumer_reference }}</td>
              <td>{{ calculateBillData.contract_reference }}</td>
              <td>{{ calculateBillData.dcp }}</td>
              <td>{{ calculateBillData.amount }}</td>
              <td>{{ calculateBillData.rate }}</td>
              <td>{{ calculateBillData.units }}</td>
            </tr>
          </tbody>
        </table>

        <button type="submit" (click)="generateBillForPrepaid()" class="btn btn-primary font-12 smp-button mt-4  mb-4">
          <i class="fas fa-plus-square"></i>&nbsp; Generate Bill
        </button>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click');check();">Close</button>
  </div>
</ng-template>
