<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">

  <div class="d-flex align-items-center mx-0">
    <a class="btn btn-link rounded-circle" data-widget="control-sidebar" data-slide="true" href="#" role="button">
      <i class="fa fa-bars"></i>
    </a>
    <a [routerLink]="['/#']" class="brand-link">
      <img
        src="assets/image/EIRS-logo.png"
        alt="HMS LOGO"
        class="img-fluid p-2"
        style="opacity: 1"
      />
    </a>
  </div>


  <hr class="sidebar-divider my-0">

    <div class="sidebar">
    
      <app-menu ></app-menu>
  
    </div>


</aside>
<app-main-sidebar></app-main-sidebar>