<div class="card card-secondary view-employee">
  <div class="card-header custome">
    <h3 class="card-title">Employee Details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="overflow-auto">
      @if (loading()) {
        <span class="loading-text">fetching employee data</span>
        <ngx-skeleton-loader count="8"/>
      }@else {
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Property</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>RIN</td>
            <td>{{ injectedData.employee.employeeRin }}</td>
          </tr>

          <tr>
            <td>Full Name</td>
            <td>{{ injectedData.employee.fullName }}</td>
          </tr>

          <tr>
            <td>Status</td>
            <td>{{ injectedData.employee.status }}</td>
          </tr>

          <tr>
            <td>Basic Income</td>
            <td>{{ employeeDetail()?.basic | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>Rent Income</td>
            <td>{{ employeeDetail()?.rent | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>Transport Income</td>
            <td>{{ employeeDetail()?.transport | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>Other Income</td>
            <td>{{ employeeDetail()?.others | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>
              <strong>Gross Income (Basic + Rent + Transport + Others)</strong> 
            </td>
            <td>
              <strong>
                {{ grossIncome() | number : '1.0-2' }}
              </strong>
            </td>
          </tr>

          <tr>
            <td>NHF Contribution</td>
            <td>{{ employeeDetail()?.nhf | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>NHIS Contribution</td>
            <td>{{ employeeDetail()?.nhis | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>Pension Contribution</td>
            <td>{{ employeeDetail()?.pension | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>Life Assurance Contribution</td>
            <td>{{ employeeDetail()?.lifeAssurance | number : '1.0-2' }}</td>
          </tr>

          <tr>
            <td>
              <strong>
                Total Income (Gross Income + Pension + NHF + NHIS + Life Assurance)
              </strong>
            </td>
            <td>
              <strong>
                {{ totalIncome() | number : '1.0-2' }}
              </strong>
            </td>
          </tr>

        </tbody>
      </table>
    }
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark button-login"
        mat-dialog-close>
        Ok
      </button>
    </div>

  </div>
</div>
