/* You can add global styles to this file, and also import other style files */
:root{
  --light-green: #10ff10;
  --tint-green: #adf5ad;
}

html,
body {
  height: 100%;
}

html{
  overflow-y: overlay;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f6f9;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: green;
  font-size: 15px;
  padding: 8px 12px;
  border: 1.5px solid green;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: green;
  color: #fff;
}

button:disabled {
  background-color: #97979736;
  color: #3532325b;
  border: none;
  cursor: not-allowed;
}

table{
  table-layout: auto;
  overflow: auto;
}

mat-paginator button,
mat-paginator button:disabled,
mat-paginator button:hover {
  background-color: transparent;
}

.main-sidebar{
  z-index: 10;
}

.form-error{
  font-size: 14px;
  color: red;
}

.login-icon{
  color: #0700a1;
}

.table-header-filters{
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 20px;
}

.table-header-exports{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 12px;

  button{
    border: 1px solid #1f1e1e;
    color: #1f1e1e;
  }
}

/* data tables */
.dataTables_filter{
  display: none;
}

.dt-buttons{
  margin-bottom: 12px;
}