/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

html{
  overflow-y: overlay;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f4f6f9;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: green;
  font-size: 15px;
  padding: 8px 12px;
  border: 1.5px solid green;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: green;
  color: #fff;
}

button:disabled {
  background-color: #97979736;
  color: #3532325b;
  border: none;
  cursor: not-allowed;
}

table{
  table-layout: auto;
  overflow: auto;
}

mat-paginator button,
mat-paginator button:disabled,
mat-paginator button:hover {
  background-color: transparent;
}

.main-sidebar{
  z-index: 10;
}

.form-error{
  font-size: 14px;
  color: red;
}

.login-icon{
  color: #0700a1;
}