<div class="content-wrapper">
  <div class="content-header">

  </div>
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid " data-select2-id="31">
        <!-- <flash-messages></flash-messages> -->
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-secondary">
          <div class="card-header custome">
            <h3 class="card-title">Create a New User</h3>

          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>

                  <input type="text" formControlName="name" class="form-control" placeHolder="Name"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls['name'].errors }" />
                  <div *ngIf="submitted &amp;&amp; registerForm.controls['name'].errors" class="text-danger">
                    <div *ngIf="registerForm.controls['name'].errors['required']">Name is required</div>
                    <div *ngIf="registerForm.controls['name'].errors['pattern']">Only Alphabets are accepted</div>
                  </div>

                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Email Address<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <input type="email" formControlName="email" class="form-control" placeHolder="Email Address"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls['email'].errors }" />
                  <div *ngIf="submitted &amp;&amp; registerForm.controls['email'].errors" class="text-danger">
                    <div *ngIf="registerForm.controls['email'].errors['required']">Email Address is required</div>
                    <div *ngIf="registerForm.controls['email'].errors['email']">Email Address must be a valid email address</div>
                    <div *ngIf="registerForm.controls['email'].errors['pattern']">Email Address not valid</div>
                  </div>

                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Role<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <select class="form-control" id="role" formControlName="role"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls['role'].errors }">
                    <option value="">Select Role</option>
                    <option *ngFor="let role of roles ; index as i " value="{{role.id}}">
                      {{ role.name.replaceAll('_', ' ') | titlecase}}
                    </option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; registerForm.controls['role'].errors" class="text-danger">
                    <div *ngIf="registerForm.controls['role'].errors['required']">Role is required</div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="phoneNumber">Phone Number<sup
                    class="ml-1 font-wegiht-bold text-danger">*</sup></label>
                  <input type="text" formControlName="phoneNumber" maxlength="11" class="form-control" placeHolder="Phone number"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls['phoneNumber'].errors }" />
                  <div *ngIf="submitted &amp;&amp; registerForm.controls['phoneNumber'].errors" class="text-danger">
                    <div *ngIf="registerForm.controls['phoneNumber'].errors['required']">Phone Number is required</div>
                    <div *ngIf="registerForm.controls['phoneNumber'].errors['pattern']">Phone Number must be numbers only and start with 0</div>
                    <div *ngIf="registerForm.controls['phoneNumber'].errors['minlength']">Phone Number must be at least 11 digits long</div>
                    <div *ngIf="registerForm.controls['phoneNumber'].errors['maxlength']">Phone Number must not exceed 11 digits long</div>
                  </div>

                </div>
              </div>

              <button type="submit" class="btn btn button-login">Create User</button>
            </form>


          </div>
          <!-- /.card-body -->
          <div class="card-footer">

          </div>
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
