<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header"></div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
    <div class="container-fluid" data-select2-id="31">
      <!-- <flash-messages></flash-messages> -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-secondary">
        <div class="card-header custome">
          <h3 class="card-title">List of Businesses</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="overflow-auto">
            <section class="table-header">
              <div class="table-header-cont-1"></div>
              <div class="table-header-cont-2">
                <div class="table-header-btns">
                  <button (click)="dowloadCsv()" >CSV</button>
                  <button (click)="downloadExcel()">Excel</button>
                </div>
              </div>
              <div class="table-header-cont-3">
                <app-table-search />
              </div>
            </section>

            <table
            #xlsTable
              id="xlsTable"
              class="table table-bordered table-condensed"
              datatable
              width="100%">
              <thead>
                <tr>
                  <th>S/N</th>
                  @if(tokenService.getLoginResData.isAdminUser){
                    <th>Company RIN</th>
                    <th>Company Name</th>
                  }
                  <th>Business RIN</th>
                  <th>Business Name</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                @if(dataLoading()){
                <tr>
                  <td colspan="100%">
                    <ngx-skeleton-loader count="2" />
                  </td>
                </tr>
                } @else if (dataMessage()) {
                <tr>
                  <td colspan="100%">
                    <span>{{ dataMessage() }}</span>
                  </td>
                </tr>
                } @else { @for (business of businesses()?.businesses; track
                $index) {
                <tr>
                  <td>{{ $index + 1 }}</td>
                  @if(tokenService.getLoginResData.isAdminUser){
                    <td>{{ business?.companyRin }}</td>
                    <td>{{ business?.companyName }}</td>
                  }
                  <td>{{ business?.businessRin }}</td>
                  <td>{{ business?.businessName }}</td>
                  <td>{{ business?.lgaName }}</td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="100%"><span>No business found.</span></td>
                </tr>
                } }
              </tbody>
            </table>

            <section>
              <mat-paginator
                [length]="totalLength()"
                [pageSize]="pageSize()"
                [pageIndex]="pageIndex()"
                [pageSizeOptions]="[100, 500, 1000]"
                (page)="handlePageEvent($event)"
                aria-label="Select page">
              </mat-paginator>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
