<section>
    <form autocomplete="off" [formGroup]="adminSignUpForm"
    (submit)="onAdminSubmit()" style="width: 420px; padding: 30px;">

    <div class="">
      <select class="form-select login-select" formControlName="userRole">
        <option value="">Select Role</option>
        <option value="admin">Admin</option>
        <option value="super admin">Super Admin</option>
        <option value="assessment officer">Assessment Officer</option>
      </select>
        @if (adminRole?.touched && adminRole?.errors) {
            <div
              class="form-text text-danger">
              @if (adminRole?.hasError('required')) {
                  <div>
                    User role is required
                  </div>
              }
            </div>
        }
    </div>

    <div class="login__field input-group">
      <i class="login__icon fa fa-building"></i>
      <input #emailField type="text" id="email" name="email" placeholder="Enter Email Address"
        class="login__input border-end-0 w-100" formControlName="email"
        [ngClass]="{ 'is-invalid': adminSignUpForm.invalid && adminEmail?.errors}" />
        @if (adminEmail?.touched && adminEmail?.errors) {
            <div
              class="form-text text-danger">
              @if (adminEmail?.hasError('required')) {
                  <div>
                    Email is required
                  </div>
              }
              @if (adminEmail?.hasError('email')) {
                  <div>
                    Input a valid email address.
                  </div>
              }
            </div>
        }
    </div>
    @if (message()) {
    <div class="messages">
        {{ message() }}
    </div>
    }

    <div class="col-lg-12 mt-4">
      <button class="button" type="submit" id="mycaptcha">
        Create User
      </button>
    </div>
    </form>
</section>