.header-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 12px;
}
td{
    border-bottom: 1px solid;
}

::ng-deep .dt-buttons{
    display: none !important;
}