<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">

  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content" data-select2-id="32">
    <div class="container-fluid" data-select2-id="31">
      <!-- <flash-messages></flash-messages> -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-secondary">
        <div class="card-header custome">
          <h3 class="card-title">List of Businesses</h3>
        </div>

        <!-- /.card-header -->
        <div class="card-body">

          <div class="overflow-auto">
            <!-- <p class="login-box-msg bold-black">List of Employees</p> -->
            <table class="table table-bordered table-condensed" *ngIf="businessesData;" datatable
              [dtOptions]="dtOptions" width="100%">
              <thead>
                <tr>
                  <th>S/N</th>
                  @if(tokenService.getLoginResData.isAdminUser){
                    <th>Company Name</th>
                    <th>Company RIN</th>
                  }
                  <th>Business RIN</th>
                  <th>Business Name</th>
                  <th>Business Address</th>
                  <th>No of Employees</th>
                  <th>Upload</th>
                  <!-- <th>Delete</th> -->
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mydata of businessesData; index as i">
                  <td>{{ i + 1 }}</td>
                  @if(tokenService.getLoginResData.isAdminUser){
                    <td>{{ mydata?.companyName || 'N/A' }}</td>
                    <td>{{ mydata?.companyRIN }}</td>
                  }
                  <td>{{ mydata?.businessRIN }}</td>
                  <td>{{ mydata?.businessName | titlecase }}</td>
                  <td>{{ mydata?.businessAddress || 'N/A' }}</td>
                  <td>{{ mydata?.noOfEmployees || "N/A" }}</td>

                  <td title="View">
                    <button class="btn btn-sm btn-outline-success"
                      (click)="viewBusinessProjection(uploadProjectionModal, mydata)">
                      <i class="nav-icon fas fa-upload"></i>
                    </button>
                  </td>
                  <!-- <td title="View">
                    <button class="btn btn-sm btn-outline-success" (click)="
                          deleteBusiness(mydata)">
                      <i class="nav-icon far fa-trash-alt"></i>
                    </button>
                  </td> -->
                  <td title="File Form H3">
                    <button class="btn btn-sm btn-outline-success" (click)="
                          createSchedule(annualReturnModal, mydata)">
                      <i class="nav-icon fas fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
        <!-- <div class="card-footer" *ngIf="apidataEmpty">
          <button *ngIf="showCreateSchedule" type="submit" (click)="forwardSchedule(schedulemodal)"
            class="btn btn button-login"><i class="fas fa-plus-square"></i> Create Schedule</button>
        </div> -->
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


<ng-template #uploadProjectionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Projection</h4>
</div>

  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <div class="form-row gap-4">
        <div class="form-group col-md-6">
          <label for="myfile">Select File to Upload<sup class="ml-1 font-wegiht-bold text-danger">*</sup></label>

          <div class="custom-file">
            <input formControlName="myfile" id="myfile" type="file" class="custom-file-input" (change)="onFileChange($event)"
            [ngClass]="{ 'is-invalid': submitted && myForm.controls['myfile'].errors }" accept=".xls,.xlsx" >
            <label class="custom-file-label" for="customFile">{{filePath == null ? 'Choose file(xlsx or xls)' : filePath}}</label>
          </div>

          <div *ngIf="submitted && myForm.controls['myfile'].touched && myForm.controls['myfile'].invalid" class="text-danger">
            <div *ngIf="myForm.controls['myfile'].errors!['required']">File is required.</div>
          </div>
        </div>

        <div class="form-group col-md-6 ml-3 mb-4">
          <app-bulk-upload-notice />
        </div>

      </div>

      <button type="submit" [disabled]="file==null " class="btn btn button-login" style="border: 1px solid;">Upload File</button>
    </form>

    <div class="login-remeber">
      <a href="assets/files/FileProjection.xlsx" download>
        Download employee template here</a>
    </div>
  </div>

  <div class="modal-footer ">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<ng-template #annualReturnModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">List of Projections</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <form [formGroup]="corporateForm" style="margin-bottom: 30px;">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="businessName" class="input-label pull-left">Business Name
            </label>
            <input type="text" formControlName="businessName" class="form-control" id="businessName"
              placeholder="Business Name" [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls['businessName'].errors }" />

            <div *ngIf="submitted &amp;&amp; corporateForm.controls['businessName'].errors" class="text-danger">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="businessID" class="input-label pull-left">Business RIN
            </label>
            <input type="text" formControlName="businessID" class="form-control" id="businessID" [attr.readonly]="true"
              placeholder="Business RIN"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls['businessID'].errors }" />
            <div *ngIf="submitted &amp;&amp; corporateForm.controls['businessID'].errors" class="text-danger">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="companyName" class="input-label pull-left">Company Name
            </label>
            <input type="text" formControlName="companyName" class="form-control" id="companyName"
              placeholder="Company Name" [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls['companyName'].errors }" />

            <div *ngIf="submitted &amp;&amp; corporateForm.controls['companyName'].errors" class="text-danger">
            </div>
          </div>

          <div class="form-group col-md-3">
            <label for="companyID" class="input-label pull-left">Company RIN
            </label>
            <input type="text" formControlName="companyID" class="form-control" id="companyID" placeholder="Company RIN"
              [attr.readonly]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; corporateForm.controls['companyID'].errors }" />
            <div *ngIf="submitted &amp;&amp; corporateForm.controls['companyID'].errors" class="text-danger">

            </div>
          </div>
        </div>
      </form>

      <div class="header-btn">

        @if (anyEmployeeActive()) {
          <button
          type="button"
          class="btn btn-outline-success role float-right mx-2"
          style="font-size: 12px; padding: 5px; margin-top: -3px"
          (click)="markAllEmployeeInActive()" [disabled]="btnLoading()"
          [disabled]="!anyEmployeeActive() || btnLoading()"
          >
          Mark All Inactive
          </button>
        }@else {
          <button
          type="button"
          class="btn btn-outline-success role float-right mx-2"
          style="font-size: 12px; padding: 5px; margin-top: -3px"
          (click)="markAllEmployeeInActive(true)" [disabled]="btnLoading()"
          [disabled]="anyEmployeeActive() || btnLoading()"
          >
          Mark All Active
          </button>
        }

        <button
        *ngIf="apidataEmpty"
        type="submit"
        (click)="fileFormH3(fileFormH3Modal)"
        [disabled]="annualReturnsData == null"
        class="btn btn button-login" style="border: 1px solid;">
        <i class="fas fa-plus-square"></i> Forward Schedule
      </button>
      </div>

      <div>
        <table class="table table-bordered table-condensed" *ngIf="annualReturnsData" datatable [dtOptions]="dtOptions"
        width="100%">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Taxpayer RIN</th>
            <th>Firstname</th>
            <th>Surname</th>

            <th>Designation</th>
            <th>Nationality</th>
            <th>Total Income (₦)</th>
            <th>Annual Tax Paid (₦)</th>
            <th>Months</th>

            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mydata of annualReturnsData(); index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ mydata?.rin }}</td>
            <td>
              {{ mydata?.firstname == null ? "N/A" : mydata?.firstname | titlecase }}
            </td>
            <td>
              {{ mydata?.surname == null ? "N/A" : mydata?.surname | titlecase }}
            </td>

            <td>{{ mydata?.designation == undefined ? "N/A" : mydata?.designation | titlecase }}</td>
            <td>{{ mydata?.nationality == null ? "N/A" : mydata?.nationality | titlecase }}</td>

            <td>{{ mydata?.rent + mydata?.transport + mydata?.basic + mydata?.otherIncome | number }}</td>
            <td>{{ mydata?.annualtaxpaid  == null ? "N/A" : mydata?.annualtaxpaid | number }}</td>
            <td>{{ mydata?.numberOfMonths  == null ? "N/A" : mydata?.numberOfMonths | number }}</td>
            <!-- <td>{{ mydata?.lifeassurance | number }}</td> -->

            <td title="Edit">
              <button class="btn btn-sm btn-outline-success" (click)="editAnnualReturn(annualReturnDetailsModal, mydata)">
                <i class="nav-icon fas fa-edit"></i>
              </button>
            </td>
            <td>
              <ng-toggle
              [value]="mydata?.statusName?.toLowerCase() === 'active'"
              [color]="{
                unchecked: '#939da2',
                checked: '#00773B'
              }"
              (change)="
                switchStatus($event, mydata)
              " />
            </td>
          </tr>
        </tbody>
      </table>
      </div>

    </div>
  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-outline-dark button-login float-right" (click)="modal.close('Save click')">
      Ok
    </button>
  </div>
</ng-template>

<ng-template #fileFormH3Modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">File Form H3</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <form [formGroup]="fileFormH3Form" (ngSubmit)="onSubmitFileFormH3(fileFormH3Form.value)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="scheduleYear">Filing Year</label>
              <select name="scheduleYear" formControlName="scheduleYear" id="scheduleYear" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted &amp;&amp; fileFormH3Form.controls['scheduleYear'].errors }">
              <option value="" disabled>Select Filing Year</option>
              <option *ngFor="let assessmentYear of assessmentYears" [value]="assessmentYear.id">
                {{ assessmentYear.year }}
              </option>
            </select>
            <div
              *ngIf="submitted &amp;&amp; fileFormH3Form.controls['scheduleYear'].errors"
              class="text-danger">
              <div *ngIf="fileFormH3Form.controls['scheduleYear'].errors['required']">
                Filing Year is required
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn button-login" style="border: 1px solid;">
          <!-- <i class="fas fa-save"></i> Save Schedule -->
          <i class="fas fa-save"></i> File Form H3
        </button>
      </form>       
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button
      type="button"
      (click)="postApproveProjection()"
      class="btn btn button-login mr-3">
      Approve
    </button> -->

    <button
      type="button"
      class="btn btn-outline-dark button-login"
      (click)="modal.close('Save click')">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #annualReturnDetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Annual Return Details</h4>
  </div>

  <div class="modal-body">
    <div class="container">
      <form [formGroup]="annualReturnForm" (ngSubmit)="onSubmitAnnualReturn(annualReturnForm.value)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="taxPayerID">Taxpayer RIN</label>
            <input type="text" formControlName="taxPayerID" class="form-control" [attr.disabled]="true"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['taxPayerID'].errors" class="text-danger">
              <!-- <div *ngIf="annualReturnForm.controls.taxPayerID.errors['required']">First Name is required</div> -->
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="basicIncome">Basic Income<sup style="font-weight: 800"
                class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="basicIncome" class="form-control" (keyup)="calculateAnnualGross($event)"
              placeholder="Basic Income"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['basicIncome'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['basicIncome'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['basicIncome'].errors['required']">
                Basic Income required
              </div>
              <div *ngIf="annualReturnForm.controls['basicIncome'].errors['pattern']">
                Basic Income must be Number with only two digits allowed after
                the decimal
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Firstname
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['firstName'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['firstName'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['firstName'].errors['required']">
                First Name is required
              </div>
              <div *ngIf="annualReturnForm.controls['firstName'].errors['pattern']">
                First Name cannot contain numeric value
              </div>
              <div *ngIf="annualReturnForm.controls['firstName'].errors['maxlength']">
                First Name must be at most 30 characters
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="rent">Rent</label>
            <input type="text" formControlName="rent" class="form-control" placeholder="Rent"
              (keyup)="calculateAnnualGross($event)"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['rent'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['rent'].errors" class="text-danger">
              <!-- <div *ngIf="annualReturnForm.controls.rent.errors['required']">
                    Rent required
                  </div> -->
              <div *ngIf="annualReturnForm.controls['rent'].errors['pattern']">
                Rent must be Number with only two digits allowed after the
                decimal
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="middleName">Middle Name</label>
            <input type="text" formControlName="middleName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['middleName'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['middleName'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['middleName'].errors['required']">
                Middle Name is required
              </div>
              <div *ngIf="annualReturnForm.controls['middleName'].errors['pattern']">
                Middle Name cannot contain numeric value
              </div>
              <div *ngIf="annualReturnForm.controls['middleName'].errors['maxlength']">
                Middle Name must be at most 30 characters
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="transport">Transport
            </label>
            <input type="text" formControlName="transport" class="form-control" (keyup)="calculateAnnualGross($event)"
              placeholder="transport"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['transport'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['transport'].errors" class="text-danger">
              <!-- <div *ngIf="annualReturnForm.controls.transport.errors['required']">
                    Transport required
                  </div> -->
              <div *ngIf="annualReturnForm.controls['transport'].errors['pattern']">
                Transport must be Number with only two digits allowed after the
                decimal
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="surname">Surname
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="surname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['surname'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['surname'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['surname'].errors['required']">
                Surname is required
              </div>
              <div *ngIf="annualReturnForm.controls['surname'].errors['pattern']">
                Surname cannot contain numeric value
              </div>
              <div *ngIf="annualReturnForm.controls['surname'].errors['maxlength']">
                Surname must be at most 30 characters
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="otherIncome">Other Income
            </label>
            <input type="text" formControlName="otherIncome" class="form-control" (keyup)="calculateAnnualGross($event)"
              placeholder="Other Income"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['otherIncome'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['otherIncome'].errors" class="text-danger">
              <!-- <div *ngIf="annualReturnForm.controls['transport'].otherIncome.errors['required']">
                      otherIncome required
                    </div> -->
              <div *ngIf="annualReturnForm.controls['otherIncome'].errors['pattern']">
                Other Income must be Number with only two digits allowed after
                the decimal
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="NHF">National Housing Fund (NHF)</label>
            <input type="text" formControlName="NHF" class="form-control" (keyup)="calculateGrossIncome($event)"
              placeholder="National Housing Fund" [attr.disabled]="disableEmployeeControl"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['NHF'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['NHF'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['NHF'].errors['pattern']">
                National Housing Fund must be Number with only two digits
                allowed after the decimal
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="NHIS">National Health Insurance Scheme (NHIS)</label>
            <input type="text" formControlName="NHIS" class="form-control" (keyup)="calculateGrossIncome($event)"
              placeholder="National Health Insurance Scheme" [attr.disabled]="disableEmployeeControl"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['NHIS'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['NHIS'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['NHIS'].errors['pattern']">
                National Health Insurance Scheme must be Number with only two
                digits allowed after the decimal
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pension">Pension<sup class="ml-1 font-wegiht-bold text-danger"></sup></label>
            <input type="text" formControlName="pension" class="form-control" placeholder="Pension"
              [attr.disabled]="disableEmployeeControl" (keyup)="calculateGrossIncome($event)"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['pension'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['pension'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['pension'].errors['required']">
                Pension is required
              </div>
              <div *ngIf="annualReturnForm.controls['pension'].errors['pattern']">
                Pension must be Number with only two digits allowed after the
                decimal
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="lifeAssurance">Life Assurance</label>
            <input type="text" formControlName="lifeAssurance" class="form-control" placeholder="Life Assurance"
              (keyup)="calculateGrossIncome($event)" [attr.disabled]="disableEmployeeControl"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['lifeAssurance'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['lifeAssurance'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['lifeAssurance'].errors['pattern']">
                Life Assurance must be numbers with only two digits allowed
                after the decimal
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
            <label for="monthlyIncome">Monthly Income (₦)
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="monthlyIncome" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['monthlyIncome'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['monthlyIncome'].errors['required']">
                Monthly Income is required
              </div>
              <div *ngIf="annualReturnForm.controls['monthlyIncome'].errors['pattern']">
                Monthly Income must be Number Only
              </div>
            </div>
          </div> -->

          <div class="form-group col-md-6">
            <label for="annualGrossIncome">Annual Gross (₦)
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="annualGrossIncome" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualGrossIncome'].errors" class="text-danger">
              <div *ngIf="
                    annualReturnForm.controls['annualGrossIncome'].errors['required']
                  ">
                Annual Gross Income is required
              </div>
              <div *ngIf="
                    annualReturnForm.controls['annualGrossIncome'].errors['pattern']
                  ">
                Annual Gross Income must be Number Only
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="annualTaxPaid">Annual Tax Paid (₦)
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="annualTaxPaid" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['annualTaxPaid'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['required']">
                Annual Tax Paid is required
              </div>
              <div *ngIf="annualReturnForm.controls['annualTaxPaid'].errors['pattern']">
                Annual Tax Paid must be Number Only
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="months">Months
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="months" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['months'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['months'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['months'].errors['required']">
                Months is required
              </div>
              <div *ngIf="annualReturnForm.controls['months'].errors['pattern']">
                Months must be Number Only
              </div>
              <div *ngIf="annualReturnForm.controls['months'].errors['maxlength']">
                Months must be at most 2 characters
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="designation">Designation
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="designation" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['designation'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['designation'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['designation'].errors['required']">
                Designation is required
              </div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="nationality">Nationality
              <sup style="font-weight: 800" class="ml-1 font-wegiht-bold text-danger">*</sup>
            </label>
            <input type="text" formControlName="nationality" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; annualReturnForm.controls['nationality'].errors }" />
            <div *ngIf="submitted &amp;&amp; annualReturnForm.controls['nationality'].errors" class="text-danger">
              <div *ngIf="annualReturnForm.controls['nationality'].errors['required']">
                Nationality is required
              </div>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn button-login" style="border: 1px solid;">
          Save Annual Return
        </button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">
      Ok
    </button>
  </div>
</ng-template>