<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" id="smp-content">
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <!-- <div class="row"> -->
            <!-- Left col -->

            <!-- MAP & BOX PANE -->
            <div class="card">
                <div class="card-header card-bg ">

                    <h3 class="card-title mt-2 ms-3">Profiling Requests </h3>

                </div>

                <div class="card-body">
                    <div class="col-auto mbm-30" >
                        <div class="row m-35" *ngIf="profileReqData">
                            <div class="col-sm-4"  style="z-index: 1;">
                                <span>Show &nbsp; </span>
                                <select (change)="setItemsPerPage(page.value)" #page>
                                    <option [selected]="currentPageLength == 10">10</option>
                                    <option [selected]="currentPageLength == 30">30</option>
                                    <option [selected]="currentPageLength == 50">50</option>
                                    <option [selected]="currentPageLength == 100">100</option>
                                    <option [selected]="currentPageLength == 500">500</option>
                                    <option [selected]="currentPageLength == 1000">1000</option>
                                </select>
                                <span> &nbsp; entries </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                          <table class="table table-bordered table-sm row-border hover mt-4" id="example2"
                          *ngIf="profileReqData" datatable [dtOptions]="dtOptions">
                          <thead style="white-space: nowrap;">
                              <tr>
                                  <th>S/N</th>
                                  <th>Consumer name</th>
                                  <th>Contract Reference</th>      
                                  <th>Asset Reference</th>
                                  <th>Asset Name</th>
                                  <th>Category</th>
                                  <th>Sub Category</th>
                                  <!-- <th>Profiling Status</th> -->
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody style="white-space: nowrap;">
                              <tr *ngFor="let mydata of profileReqData | paginate : config; let i = index">
                                  <td>{{ config.itemsPerPage * (config.currentPage - 1) + i + 1 }}</td>
                                  <td>{{ mydata.consumer_first_name }}   {{ mydata.consumer_last_name }}</td>
                                  <td>{{ mydata.contract_reference }}</td>                      
                                  <td>{{ mydata.asset_reference }}</td>
                                  <td>{{ mydata.asset_name }}</td>
                                  <td>{{ getConsumerCategoryById(mydata.consumer_category_id) }}</td>
                                  <td>{{ getConsumerSubCategoryById(mydata.consumer_sub_category_id) }}</td>


                                  <!-- <td style="width: 10%">


                                      <select [(ngModel)]="mydata.profile_status_id"  (change)="onSelectProfile(mydata)"  class="form-select">
                                          <option *ngFor="let data of profilingStatus" [value]="data.id" [selected]="mydata.profile_status_id">
                                            {{ data.name }}
                                          </option>
                                          </select>
                                    </td> -->
                                  <td style="width:10%">
                                      <button class="btn btn-sm btn-outline-success"
                                          (click)="viewSingleProfile(viewSingleProfilerModal, mydata)">
                                          <i class="nav-icon fas fa-eye"></i> View
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                        </div>

                        <div class="row m-0 mt-3">
                            <div class="col-sm-6">
                                <div id="page_info" class="record-show-text-bottom" *ngIf="profileReqData">


                                    Showing
                                    {{ (config.currentPage - 1) * config.itemsPerPage + 1 }} -
                                    {{ config.currentPage * config.itemsPerPage }} &nbsp; of
                                    &nbsp;{{ config.totalItems }}
                                    &nbsp; entries
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div *ngIf="profileReqData">
                                    <pagination-controls (pageChange)="pageChange($event)" class="float-right">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>



<ng-template #viewSingleProfilerModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Single Profiling Request </h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><strong>Current Profile</strong></div>
          <div class="card-body">
            <div class="c-list-description p-0" *ngIf="currentProfileData">
              <div>
                <div class="c-list-description-section">
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Asset Reference</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{currentProfileData.asset_reference}}</strong></div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Asset Name</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{currentProfileData.asset_name }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Contract Reference</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ currentProfileData.contract_reference }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Tariff</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getTariffId(currentProfileData.tariff_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Sub Tariff</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getSubtariff(currentProfileData.sub_tariff_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Group</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ currentProfileData.bill_group_name }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Cycle</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getbillingCycleById(currentProfileData.billing_cycle_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Type</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getbillTypeById(currentProfileData.bill_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Local Government</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getLocalGovernmentById(currentProfileData.local_government_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Approval Status</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getApprovalById(currentProfileData.approval_status_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Connection Address</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ currentProfileData.connection_address }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><strong>Proposed Profile</strong></div>
          <div class="card-body">
            <div class="c-list-description p-0" *ngIf="updatedProfileData">
              <div>
                <div class="c-list-description-section">
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Asset Reference</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{updatedProfileData.asset_reference}}</strong></div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Asset Name</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{updatedProfileData.asset_name }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Contract Reference</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ updatedProfileData.contract_reference }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Tariff</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getTariffId(updatedProfileData.tariff_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Sub Tariff</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getSubtariff(updatedProfileData.sub_tariff_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Group</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ updatedProfileData.bill_group_name }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Cycle</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getbillingCycleById(updatedProfileData.billing_cycle_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                    <div class="c-list-text-special-left"><strong>Billing Type</strong></div>
                    <div class="c-list-text-special-right"><strong class="text-p">{{ getbillTypeById(updatedProfileData.bill_type_id) }}</strong>
                    </div>
                  </div>
                  <div class="c-list mb-3 border-bottom">
                      <div class="c-list-text-special-left"><strong>Local Government</strong></div>
                      <div class="c-list-text-special-right"><strong class="text-p">{{ getLocalGovernmentById(updatedProfileData?.local_government_id) }}</strong>
                      </div>
                    </div>
                
                    <div class="c-list mb-3 border-bottom">
                      <div class="c-list-text-special-left"><strong>Approval Status</strong></div>
                      <div class="c-list-text-special-right"><strong class="text-p">{{ getprofilingStatusById(updatedProfileData?.profile_status_id) }}</strong>
                      </div>
                    </div>
                    <div class="c-list mb-3 border-bottom">
                      <div class="c-list-text-special-left"><strong>Connection Address</strong></div>
                      <div class="c-list-text-special-right"><strong class="text-p">{{ updatedProfileData.connection_address }}</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark button-login" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
